<div id="cpestana1">
	<div class="col-lg-12 colmd-12 pt_1">
		<a class="cont_pestana_l" href="#">
			<span class="h_47_LightC left pr_5 color_687a8b">Agregar cliente</span>
			<i class="f_23 fa fa-plus-circle left"
			style="color:{{configuraciones[0]['estilo_consola_secundario_texto_color']}}"></i>
		</a>
		<span class="h_47_LightC pr_5 pl_4em color_687a8b">Jerarquía</span>
		<select name="jerarquia" class="combx">
			<option value="todos">Todas</option>
		</select> 
		<a href="#" class="right"><i class="f_21 fa fa-file-excel-o"
		style="color:{{configuraciones[0]['estilo_consola_secundario_texto_color']}}"></i></a>
		<!--<img src="images/ico_notex.png" alt="" class="mt_1">-->
	</div>
	<table class="table tabla_usuarios f_15">
		<thead>
			<tr>
				<th class="w_5_por borde_azul h_Cond">&nbsp;</th>
				<th class="w_35_por borde_azul pl_0">Cliente / Contacto</th>
				<th class="w_30_por text-center">Jerarquía</th>
				<th class="w_20_por text-center">Identificación</th>
				<th class="w_10_por bb_0">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Alejandro Castillo</td>
				<td class="text-center">Preferente</td>
				<td class="text-center">05467812</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>						
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Oswaldo Melendes</td>
				<td class="text-center">Preferente</td>
				<td class="text-center">06844267</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr class="active">
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Guillermo Valdez</td>
				<td class="text-center">Regular</td>
				<td class="text-center">09547623</td>
				<td class="bb_0"><i class="color_rojo fa fa-times"></i></td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Veronica Rivas</td>
				<td class="text-center">No cliente</td>
				<td class="text-center">12587436</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Milagros Aguilera</td>
				<td class="text-center">Regular</td>
				<td class="text-center">15894675</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Edgar Granado</td>
				<td class="text-center">Regular</td>
				<td class="text-center">09587632</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Maria Elena Madrid</td>
				<td class="text-center">No cliente</td>
				<td class="text-center">08745423</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Paola Sosa</td>
				<td class="text-center">No cliente</td>
				<td class="text-center">16587426</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Jose Quijada</td>
				<td class="text-center">Preferente</td>
				<td class="text-center">07594687</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Francisco Arbelaez</td>
				<td class="text-center">Preferente</td>
				<td class="text-center">12847591</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Andreina Sanchez</td>
				<td class="text-center">Regular</td>
				<td class="text-center">13847524</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>