<div id="cpestana" class="pestana_datos">
	<div class="col-lg-12 col-md-12 mt_25 ml_4em pb_1-5em">
		<div class="row">
			<div class="ico-check">
				<i class="fa fa-check-circle-o"></i>
				<span>La importación <br>se realizó con éxito</span>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 pb_7em ml_4em">
		<div class="row">
			Puede comprobar los datos cargados <br>
			y las prioridades ingresando a las <br>
			pestañas de clientes y jerarquías.
		</div>	
	</div>
	<div class="col-lg-12 col-md-12 text-left">
		<div class="row pb_2em">
			<span class="h_Cond">Detalles de la importación:<br></span>
			12548 Contactos cargados con éxito <br>
			Archivo cargado: Clientes20151015.xls <br>
			Fecha de carga: 2015/10/15	
		</div>
	</div>
</div>