<div id="cpestana3" class="pestana_datos">
	<span>PASO 2 <span class"f_23 color_celeste">Verificación de datos</span></span>
	<div class="col-lg-12 col-md-12 mt_25 ml_3em">
		<div class="row">
			<div class="ico-exclamacion">
				100 Clientes cargados con éxito<br>
				5 clientes sin nombre<br>
				3 clientes sin código <br>
				2 clientes sin jerarquía <br>
				<i class="fa fa-exclamation-triangle"></i>
				<span class="mt_10 color_rojo">Información inconsistente<br>No se puede importar datos<br></span>	
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 mt_10 ml_3em">
		<div class="row">
			<a href="#"><div class="boton-reiniciar">REINICIAR IMPORTACIÓN<i class="fa fa-chevron-left"></i></div></a>
		</div>	
	</div>
	<div class="col-lg-12 col-md-12 text-left">
		<div class="row pb_2em">
			<span class="h_Cond">Detalles de la importación:<br></span>
			12548 Contactos cargados con éxito <br>
			Archivo cargado: Clientes20151015.xls <br>
			Fecha de carga: 2015/10/15		
		</div>
	</div>
</div>
