<div id="cpestana" class="pestana_datos">
	<span>PASO 1 <span class"f_23 color_celeste">Buscar</span></span>
	<div class="col-lg-12 col-md-12 mt_25 ml_8em">
		<div class="row">
			<div class="circle-search">
				<i class="color_blanco fa fa-search"></i>
				<span class="mt_10">Archivo<br>Formato<br><span class="color_celeste">XLS</span></span>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 mt_20 ml_3em">
		<div class="row">
			<span>Nombre del archivo de datos</span>
			<input type="text" placeholder="Clientes20151015.xls">
			<a href="#"><div class="boton-blue">CONTINUAR <i class="fa fa-chevron-right"></i></div></a>
		</div>	
	</div>
	<div class="col-lg-12 col-md-12 text-left">
		<div class="row pb_2em">
			<span class="h_Cond">Detalles de la importación:<br></span>
			12548 Contactos cargados con éxito <br>
			Archivo cargado: Clientes20151015.xls <br>
			Fecha de carga: 2015/10/15	
		</div>
	</div>
</div>