<div id="cpestana2">
	<a class="enlace_right mr_10" href="#">
		<span class="h_47_LightC left pr_5">Agregar jerarquía</span>
		<i class="f_23 color_verde fa fa-plus-circle left"></i>
	</a>
	<table class="table tabla_usuarios">
		<thead>
			<tr>
				<th class="w_5_por borde_azul">&nbsp;</th>
				<th class="w_30_por borde_azul pl_0">Jerarquías</th>
				<th class="w_40_por">&nbsp;</th>
				<th class="w_15_por">&nbsp;</th>
				<th class="w_10_por bb_0">&nbsp;</th>
			</tr>
		</thead>
		<tbody class="f_15">
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Clientes Preferentes</td>
				<td class="f_13 bb_0 a4afb9 color_celeste cursiva">máxima prioridad</td>
				<td class="text-center bb_0"></td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Clientes Regulares</td>
				<td class="text-center bb_0"></td>
				<td class="text-center bb_0"></td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr class="active">
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">No Clientes</td>
				<td class="text-center bb_0"></td>
				<td class="text-center bb_0">
					<i class="mr_8 f_15 color_celeste fa fa-chevron-up"></i>
					<i class="f_15 color_celeste fa fa-chevron-down"></i>
				</td>
				<td class="text-center bb_0"><i class="fa fa-lock c596B79"></i></td>
			</tr>
		</tbody>
	</table>
</div>