<form class="plr_15 pt_1" ng-controller="FileCtrl" name="form_v_generales">		
	<table class="table tabla_videos">
		<thead>
			<tr>
				<td class="pl_0 bb_0 color_7fd0d9" colspan="2">
					<ANY translate="pagina.configuracion.estilos.slide.videos.tab.item1.form.grupo1.titulo"></ANY>
				</td>
				<td class="pl_0 bb_0 text-right color_7fd0d9">
					<ANY translate="pagina.configuracion.estilos.slide.videos.tab.item1.form.grupo2.titulo"></ANY>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="pl_0">
					<i class="fa" 
					ng-class="(configuraciones[0]['estilo_video_formato'] == 1) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['estilo_video_formato']"
					ng-click="radio(1)"></i>
				</td>
				<td>
					<ANY translate="pagina.configuracion.estilos.slide.videos.tab.item1.form.grupo1.radio.item1"></ANY>
				</td>
				<td class="h_47_LightC text-right pointer">
					<ANY translate="pagina.configuracion.estilos.slide.videos.tab.item1.form.grupo2.check"></ANY> 
					<i class="fa check" 
					ng-class="(configuraciones[0]['estilo_video_sonido'] == 1) ?
					'fa-check-square-o' :
					'fa-square-o color_rojo' "
					ng-click="checked('estilo_video_sonido')"
					ng-model="configuraciones[0]['estilo_video_sonido']"></i>
				</td>
			</tr>
			<tr>
				<td class="pl_0">
					<i class="fa" 
					ng-class="(configuraciones[0]['estilo_video_formato'] == 2) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['estilo_video_formato']"
					ng-click="radio(2)"></i>
				</td>
				<td class="">
					<ANY translate="pagina.configuracion.estilos.slide.videos.tab.item1.form.grupo1.radio.item2"></ANY>
				</td>
				<td class="bb_0 h_47_LightC text-right pointer">&nbsp;</td>
			</tr>
			<tr>
				<td class="pl_0 bb_0 ">
					<i class="fa" 
					ng-class="(configuraciones[0]['estilo_video_formato'] == 3) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['estilo_video_formato']"
					ng-click="radio(3)"></i>
				</td>
				<td>
					<ANY translate="pagina.configuracion.estilos.slide.videos.tab.item1.form.grupo1.radio.item3"></ANY>
				</td>
				<td class="bb_0 h_47_LightC text-right pointer">&nbsp;</td>
			</tr>
			<tr>
				<td class="pl_0 bb_0 ">
					<i class="fa" 
					ng-class="(configuraciones[0]['estilo_video_formato'] == 4) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['estilo_video_formato']"
					ng-click="radio(4)"></i>
				</td>
				<td>
					<ANY translate="pagina.configuracion.estilos.slide.videos.tab.item1.form.grupo1.radio.item4"></ANY>
				</td>
				<td class="bb_0 h_47_LightC text-right pointer">&nbsp;</td>
			</tr>
			<tr>
				<td class="pl_0 bb_0 ">
					<i class="fa" 
					ng-class="(configuraciones[0]['estilo_video_formato'] == 5) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['estilo_video_formato']"
					ng-click="radio(5)"></i>
				</td>
				<td>
					<ANY translate="pagina.configuracion.estilos.slide.videos.tab.item1.form.grupo1.radio.item5"></ANY>
				</td>
				<td class="bb_0 h_47_LightC text-right pointer">&nbsp;</td>
			</tr>
		</tbody>
	</table>	
	<div class="text-center boton_guardar pt_1">
		<i class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="update_v_generales()"></i>
	</div>
</form>