/*html, body { height: 100%; margin: 0; padding: 0; }*/
body{
	font-size: 15px;
	background-color: #f3f4f8;
}
i{
	font-size: 1.5em;
	color: #8293a3;
}
h1{
	padding-bottom: 0.5em;
}
p,
td{
	font-family: 'HelveticaNeue_47_LightCondensed';
	color: #687a8b;
}
th{
	font-family: 'HelveticaNeue_57_Condensed';
	font-weight: 100;
}
a,i{
	outline: none !important;
	text-decoration: none !important;
}
input { 
	padding: 0 5px !important;
}
label {
	font-weight: 100;
}
.nav>li>a:focus, 
.nav>li>a:hover{
	background-color: transparent;
}
.pointer{
	cursor: pointer;
}
.overflow{
	overflow: hidden;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
input[type="file"]{
	display: inline-block !important;
}
/* float */
.left{
	float: left;
}
.right{
	float: right;
}
.inline_block{
	display: inline-block;
}
.block{
	display: block;
}
.h_24{
	height: 24px;
}
/* width */
.w_3_por{
	width: 3%;
} 
.w_5_por{
	width: 5%;
}
.w_9_por{
	width: 9%;
}
.w_10_por{
	width: 10% !important;
}
.w_12_por{
	width: 12%;
}
.w_13_por{
	width: 13%;
}
.w_15_por{
	width: 15%;
}
.w_20_por{
	width: 20%;
}
.w_25_por{
	width: 25%;
}
.w_30_por{
	width: 30%;
}
.w_32_por{
	width: 32%;
}
.w_35_por{
	width: 35%;
}
.w_37_por{
	width: 37%;
}
.w_40_por{
	width: 40%;
}
.w_42_por{
	width: 42%;
}
.w_44_por{
	width: 44%;
}
.w_45_por{
	width: 45%;
}
.w_47_por{
	width: 47%;
}
.w_52_por{
	width: 52%;
}
.w_55_por{
	width: 55%;
}
.w_57_por{
	width: 57%;
}
.w_60_por{
	width: 60%;
}
.w_65_por{
	width: 65%;
}
.w_90_por{	
	width: 90%;		
}
.w_100_por{	
	width: 100%;		
}
.w_32{
	width: 32px;
}
.w_37{
	width: 37px;
}
.w_45{
	width: 45px;
}
.w_55{
	width: 55px;
}
.w_70{
	width: 70px;
}
.w_75{
	width: 75px;
}
.w_80{
	width: 80px;
}
.w_90{
	width: 90px;
}
.w_115{
	width: 115px;
}
.w_120{
	width: 120px;
}
.w_140{
	width: 140px;
}
.w_150{
	width: 150px;
}
.w_160{
	width: 160px;
}
.w_180{
	width: 180px;
}
.w_225{
	width: 225px;
}
.w_290{
	width: 290px;
}
/* fonts */
.h_37_ThinC{
	font-family: 'HelveticaNeue_37_ThinCondensed';
}
.h_47_LightC{
	font-family: 'HelveticaNeue_47_LightCondensed';
}
.h_Cond{
	font-family: 'HelveticaNeue_57_Condensed' !important;
}
.h_Thin{
	font-family: 'HelveticaNeue_Thin';
}
.h_Roman{
	font-family: 'HelveticaNeue_Roman';
}
.cursiva{
	font-style: italic;
}
.f_weight100 {
	font-weight: 100;
}
/* fondos y colores */
.ffffff{
	background-color: #fff;	
}
.f3f4f8{
	background-color: #f3f4f8;	
}
.e5edf0{
	background-color: #e5edf0;
}
.fadddd{
	background-color: #fadddd!important	
}
.8dc63f{
	background-color: #8dc63f !important;
}
.7fd0d9{
	background-color: #7fd0d9 !important;
}
.4cbdca{
	background-color: #4cbdca !important;
}
.color_F7D0D1{
	color: #F7D0D1;
}
.color_blanco{
	color:#fff !important;
}
.color_rojo{
	color: #ed7d7b;
}
.color_rojo_off{
	color: #fadddd !important;
}
.color_verde{
	color: #8CC63E;
}
.color_687a8b{
	color: #687a8b !important;
}
.color_gris_oscuro{
	color: #586979;
}
.color_a4afb9{
	color: #a4afb9;
}
.color_gris_claro{
	color: #a6b0ba;
}
.color_8293a3{
	color: #8293a3;
}
.color_amarillo{
	color: #ede664;
}
.color_azul{
	color: #44aac3;
}
.color_celeste{
	color: #7dcfda !important;
}
.color_7fd0d9{
	color: #7fd0d9 !important;
}
.color_morado{
	color: #8f68d3;
}
.color_purpura{
	color: #bf63ce;
}
.color_melon{
	color: #f1b67e;
}
.e07877{
	color: #e07877;
}
.e1af6a{
	color: #e1af6a;
}
.dbe4e9{
	color: #dbe4e9;
}
.a4afb9{
	color: #a4afb9
}
.c596B79{
	color: #596B79;
}
.fondo_rojo{
	font-size: 45px;
	background-color: #ed7d7d;
	color: #fff;
	border-radius: 45px;
	padding: 4px 10px 6px 9px;
}
.fondo_celeste{
	font-size: 45px;
	background-color: #7fd0d9;
	color: #fff;
	border-radius: 45px;
	padding: 5px 8px 5px 8px;
	padding-left: 6px;
}
/* bordes */
.bb_0{
	border-bottom: 0;
}
.bb_1{
	border-bottom: 1px solid #e3e6eb;
}
.bt_1{
	border-top:	1px solid #e3e6eb;
}
/* padding y margin */
.p_0{
	padding: 0;
}
.p_10{
	padding: 10px;
}
.padding_center{
	padding-top: 55px;
}
.plr_15{
	padding: 0 15px;
}
.plr_3em{
	padding: 0 3em;
}
.pr_0{ 
	padding-right: 0 !important;
}
.pr_5{
	padding-right: 5px;
}
.pr_6{ 
	padding-right: 6px;
}
.pr_1em{
	padding-right: 1em;
}
.pr_2em{
	padding-right: 2em;
}
.pr_3em{
	padding-right: 3em;
}
.pl_0{
	padding-left: 0 !important;
}
.pl_1em{
	padding-left: 1em;
}
.pl_2em{
	padding-left: 2em;
}
.pl_3em{
	padding-left: 3em;
}
.pl_4em{
	padding-left: 4em;
}
.pl_4-5em{
	padding-left: 4.5em;
}
.pl_5{
	padding-left: 5px;
}
.pl_10{
	padding-left: 10px;
}
.pl_12{
	padding-left: 12px !important;
}
.pl_50{
	padding-left: 50px;
}
.pl_70{
	padding-left: 70px;
}
.pl_87{
	padding-left: 87px;
}
.pt_2px{
	padding-top: 2px;
}
.pt_4{
	padding-top: 4px;
}
.pt_5{
	padding-top: 5px;
}
.pt_7{
	padding-top: 7px;
}
.pt_10{
	padding-top: 10px;
}
.pt_20{
	padding-top: 20px;
}
.pt_1{
	padding-top: 1em;
}
.pt_1-5em{
	padding-top: 1.5em;
}
.pt_2{
	padding-top: 2em;
}
.pt_2-5em{
	padding-top: 2.5em;
}
.pt_4em{
	padding-top: 4em;
}
.pt_5em{
	padding-top: 5em;
}
.pb_10{
	padding-bottom: 10px;
}
.pb_03em{
	padding-bottom: 0.3em;
}
.pb_1em{
	padding-bottom: 1em;
}
.pb_1-5em{
	padding-bottom: 1.5em !important;
}
.pb_2em{
	padding-bottom: 2em;
}
.pb_3em{
	padding-bottom: 3em;
}
.pb_5em{
	padding-bottom: 5em;
}
.pb_7em{
	padding-bottom: 7em;
}
.ml_0{
	margin-left: 0;
}
.ml_-6{
	margin-left: -6px;
}
.ml_10{
	margin-left: 10px;
}
.ml_15{
	margin-left: 15px;
}
.ml_17{
	margin-left: 17px;
}
.ml_20{
	margin-left: 20px;
}
.ml_25{
	margin-left: 25px;
}
.ml_30{
	margin-left: 30px;
}
.ml_40{
	margin-left: 40px;
}
.ml_44{
	margin-left: 44px;
}
.ml_67{
	margin-left: 67px;
}
.ml_3em{
	margin-left: 3em;
}
.ml_4em{
	margin-left: 4em;
}
.ml_8em{
	margin-left: 8em;
}
.mr_0{
	margin-right: 0;
}
.mr_5{
	margin-right: 5px;
}
.mr_8{
	margin-right: 8px;
}
.mr_10{
	margin-right: 10px;
}
.mr_15{
	margin-right: 15px;
}
.mt_-10 {
	margin-top: -10px;
}
.mt_-2{
	margin-top: -2px;
}
.mt_0{
	margin-top: 0;
}
.mt_1 {
	margin-top: 1px;
}
.mt_10 {
	margin-top: 10px;
}
.mt_20 {
	margin-top: 20px;
}
.mt_25 {
	margin-top: 25px;
}
.mt_30 {
	margin-top: 30px;
}
.mb_-7{
	margin-bottom: -7px;
}
.mb_0{
	margin-bottom: 0;
}
.mb_5{
	margin-bottom: 5px;
}
.m_0{
	margin: 0;
}
.mlr_10{
	padding: 0 10px;
}
/* size font */
.f_13{
	font-size: 13px !important;
}
.f_14{
	font-size: 14px;
}
.f_15{
	font-size: 15px;
}
.f_16{
	font-size: 16px;
}
.f_19{
	font-size: 19px;
}
.f_21{
	font-size: 21px;
}
.f_23{
	font-size: 23px !important;
}
.f_25{
	font-size: 25px !important;
}
.f_29{
	font-size: 29px !important;
}
.f_32{
	font-size: 32px !important;
}
.f_33{
	font-size: 33px !important;
}
.f_40{
	font-size: 40px;
}
.f_47{
	font-size: 47px;
}
.f_48{
	font-size: 48px;
}
.f_50{
	font-size: 50px;
}
.f_52{
	font-size: 52px;
}
.f_55{
	font-size: 55px;
}
.f_75{
	font-size: 75px;
}
.f_90{
	font-size: 90px;
}
.f_1em{
	font-size: 1em;
}
.f_15em{
	font-size: 1.5em !important;
}
.f_3em{
	font-size: 3em;
}
.f_4em{
	font-size: 4em;
}
.f_5em{
	font-size: 5em;
}
.lh_30{
line-height: 30px;
}
.line_height25 td{
line-height: 25px !important;
}
/* circle */
.circle{
	border-radius: 50%;
	background-color: #cce9a4;
	width: 106px;
	height: 106px;
}
.circle_gris{
	background-color: #d8e6e9;
}
.circle a{
	display: block;
	text-align: center;
}
.circle i{
	color: #fff;
	line-height: 106px;
}
/* Iconos superiores y laterales */
.navbar i,
.sidebar i{
	font-size: 16px;
}
/* block */
.none{
	display: none;
}
.block{
	display: block ;
}
.block_imp{
	display: block !important;
}
/* Navegacion superior */
.navbar-header{
	height: 53px;
}
.menu_superior{
	position: fixed;
	left: 0;
	right: 0;
	padding-left: 50px;
	z-index: 99;
}
.navbar-default{
	margin: 0;
	border-bottom: 1px 0 solid #e3e6eb;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}
#logo{
	height: 53px;
}
#logo a{
	padding-top:13px !important;
	padding-bottom:13px !important;
}
#logo_htpgo a{
	padding-left: 0;
}
.title_app{
	color: #596a7a;
	display: block;
  	float: right;
	font-size: 21px;
  	padding-left: 10px;
  	padding-top: 3px;
}
.title_left{
	float: left !important;
}
.usuario{
	background-color: transparent;
	color: #3fb8c6 !important;
	font-size: 15px;
}
.usuario:hover{
	color: #40B8C8;
}
/* slidebar */
.sidebar{
	background-color: #161d23;
	padding: 0;
}
.sidebar nav{
	border: 0;
}
.sidebar a{
	display: block;
	padding: 8px !important;
}
.sidebar ul li a:hover,
.sidebar ul li a.active,
.sidebar ul li a.active2{
	background-color: #596A7A;
}
.sidebar ul li a:hover i,
.sidebar ul li a.active i,
.sidebar ul li a.active2 i{
	color: #fff;
}
#sidebar_left{
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	z-index: 1000;
}
#sidebar_left a{
  	height: 46px;
  	line-height: 46px;
  	padding: 0 !important;
  	width: 50px;
}
#sidebar_hidden{
	position: relative;
	height: 100%;
}
#sidebar_hidden div{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
/* sub_sidebar */
.contenedor_sidebar{
	position: fixed;
	padding-right: 0;
	margin-right: 0;
	height: 100%;
	top: 54px;
  	z-index: 9;
}
.sub_sidebar{
	background: #ffffff;
  	position: fixed;
  	height: 100%;
  	width: 160px;
  	border-right: 1px solid #e3e6eb;
}
.sub_sidebar ul{
	margin-top: -1px;
}
.sub_sidebar a{
	color: #5A6A79;
	font-family: 'HelveticaNeue_47_LightCondensed';
	font-size: 1em;
	padding: 9px 1em !important;
}
.sub_sidebar i.color_rojo{
	color: #ed7d7b !important;
}
.sub_sidebar ul li a:hover,
.sub_sidebar ul li a:focus,
.sub_sidebar ul li a.active{
	background-color: #80D0D9;
}
.sub_sidebar .title{
	border-bottom: 	1px solid #e3e6eb;
}
.sub_sidebar .title a{
	padding-left: 15px !important;
	font-family: 'HelveticaNeue_47_LightCondensed';
	font-size: 1.2em;
  	padding-top: 11px !important;
  	padding-bottom: 10px !important;
}
.exclamacion{
	font-size: 1em !important;
}
/* cuerpo o contenido */
.contenedor{
	background-color: #e5edf0;
	padding-top: 62px;
}
.cuerpo{
	padding-bottom: 8em;
}
/*footer*/
.footer{
	height: 1.5em;
	background: #4c5d6d;
	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: 0.5;
	z-index: 9999;
}
.grabando{
    text-align: center;
    padding-left: 56px;
    position: absolute;
    bottom: 5.2em;
    width: 205px;
    height: 2.5em;
    background-color: #fff;
}
.grabando span{
	font-family: 'HelveticaNeue_47_LightCondensed';
	border-top: 1px solid #e3e6eb;
	color: #5A6A79;
    height: 2.5em;
    line-height: 2.5em;
    display: block;
    margin-left: 1em;
    margin-right: 1em;
}
.subir{
	background: #e5edf0;
	height: 2.5em;
	width: 100%;
	bottom: 1.5em;
	position: fixed;
}
.boton_subir{
  	background-color: #d8e6e9;
  	color: #8293a3;
  	cursor: pointer;
  	width: 1.5em;
  	display: block;
  	text-align: center;
  	margin: 0 auto;
  	font-size: 1.5em;
  	height: 1.5em;
  	line-height: 1.5em;
}
.subir_active{
	padding-left: 215px;
}
/* PAGINA DE CONFIGURACION */
.configuracion h2{
	margin: 5px 0;
}
/*MEDIA QUERIES */
@media (min-width: 768px){
	.pl_lg_0 {	
		padding-left: 0;		
	}
}
/* Tablas */
tr{
	outline: none !important;
}
th,
td{
	background: transparent !important;
	vertical-align: middle !important;
	outline:none;
}
table td{
	border-top: 0 !important;
	border-bottom: 1px solid #e3e6eb;
}
table thead th.borde_azul{
	border-bottom: 2px solid #7fd0d9 !important;
}

table tbody tr:last-child td{ 
	border:0 !important; 
}
table thead th{
	border-bottom: 1px solid #e3e6eb !important;
	color: #7fd0d9;
	font-size: 16px;
}
table tbody tr:last-child td{
	border-bottom: 0;
}
.border_tabla_absolute,
.border_tabla{
	border-radius: 4px;
	border: 1px solid #e3e6eb;
	overflow: hidden;
}
.combx{
	background-color: #f2f3f8;
	border: 1px solid #e3e6eb;
	color: #687a8b;
	width: 88px;
}

/* Tabla Roles y Tabla Usuarios */
.tabla_roles tr.active td,
.tabla_roles tr:hover td,
.tabla_usuarios tr.active td,
.tabla_usuarios tr:hover td{
	color: #7fd0d9;
	cursor: pointer;
}
.fila_naranja td{	
	color: #f1b67e !important;
}
.table_slide td{
	border:0;
	padding: 0 !important;
}
.table_slide tr:first-child td{
	padding-top: 4px !important;
}

tr.activar .eliminar{
	display: none;
}
tr.activar:hover a,
tr.activar:hover .mapa{
	color: #7fd0d9 !important;
}
tr.desactivar:hover,
tr.activar:hover{
	background-color: #e5edf0; 
}
tr.activar:hover .eliminar{
	display: block;
}
/*TextBox supervision.html*/
.rango_calendar{
	position: relative;
	font-family: 'HelveticaNeue_47_LightCondensed';
	color: #586979;
	padding-bottom: 20px;
	padding-top: 20px;
}
.rango_calendar input{
	padding: 0 23px 0 10px;
	background-color: #f3f4f8;
	border: 1px solid #e3e6eb;
	color: #586979;
}
.rango_calendar i{
	position: absolute;
	right: 5px;
	margin-top: 5px;
}
/*-Icono Music-*/
.formato_cabecera span, 
.formato_cabecera i {
	float: left;
	margin-right: 10px;	
}
.formato_cabecera span {
	color: #ed7d7b;
	font-family: 'HelveticaNeue_57_Condensed';
	display: block;
	line-height: 16px;
	padding-top: 3px;
}

.formato_cabecera i {
	font-size: 27px;
}
.fondo_rojo{
	background-color: #ed7d7d;
	color: #fff;
	border-radius: 45px;
	padding: 5px 9px 6px 9px;
}
.fondo_celeste{
	background-color: #7fd0d9;
	color: #fff;
	border-radius: 45px;
	padding: 6px 7px 5px 7px; 	
}

/*--Parte superior "Agregar <i>"--*/
.etiqueta_add span, 
.etiqueta_add i {
	float: right;
	padding-top: 16px;
}
.etiqueta_add span {
	font-family: 'HelveticaNeue_37_ThinCondensed';
	color: #586979;
	padding-right: 0px;
}
.etiqueta_add i {
	font-size: 21px;
	margin-right: 10px;
	padding-left: 5px;
	margin-top: 1px; 
}
/*-Logica Kiosco-*/
.formato_logicak span,
.formato_logicak i {
	float: left;
	font-size: 15px;
	margin-right: 10px;
}
.formato_logicak span {
	color: #687a8b;
	font-family: 'HelveticaNeue_47_LightCondensed';
	display: block;
	
}
.formato_logicak input {
	border-color: #e3e6eb;
	background-color: #f3f4f8;
	width: 37px;
	margin-left: 10px;
	margin-right: 5px;	
}
.formato_l_h span,
.formato_l_h i {
	line-height: 21px;
}
/*Pestañas*/
.contenedor_pestana{
    background: #fff;
	font-family: "HelveticaNeue_57_Condensed";
	float: top;
    font-size: 15px;
}
#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px -1px -1px -0px;
    background: #e5edf0;
}
#pestanas li a{
	display: block;
    padding: 12px 15px 10px 20px; /*margenes de los tabs*/
    color: #8293a3; /*gris*/
}
#pestanas a:link{
	color: #7fd0d9 !important; /*celeste*/
}
#contenidopestanas{
    clear: both;  
	/* padding-left: 20px;
	padding: 20px 0px 20px 20px; largo de la tabla
    border-top-left-radius: 0px;
    width: 1025px;*/
}
.cont_pestana_l{
	font-size: 15px;
	color: #586979;
	float:left;
	padding-bottom: 2em;
	margin-left: 20px;
}
.cont_pestana_r {
	font-size: 15px;
	color: #586979;
	float:right;
	padding-bottom: 2em;
	margin-right: -5px;
	margin-top: -2px;
}
.enlace_right {
	font-size: 15px;
	color: #586979;
	float:right;
	padding-bottom: 1em;
	margin-right: 10px;
	margin-top: 15px;
}
/*Pestaña Importa Datos*/
.boton-blue{
	background-color: #7dcfda;
	color: #fff;
	height: 30px;
	width: 231px;
	text-align: center;
	padding-top: 5px;
	border-radius: 4px;
	margin-top: 16px;
	margin-bottom: 49px;
}
.boton-blue i{
	float: right;
	color: #fff;
	margin-right: 7px;
	margin-top: 4px;
}
.boton-reiniciar{
	background-color: #ed7d7d;
	color: #fff;
	height: 30px;
	width: 231px;
	text-align: center;
	padding-top: 5px;
	border-radius: 4px;
	margin-top: 16px;
	margin-bottom: 49px;
}
.boton-reiniciar i{
	float: left;
	color: #fff;
	margin-left: 7px;
	margin-top: 4px;
}
.boton-cancelar{
	background-color: #ed7d7d;
	color: #fff;
	float: left;
	height: 30px;
	width: 103px;
	text-align: center;
	padding-top: 5px;
	border-radius: 4px;
	margin-right: 10px;
}
.boton-cancelar i{
	float: left;
	color: #fff; 
	margin-left: 7px;
	margin-top: 4px;
}
.boton-importar{
	background-color: #7dcfda;
	color: #fff;
	float: left;
	height: 30px;
	width: 122px;
	text-align: center;
	padding-top: 5px;
	border-radius: 4px;
}
.boton-importar i{
	float: right;
	color: #fff;
	margin-right: 7px;
	margin-top: 4px; 
}
.pestana_datos{
	font-family: 'HelveticaNeue_47_LightCondensed';
	color:#687a8b;
	margin-left: 15px;
	padding-top: 25px;
	padding-bottom: 35px;
}
.pestana_datos input{
	background-color: #f3f4f8;
	border-bottom: 1px solid #e3e6eb;
	width: 231px;
}
.circle_datos{
	padding: 4em 0px 10em 11em;
	/*padding-bottom: 10em;
	padding-top: 4em;
	padding-left: 12em;*/
}
.circle-search span, 
.circle-search i {
	float: left;
	margin-right: 10px;	
}
.circle-search span{
	display: block;
	line-height: 16px;
	padding-top: 3px;
}

.circle-search i {
	font-size: 45px;
	border-radius: 50%;
	background-color: #dae4e8;
	text-align: center;
	width: 78px;
	height: 78px;
	line-height: 70px;
}

.ico-exclamacion span, 
.ico-exclamacion i {
	float: left;
	margin-right: 10px;	
}
.ico-exclamacion span{
	display: block;
	line-height: 16px;
	padding-top: 3px;
}
.ico-exclamacion i{
	font-size: 25px;
	color: #ed7d7b;
	margin-top: 17px;
}

.ico-check span, 
.ico-check i {
	float: left;
	margin-right: 10px;	
}
.ico-check span{
	font-size: 21px;
	color: #3fb8c6;
	display: block;
	line-height: 21px;
	padding-top: 3px;
}
.ico-check i{
	font-size: 50px;
	color: #3fb8c6;
}
/* slide flotantes de la derecha */
.slide_flotante{
	position: absolute;
	right: 15px;
	z-index: 9;
	padding-bottom: 2em;
}
.slide_flotante .border_tabla{
	height: 100%;
}
.slide_seguridad{
	top: 15%;
}
.slide_peticiones{
	top: 30%;
}
.slide_p_atencion,
.slide_p_logica,
.slide_a_mod2{
	top: 5%;
}
.slide_a_atencion5{
	top: 17%;
}
.div_flotante_slide{
	position: absolute;
	width: 257px;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 14%;
}
.scroll_usuario tbody,
.slide_flotante .table_roles thead,
.slide_flotante .table_roles thead tr,
.slide_flotante .table_roles tbody{
  display: block;
  overflow: hidden;
}
/*scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* scroll TBODY tablas flotantes */
.slide_flotante .table_roles thead th{
	width: 115px;
}
.slide_flotante .table_roles tbody {
  height: 50vh;
  min-height: 200px;
  overflow-y: scroll;
}
.slide_flotante .table_roles tbody td i{
	padding-left: 15px;
}

.scroll_usuario tbody {
  height: 10vh;
  min-height: 200px;
  overflow-y: scroll;
}
/* formularios flotantes */
.input_for{
	background-color: #f3f4f8;
	border: 1px solid #e3e6eb;
}
.input_calendar{
	position: relative;
}
.input_calendar input{
	padding: 0 23px 0 10px;
}
.input_calendar i{
	position: absolute;
	right: 20px;
	margin-top: -20px;
}
.boton_guardar{
    bottom: 15px;
    width: 100%;
}
.zoom_mapa{
	position: absolute;
    right: 10px;
    margin-top: -19px;
}
.cuadro_color{
	background: #8dc63f;
    width: 25px;
    height: 19px;
    position: absolute;
    right: 27px;
    margin-top: -21px;
}
.cuadro_color_r_3{
	right: 3px;
}
.cuadro_color_r_38{
	right: 38px;
}
.list_criterios{
	background-color: #f3f4f8;
    border: 1px solid #e3e6eb;
    padding: 5px;
}
.add_criterio{
	position: absolute;
    right: 23px;
    margin-top: -19px;
}
.delete_criterio{
	position: absolute;
	top: 0;
	right: 0;
}
.item_criterio{
	position: relative;
	height: 25px;
}
/* tabs */
.tabla_encabezado{
	margin: 10px;
}
.tabla_encabezado td{
	padding: 5px 0 !important;
	text-align: center;
}
.tabs li{
	list-style: none;
	float: left;
}
.tabs_sin_a li,
.tabs li a{
	display: block;
	padding: 10px;
	color : #8293a3;
}
/* configuracion -> videos 7fd0d9 */
.texto_slogan{
	position: absolute;
    margin-top: -12px;
}
.tabla_videos th,
.tabla_videos td{
	border: 0
}
/* configuracion -> movil */
.ico_movil{
	border: 1px solid #e3e6eb;
	padding: 2px;
}
/*
.circle-search a{
	border-radius: 50%;
	background-color: #dae4e8;
	font-size: 45px;
	text-align: center;
	width: 78px;
	height: 78px;
	float: left;
	padding-bottom: 50px;
}*/
/* minicolor */

.minicolor_generales{
	display: inline-block;
    width: 225px;
}
.mini_kiosko_texto,
.mini_kiosko_texto_ga{
	width: auto;
}
.mini_kiosko_texto .minicolors{
	width: 25px;
	height: 21px;
}
.mini_kiosko_texto .minicolors-swatch,
.mini_kiosko_texto_ga .minicolors-swatch{
	width: 25px !important;
	height: 17px !important;
}
.mini_kiosko_texto_menu .minicolors-swatch{
	height: 13px !important;
}
.mini_kiosko_texto .minicolors-swatch-color{
	margin-top: 4px;
}
.mini_videos .minicolors-swatch-color,
.mini_moviles .minicolors-swatch-color{
	margin-top: 0;
}
.check{
	width: 14px;
}
/* cargador loader */
.loader{
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 99999;
    opacity: 0.5;
}
.loader h1{
	position: absolute;
	top: 35%;
	width: 10%;
	height: 10%;
	line-height: 10%;
	left: 40%;
}
/* UPLOAD */
.fileupload{
	position: relative;
    width: 20px;
    overflow: hidden;
    cursor:  pointer !important;
}
.fileupload input{
    cursor: pointer !important;
    position: absolute;
    left: 0;
    padding: 0 !important;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* GOOGLE MAPS */
.angular-google-map-container{ 
	height: 200px; 
	width: 100%;
}