<form class="plr_15 pt_1" ng-controller="FileCtrl" name="form_m_botones">				
	<div class="pt_10 plr_15 h_47_LightC">		
		<span class="pointer color_687a8b">
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_menu_transparencia_activar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_menu_transparencia_activar')"
			ng-model="configuraciones[0]['estilo_kiosco_menu_transparencia_activar']"></i> Activar transparencia en botones
		</span>
		<input class="w_37 input_for" type="text" ng-model="configuraciones[0]['estilo_kiosco_menu_transparencia_porcentaje']"> 
		<span class="color_687a8b"> %</span>
	</div>				
	<div class="pt_5 plr_15 h_47_LightC">
		<span class="pointer color_687a8b">
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_menu_reemplazar_activar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_menu_reemplazar_activar')"
			ng-model="configuraciones[0]['estilo_kiosco_menu_reemplazar_activar']"></i>  Reemplazar color en botones
		</span>
		<div class="minicolor_generales mini_kiosko_texto mini_kiosko_texto_menu ml_20">
			<input 
			    minicolors="mini_generales"
			    class="form-control"
			    type="hidden"
			    ng-model="configuraciones[0]['estilo_kiosco_menu_reemplazar_color']">
		</div> 
	</div>				
	<div class="pt_5 plr_15 h_47_LightC">		
		<span class="pointer color_687a8b">
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_menu_delineado_activar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_menu_delineado_activar')"
			ng-model="configuraciones[0]['estilo_kiosco_menu_delineado_activar']"></i>  Activar delineado en botones
		</span>
		<div class="minicolor_generales mini_kiosko_texto mini_kiosko_texto_menu ml_20">
			<input 
			    minicolors="mini_generales"
			    class="form-control"
			    type="hidden"
			    ng-model="configuraciones[0]['estilo_kiosco_menu_delineado_color']">
		</div> 
	</div>
	<div class="pt_5 plr_15 h_47_LightC">		
		<span class="pointer color_687a8b">
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_menu_delineado_activar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_menu_delineado_activar')"
			ng-model="configuraciones[0]['estilo_kiosco_menu_delineado_activar']"></i>  Mostrar icono en esquina de botones
		</span> 
	</div>			
	<div class="text-center boton_guardar pt_2-5em">
		<i class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="update_k_menu()"></i>
	</div>
</form>