<form class="plr_15 pt_1 pl_20" ng-controller="FileCtrl" name="form_m_imagenes">				
	<div class="pt_7">
		<label for="" class="w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item5.form.label1"></ANY>
		</label>
		<div class="inline_block">
			<input class="h_47_LightC w_115 input_for" type="text" id="input_logotipo"
			ng-model="configuraciones[0]['estilo_consola_logo1_archivo']['url']"
			ng-disabled="true">
			<div class="fileupload pointer fa fa-search color_687a8b">
				<input type="file" accept="images/*" id="logotipo">
			</div>
			<span class="color_99a7b5 h_47_LightC f_13">*.PNG 800x480 </span>
			<i class="fa pointer"
				ng-class="(configuraciones[0]['estilo_kiosco_logo_visible'] == 1) ?
				'fa-eye' :
				'fa-eye-slash color_rojo' "
				ng-click="checked('estilo_kiosco_logo_visible')"
				ng-model="configuraciones[0]['estilo_kiosco_logo_visible']"></i>
			<span class="pl_2em h_47_LightC pointer color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item1.form.label5"></ANY>
				<i class="fa check" 
				ng-class="(configuraciones[0]['estilo_kiosco_logo_animar'] == 1) ?
				'fa-check-square-o' :
				'fa-square-o color_rojo' "
				ng-click="checked('estilo_kiosco_logo_animar')"
				ng-model="configuraciones[0]['estilo_kiosco_logo_animar']"></i>
			</span>
		</div>
	</div>			
	<div class="pt_7">
		<label for="" class="w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item5.form.label2"></ANY>
		</label>
		<div class="inline_block">
			<input class="h_47_LightC w_115 input_for" type="text" id="input_logotipo"
			ng-model="configuraciones[0]['estilo_consola_logo1_archivo']['url']"
			ng-disabled="true">
			<div class="fileupload pointer fa fa-search color_687a8b">
				<input type="file" accept="images/*" id="logotipo">
			</div>
			<span class="color_99a7b5 h_47_LightC f_13">*.PNG 800x480 </span>
			<i class="fa pointer"
				ng-class="(configuraciones[0]['estilo_kiosco_kiosco_visible'] == 1) ?
				'fa-eye' :
				'fa-eye-slash color_rojo' "
				ng-click="checked('estilo_kiosco_kiosco_visible')"
				ng-model="configuraciones[0]['estilo_kiosco_kiosco_visible']"></i>
			<span class="pl_2em h_47_LightC pointer color_687a8b" >
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item1.form.label5"></ANY>	
				<i class="fa check" 
				ng-class="(configuraciones[0]['estilo_kiosco_kiosco_animar'] == 1) ?
				'fa-check-square-o' :
				'fa-square-o color_rojo' "
				ng-click="checked('estilo_kiosco_kiosco_animar')"
				ng-model="configuraciones[0]['estilo_kiosco_kiosco_animar']"></i>
			</span>
		</div>
	</div>	
	<div class="pt_7">
		<label for="" class="w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item5.form.label3"></ANY>
		</label>
		<div class="inline_block">
			<input class="h_47_LightC w_115 input_for" type="text" id="input_logotipo"
			ng-model="configuraciones[0]['estilo_consola_logo1_archivo']['url']"
			ng-disabled="true">
			<div class="fileupload pointer fa fa-search color_687a8b">
				<input type="file" accept="images/*" id="logotipo">
			</div>
			<span class="color_99a7b5 h_47_LightC f_13">*.PNG 800x480 </span>
			<i class="fa pointer"
				ng-class="(configuraciones[0]['estilo_kiosco_flecha_visible'] == 1) ?
				'fa-eye' :
				'fa-eye-slash color_rojo' "
				ng-click="checked('estilo_kiosco_flecha_visible')"
				ng-model="configuraciones[0]['estilo_kiosco_flecha_visible']"></i>
			<span class="pl_2em h_47_LightC pointer color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item1.form.label5"></ANY>		
				<i class="fa check" 
				ng-class="(configuraciones[0]['estilo_kiosco_flecha_animar'] == 1) ?
				'fa-check-square-o' :
				'fa-square-o color_rojo' "
				ng-click="checked('estilo_kiosco_flecha_animar')"
				ng-model="configuraciones[0]['estilo_kiosco_flecha_animar']"></i>
			</span>
		</div>
	</div>	
	<div class="pt_7">
		<label for="" class="w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item5.form.label4"></ANY>
		</label>
		<div class="inline_block">
			<input class="h_47_LightC w_115 input_for" type="text" id="input_logotipo"
			ng-model="configuraciones[0]['estilo_consola_logo1_archivo']['url']"
			ng-disabled="true">
			<div class="fileupload pointer fa fa-search color_687a8b">
				<input type="file" accept="images/*" id="logotipo">
			</div>
			<span class="color_99a7b5 h_47_LightC f_13">*.PNG 800x480 </span>
			<i class="fa pointer"
				ng-class="(configuraciones[0]['estilo_kiosco_fondo_visible'] == 1) ?
				'fa-eye' :
				'fa-eye-slash color_rojo' "
				ng-click="checked('estilo_kiosco_fondo_visible')"
				ng-model="configuraciones[0]['estilo_kiosco_fondo_visible']"></i>
			<span class="pl_2em h_47_LightC pointer color_687a8b">
				Animar		
				<i class="fa check" 
				ng-class="(configuraciones[0]['estilo_kiosco_flecha_animar'] == 1) ?
				'fa-check-square-o' :
				'fa-square-o color_rojo' "
				ng-click="checked('estilo_kiosco_flecha_animar')"
				ng-model="configuraciones[0]['estilo_kiosco_flecha_animar']"></i>
			</span>
		</div>
	</div>
	<div class="text-center boton_guardar pt_1">
		<i class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="update_k_general()"></i>
	</div>
</form>