<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
	<div class="plr_15 text-right ">
		<i class="fa fa-times pointer"></i>
	</div>
	<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_03em mt_-10 f_weight100 ">Editar estilos para la consola</div>
	<div class="overflow pt_1 plr_15">				
		<div class="text-right">
			<a class="pointer h_47_LightC color_gris_oscuro">Restablecer <i class="fa fa-undo pointer"></i></a>
		</div>
		<div class="e5edf0 marco_flotante overflow">
			<div class="tabla_encabezado ffffff">						
				<table class="table m_0">
					<tr>
						<td style="background-color: #8dc63f !important;"><img src="images/logo_arbol.png" alt=""></td>
						<td><img src="images/logo_HtpGO.png" alt=""></td>
						<td class="pl_0"><span class="pl_0 title_left title_app h_Thin">Queuing Console</span></td>
					</tr>
				</table>
			</div>					
			<div class="tabs overflow tabs_sin_a">
				<ul class="p_0 m_0">
					<li class="ffffff pointer color_7fd0d9 h_Cond">Generales</li>
				</ul>
			</div>
		</div>
	</div>
	<form class="plr_15 pt_1" ng-controller="FileCtrl" name="form">				
		<div class="pt_5 plr_3em">
			<label for="" class="w_45 h_47_LightC mb_0 color_687a8b ">Logo 1</label>
			<div class="w_160 fileupload pointer input_for" id="logo1">
				<input class="h_47_LightC" type="file" accept="images/*" 
				ng-model="logo1">
			</div>
			<i class="fa fa-search color_gris_oscuro"></i>
			<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 50x50</span>
		</div>
		<div class="pt_5 plr_3em">
			<label for="" class="w_45 h_47_LightC mb_0 color_687a8b">Logo 2</label>
			<div class="w_160 fileupload pointer input_for">
				<input class="h_47_LightC" type="file" accept="images/*"
				ng-model="logo2">
			</div>
			<i class="fa fa-search color_gris_oscuro"></i>
			<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 330x50</span>
		</div>
		<div class="pt_1 plr_3em">
			<label for="" class="h_Cond mb_0 color_687a8b">Colores principales (#000000)</label><br>
			<div class="relative pt_5">					
				<label for="" class="w_45 h_47_LightC mb_0 color_687a8b ">Fondo </label>
				<div class="minicolor_generales">
					<input
					    minicolors="mini_generales"
					    id="color-input"
					    class="form-control"
					    type="text"
					    ng-model="configuraciones[0]['estilo_consola_principal_fondo_color']">
				</div>
			</div>
			<div class="relative pt_5">					
				<label for="" class="w_45 h_47_LightC mb_0 color_687a8b">Textos </label>
				<div class="minicolor_generales">
					<input
					    minicolors="mini_generales"
					    id="color-input"
					    class="form-control"
					    type="text"
					    ng-model="configuraciones[0]['estilo_consola_principal_texto_color']">
				</div>
			</div>
		</div>
		<div class="pt_1 plr_3em">
			<label for="" class="h_Cond mb_0 color_687a8b">Colores secundarios (#000000)</label><br>
			<div class="relative pt_5">					
				<label for="" class="w_45 h_47_LightC mb_0 color_687a8b">Fondo </label>
				<div class="minicolor_generales">
					<input
					    minicolors="mini_generales"
					    id="color-input"
					    class="form-control"
					    type="text"
					    ng-model="configuraciones[0]['estilo_consola_secundario_fondo_color']">
				</div>
			</div>
			<div class="relative pt_5">					
				<label for="" class="w_45 h_47_LightC mb_0 color_687a8b">Textos </label>
				<div class="minicolor_generales">
					<input
					    minicolors="mini_generales"
					    id="color-input"
					    class="form-control"
					    type="text"
					    ng-model="configuraciones[0]['estilo_consola_secundario_texto_color']">
				</div>
			</div>
		</div>
		<div class="text-center boton_guardar pt_1">
			<i class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="actualizar()"></i>
		</div>
	</form>
</div>
<!--
Upload on form submit or button click
<form ng-controller="FileCtrl" name="form">
  <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" >Select</div>
  <button type="submit" ng-click="submit()">submit</button>
</form>-->