<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
	<div class="plr_15 text-right ">
		<i class="fa fa-times pointer"></i>
	</div>
	<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_03em mt_-10 f_weight100 ">Editar estilos para la consola</div>
	<div class="overflow pt_1 plr_15">				
		<div class="text-right">
			<a class="pointer h_47_LightC color_gris_oscuro">Restablecer <i class="fa fa-undo pointer"></i></a>
		</div>
		<div class="e5edf0 marco_flotante overflow">
			<div class="tabla_encabezado ffffff">						
				<table class="table m_0">
					<tr>
						<td style="background-color: #8dc63f !important;"><img src="images/logo_arbol.png" alt=""></td>
						<td><img src="images/logo_HtpGO.png" alt=""></td>
						<td class="pl_0"><span class="pl_0 title_left title_app h_Thin">Queuing Console</span></td>
					</tr>
				</table>
			</div>					
			<div class="tabs overflow tabs_sin_a">
				<ul class="p_0 m_0">
					<li class="ffffff pointer color_7fd0d9 h_Cond">Generales</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="plr_15 pt_1">				
		<div class="pt_5 plr_3em">
			<label for="" class="w_45 h_47_LightC mb_0 color_687a8b ">Logo 1</label>
			<input class="h_47_LightC w_160 input_for" type="text">
			<i class="fa fa-search color_gris_oscuro"></i>
			<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 50x50</span>
		</div>
		<div class="pt_5 plr_3em">
			<label for="" class="w_45 h_47_LightC mb_0 color_687a8b">Logo 2</label>
			<input class="h_47_LightC w_160 input_for" type="text">
			<i class="fa fa-search color_gris_oscuro"></i>
			<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 330x50</span>
		</div>
		<div class="pt_1 plr_3em">
			<label for="" class="h_Cond mb_0 color_687a8b">Colores principales (#000000)</label><br>
			<div class="relative pt_5">					
				<label for="" class="w_45 h_47_LightC mb_0 color_687a8b ">Fondo </label>
				<color-picker
				    ng-model="myColor"
				    color-picker-format="'hex'"
				    color-picker-alpha="false"
				    color-picker-swatch="true"
				    color-picker-swatch-pos="'right'"
				    color-picker-swatch-bootstrap="false"
				    color-picker-swatch-only="false"
				    color-picker-pos="'top right'"
				    color-picker-case="'upper'"
				></color-picker>
			</div>
			<div class="relative pt_5">					
				<label for="" class="w_45 h_47_LightC mb_0 color_687a8b">Textos </label>
				<input class="h_47_LightC w_225 input_for" type="text">
				<div class="cuadro_color cuadro_color_r_38"></div>
			</div>
		</div>
		<div class="pt_1 plr_3em">
			<label for="" class="h_Cond mb_0 color_687a8b">Colores secundarios (#000000)</label><br>
			<div class="relative pt_5">					
				<label for="" class="w_45 h_47_LightC mb_0 color_687a8b">Fondo </label>
				<input class="h_47_LightC w_225 input_for" type="text">
				<div class="cuadro_color cuadro_color_r_38"></div>
			</div>
			<div class="relative pt_5">					
				<label for="" class="w_45 h_47_LightC mb_0 color_687a8b">Textos </label>
				<input class="h_47_LightC w_225 input_for" type="text">
				<div class="cuadro_color cuadro_color_r_38"></div>
			</div>
		</div>
		<div class="text-center boton_guardar pt_1">
			<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
		</div>
	</div>
</div>
<!-- PALETA DE COLORES
<div class="ffffff border_tabla_absolute ml_17 pt_5 pb_1em div_flotante_slide">
	<div class="plr_15 text-right">
		<i class="fa fa-times pointer"></i>
	</div>
	<div class="plr_15 h_Cond color_azul bb_1 pb_03em mt_0">Fondo principal (#000000)</div>			
	<div class="plr_15 pt_1">
		<img class="pointer" src="images/solo_color.png" alt="">	
		<div class="relative pt_5">					
			<input class="h_47_LightC w_100_por input_for" type="text">
			<div class="cuadro_color cuadro_color_r_3"></div>
		</div>
		<div class="text-center boton_guardar pt_1">
			<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
		</div>
	</div>
</div>
-->