<div class="ffffff border_tabla ml_17 pt_10 pb_1em" ng-show="estado">
	<div class="plr_15 text-right">
		<i class="fa fa-times pointer color_8293a3" ng-click="close()"></i>
	</div>
	<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_03em mt_-10 f_weight100">
		<ANY translate="pagina.configuracion.estilos.slide.kioscos.titulo"></ANY>
	</div>
	<div class="overflow pt_1 plr_15">				
		<div class="text-right">
			<a class="pointer h_47_LightC color_gris_oscuro">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.clear"></ANY>
				<i class="fa fa-undo pointer"></i>
			</a>
		</div>
		<div class="e5edf0 marco_flotante overflow">
			<img src="{{img_estilos_kioscos}}" alt="">				
			<div class="tabs overflow">
				<ul class="p_0 m_0">
					<li ng-class="(tab_url =='bienvenida_imagenes') ? 'ffffff' : '' " 
					class="pointer color_7fd0d9 h_Cond">
						<a href="#/configurar/estilos/bienvenida_imagenes">
							<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item1.titulo"></ANY>
						</a>
					</li>
					<li ng-class="(tab_url =='bienvenida_textos') ? 'ffffff' : '' " 
					class="pointer color_7fd0d9 h_Cond">
						<a href="#/configurar/estilos/bienvenida_textos">
							<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.titulo"></ANY>
						</a>
					</li>
					<li ng-class="(tab_url =='bienvenida_botones') ? 'ffffff' : '' " 
					class="pointer color_7fd0d9 h_Cond">
						<a href="#/configurar/estilos/bienvenida_botones">
							<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.titulo"></ANY>
						</a>
					</li>
					<li ng-class="(tab_url =='bienvenida_boton_ticket') ? 'ffffff' : '' " 
					class="pointer color_7fd0d9 h_Cond">
						<a href="#/configurar/estilos/bienvenida_boton_ticket">
							<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item4.titulo"></ANY>
						</a>
					</li>
					<li ng-class="(tab_url =='bienvenida_mensajes') ? 'ffffff' : '' " 
					class="pointer color_7fd0d9 h_Cond">
						<a href="#/configurar/estilos/bienvenida_mensajes">Mensajes</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-include="estilos_kiosco"></div>
</div>