<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
	<div class="plr_15 text-right">
		<i class="fa fa-times pointer" ng-click="close()"></i>
	</div>
	<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_03em mt_-10 f_weight100">Editar estilos para las aplicaciones moviles</div>
	<div class="overflow pt_1 plr_15">				
		<div class="text-right">
			<a class="pointer h_47_LightC color_687a8b">Restablecer <i class="fa fa-undo pointer"></i></a>
		</div>
		<div class="e5edf0 marco_flotante overflow">
			<img src="images/img_movil.png" alt="">				
			<div class="tabs overflow tabs_sin_a">
				<ul class="p_0 m_0">
					<li class="ffffff pointer color_azul h_47_LightC">Generales</li>
				</ul>
			</div>
		</div>
	</div>
	<form class="plr_15 pt_1" ng-controller="FileCtrl" name="form_m_generales">		
		<div class="pt_5 plr_15 h_47_LightC overflow pb_1em">
			<img class="left ico_movil" src="images/img_movil_ico.png" alt="">
			<div class="left pl_10 pt_1">
				<span class="color_687a8b">Logo 
				<br>
				<div class="inline_block">
					<input class="h_47_LightC w_160 input_for" type="text" id="input_logo1"
					ng-model="configuraciones[0]['estilo_consola_logo1_archivo']['url']"
					ng-disabled="true">
					<div class="fileupload pointer fa fa-search color_gris_oscuro">
						<input type="file" accept="images/*" id="logo1">
					</div>
					<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 220x220</span>
				</div>
			</div>
		</div>
		<div class="pt_5 plr_15 h_47_LightC">		
			<label class="left w_180 color_687a8b">Color institucional (Fondo)</label>
			<div class="minicolor_generales mini_kiosko_texto ml_40 mini_moviles">
				<input 
				    minicolors="mini_generales"
				    class="form-control"
				    type="hidden"
				    ng-model="configuraciones[0]['estilo_movil_fondo_color']">
			</div>
		</div>
		<div class="pt_1 plr_15">			
			<div class="pt_5 h_47_LightC overflow">		
				<label class=" w_180 color_687a8b">Nombre empresa (Línea 1)</label>
				<input 	class="W_160 input_for" 
						type="text"
						ng-model="configuraciones[0]['estilo_movil_linea1_texto']">
			</div>
			<div class="pt_5 h_47_LightC overflow">		
				<label class="w_180 color_687a8b">Nombre empresa (Línea 2)</label>
				<input 	class="W_160 input_for" 
						type="text"
						ng-model="configuraciones[0]['estilo_movil_linea2_texto']"> 
			</div>
		</div>
		<div class="text-center boton_guardar pt_2">
			<i class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="update_m_generales()"></i>
		</div>
	</form>				
</div>

