<form class="plr_15 pt_1" ng-controller="FileCtrl" name="form_botones">		
	<div class="overflow pt_5 plr_15 h_Cond color_7fd0d9">
		<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.grupo1.titulo"></ANY>
		<i class="fa pointer"
			ng-class="(configuraciones[0]['estilo_kiosco_boton_condocumento_visible'] == 1) ?
			'fa-eye color_gris_oscuro' :
			'fa-eye-slash color_rojo' "
			ng-click="checked('estilo_kiosco_boton_condocumento_visible')"
			ng-model="configuraciones[0]['estilo_kiosco_boton_condocumento_visible']"></i>
	</div>		
	<div class="pt_5 plr_15">
		<div class="left w_120">			
			<span class="h_47_LightC color_gris_oscuro color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label1"></ANY>
			</span>
			<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 80x40</span>
		</div>
		<label for="" class="left w_45 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label2"></ANY>
		</label>
		<input class="mr_10 left h_47_LightC w_80 input_for" type="text" placeholder="DIGITA TU" ng-model="configuraciones[0]['estilo_kiosco_boton_condocumento_texto_linea1']">
		<div class="minicolor_generales mini_kiosko_texto ml_30">
			<input 
			    minicolors="mini_generales"
			    class="form-control"
			    type="hidden"
			    ng-model="configuraciones[0]['estilo_kiosco_boton_condocumento_texto_color']">
		</div>
		<span class="pl_5 h_47_LightC color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label4"></ANY>
		</span>
	</div>		
	<div class="pt_5 plr_15">
		<div class="left w_120 inline_block">
			<input class="h_47_LightC w_80 input_for" type="text" id="input_logotipo"
			ng-model="configuraciones[0]['estilo_consola_logo1_archivo']['url']"
			ng-disabled="true">
			<div class="fileupload pointer fa fa-search color_596a7a">
				<input type="file" accept="images/*" id="logotipo">
			</div>
		</div>
		<label for="" class="left w_45 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label3"></ANY>
		</label>
		<input class="mr_10 left h_47_LightC w_80 input_for" type="text" placeholder="DOCUMENTO" ng-model="configuraciones[0]['estilo_kiosco_boton_condocumento_texto_linea2']">
		<div class="minicolor_generales mini_kiosko_texto ml_30">
			<input 
			    minicolors="mini_generales"
			    class="form-control"
			    type="hidden"
			    ng-model="configuraciones[0]['estilo_kiosco_boton_condocumento_color']">
		</div>
		<span class="pl_5 h_47_LightC color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label5"></ANY>
		</span>
	</div>	
	<div class="pt_1-5em plr_15 h_Cond color_7fd0d9">
		<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.grupo2.titulo"></ANY>
		<i class="fa pointer"
			ng-class="(configuraciones[0]['estilo_kiosco_boton_sindocumento_visible'] == 1) ?
			'fa-eye color_gris_oscuro' :
			'fa-eye-slash color_rojo' "
			ng-click="checked('estilo_kiosco_boton_sindocumento_visible')"
			ng-model="configuraciones[0]['estilo_kiosco_boton_sindocumento_visible']"></i>
	</div>	
	<div class="pt_5 plr_15">
		<div class="overflow pt_10 pb_5 h_Cond color_7fd0d9">
			No soy Cliente
		</div>
		<div class="left w_120">			
			<span class="h_47_LightC color_gris_oscuro color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label1"></ANY>
			</span>
			<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 80x40</span>
		</div>
		<label for="" class="left w_45 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label2"></ANY>
		</label>
		<input class="mr_10 left h_47_LightC w_80 input_for" type="text" placeholder="NO TENGO" ng-model="configuraciones[0]['estilo_kiosco_boton_sindocumento_texto_linea1']">
		<div class="minicolor_generales mini_kiosko_texto ml_30">
			<input 
			    minicolors="mini_generales"
			    class="form-control"
			    type="hidden"
			    ng-model="configuraciones[0]['estilo_kiosco_boton_sindocumento_texto_color']">
		</div>
		<span class="pl_5 h_47_LightC color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label4"></ANY>
		</span>
	</div>		
	<div class="pt_5 plr_15">
		<div class="left w_120 inline_block">
			<input class="h_47_LightC w_80 input_for" type="text" id="input_logotipo"
			ng-model="configuraciones[0]['estilo_consola_logo1_archivo']['url']"
			ng-disabled="true">
			<div class="fileupload pointer fa fa-search color_596a7a">
				<input type="file" accept="images/*" id="logotipo">
			</div>
		</div>
		<label for="" class="left w_45 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label3"></ANY>
		</label>
		<input class="mr_10 left h_47_LightC w_80 input_for" type="text" placeholder="DOCUMENTO" ng-model="configuraciones[0]['estilo_kiosco_boton_sindocumento_texto_linea2']">
		<div class="minicolor_generales mini_kiosko_texto ml_30">
			<input 
			    minicolors="mini_generales"
			    class="form-control"
			    type="hidden"
			    ng-model="configuraciones[0]['estilo_kiosco_boton_sindocumento_color']">
		</div>
		<span class="pl_5 h_47_LightC color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item3.form.label5"></ANY>
		</span>
	</div>	
	<div class="text-center boton_guardar pt_1">
		<i class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="update_k_botones()"></i>
	</div>
</form>