<div class="plr_15 pt_1">				
	<div class="pt_5">
		<label for="" class="w_55 h_47_LightC mb_0 color_687a8b">Logotipo</label>
		<div class="w_115 fileupload pointer input_for">
			<input class="h_47_LightC" type="file" accept="images/*">
		</div>		
		<i class="fa fa-search color_gris_oscuro pointer"></i>
		<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 800x480 </span>
		<i class="color_rojo fa fa-eye-slash pointer"></i>
		<span class="pl_2em h_47_LightC pointer color_687a8b">
			Animar
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_logo_animar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_logo_animar')"
			ng-model="configuraciones[0]['estilo_kiosco_logo_animar']"></i>
		</span>
	</div>			
	<div class="pt_5">
		<label for="" class="w_55 h_47_LightC mb_0 color_687a8b">Kiosco</label>
		<div class="w_115 fileupload pointer input_for">
			<input class="h_47_LightC" type="file" accept="images/*">
		</div>		
		<i class="fa fa-search color_gris_oscuro pointer"></i>
		<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 800x480 </span>
		<i class="color_gris_oscuro fa fa-eye pointer"></i>
		<span class="pl_2em h_47_LightC pointer color_687a8b" >
			Animar	
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_kiosco_animar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_kiosco_animar')"
			ng-model="configuraciones[0]['estilo_kiosco_kiosco_animar']"></i>
		</span>
	</div>	
	<div class="pt_5">
		<label for="" class="w_55 h_47_LightC mb_0 color_687a8b">Flechas</label>
		<div class="w_115 fileupload pointer input_for">
			<input class="h_47_LightC" type="file" accept="images/*">
		</div>		
		<i class="fa fa-search color_gris_oscuro pointer"></i>
		<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 800x480 </span>
		<i class="color_gris_oscuro fa fa-eye pointer"></i>
		<span class="pl_2em h_47_LightC pointer color_687a8b">
			Animar		
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_flecha_animar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_flecha_animar')"
			ng-model="configuraciones[0]['estilo_kiosco_flecha_animar']"></i>
		</span>
	</div>	
	<div class="pt_5">
		<label for="" class="w_55 h_47_LightC mb_0 color_687a8b">Fondo</label>
		<div class="w_115 fileupload pointer input_for">
			<input class="h_47_LightC" type="file" accept="images/*">
		</div>		
		<i class="fa fa-search color_gris_oscuro pointer"></i>
		<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 800x480 </span>
		<i class="color_gris_oscuro fa fa-eye pointer"></i>
	</div>
	<div class="text-center boton_guardar pt_1">
		<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
	</div>
</div>