<form class="plr_15 pt_1" ng-controller="FileCtrl" name="form_menu">				
	<div class="pt_5 plr_15">
		<label for="" class="w_45 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item4.form.label1"></ANY>
		</label>
		<div class="inline_block">
			<input class="h_47_LightC w_120 input_for" type="text" id="input_logotipo"
			ng-model="configuraciones[0]['estilo_consola_logo1_archivo']['url']"
			ng-disabled="true">
			<div class="fileupload pointer fa fa-search color_gris_oscuro">
				<input type="file" accept="images/*" id="logotipo">
			</div>
			<span class="color_gris_claro a4afb9 h_47_LightC">*.PNG 800x480</span>	
			<i class="fa pointer"
				ng-class="(configuraciones[0]['estilo_kiosco_menu_fondo_visible'] == 1) ?
				'fa-eye color_gris_oscuro' :
				'fa-eye-slash color_rojo' "
				ng-click="checked('estilo_kiosco_menu_fondo_visible')"
				ng-model="configuraciones[0]['estilo_kiosco_menu_fondo_visible']"></i>
		</div>
	</div>				
	<div class="pt_10 plr_15 h_47_LightC">		
		<span class="pointer color_687a8b">
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_menu_transparencia_activar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_menu_transparencia_activar')"
			ng-model="configuraciones[0]['estilo_kiosco_menu_transparencia_activar']"></i> 
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item4.form.check.item1"></ANY>
		</span>
		<input class="w_37 input_for" type="text" ng-model="configuraciones[0]['estilo_kiosco_menu_transparencia_porcentaje']"> 
		<span class="color_687a8b"> %</span>
	</div>				
	<div class="pt_5 plr_15 h_47_LightC">
		<span class="pointer color_687a8b">
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_menu_reemplazar_activar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_menu_reemplazar_activar')"
			ng-model="configuraciones[0]['estilo_kiosco_menu_reemplazar_activar']"></i>  
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item4.form.check.item2"></ANY>
		</span>
		<div class="minicolor_generales mini_kiosko_texto mini_kiosko_texto_menu ml_40">
			<input 
			    minicolors="mini_generales"
			    class="form-control"
			    type="hidden"
			    ng-model="configuraciones[0]['estilo_kiosco_menu_reemplazar_color']">
		</div> 
	</div>				
	<div class="pt_5 plr_15 h_47_LightC">		
		<span class="pointer color_687a8b">
			<i class="fa check" 
			ng-class="(configuraciones[0]['estilo_kiosco_menu_delineado_activar'] == 1) ?
			'fa-check-square-o' :
			'fa-square-o color_rojo' "
			ng-click="checked('estilo_kiosco_menu_delineado_activar')"
			ng-model="configuraciones[0]['estilo_kiosco_menu_delineado_activar']"></i>  
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item4.form.check.item3"></ANY>
		</span>
		<div class="minicolor_generales mini_kiosko_texto mini_kiosko_texto_menu ml_40">
			<input 
			    minicolors="mini_generales"
			    class="form-control"
			    type="hidden"
			    ng-model="configuraciones[0]['estilo_kiosco_menu_delineado_color']">
		</div> 
	</div>			
	<div class="text-center boton_guardar pt_2">
		<i class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="update_k_menu()"></i>
	</div>
</form>