<form class="plr_15 pt_1" ng-controller="FileCtrl" name="form_textos">				
	<div class="inline_block pt_5 plr_15">
		<label for="" class="left w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label1"></ANY>
		</label>
		<div class="relative left">			
			<input class="h_47_LightC w_150 input_for" type="text" value="{{configuraciones[0]['estilo_kiosco_linea1_texto']}}">
			<div class="minicolor_generales mini_kiosko_texto ml_-33">
				<input 
				    minicolors="mini_generales"
				    class="form-control"
				    type="hidden"
				    ng-model="configuraciones[0]['estilo_kiosco_linea1_color']">
			</div>
		</div>
		
		<div class="right h_47_LightC text-right w_140 ml_20">			
			<span class="mr_10 color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label6"></ANY>
			</span>
			<input class=" w_45 input_for" type="text" ng-model="configuraciones[0]['estilo_kiosco_origen_x']">
		</div>
	</div>							
	<div class="h_24 plr_15">
		<label for="" class="left w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label2"></ANY>
		</label>
		<div class="relative left">			
			<input class="h_47_LightC w_150 input_for" type="text" value="{{configuraciones[0]['estilo_kiosco_linea2_texto']}}">
			<div class="minicolor_generales mini_kiosko_texto ml_-33">
				<input 
				    minicolors="mini_generales"
				    class="form-control"
				    type="hidden"
				    ng-model="configuraciones[0]['estilo_kiosco_linea2_color']">
			</div>
		</div>
		<div class="right h_47_LightC text-right w_140">			
			<span class="mr_10 color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label7"></ANY>
			</span>
			<input class="w_45 input_for" type="text" ng-model="configuraciones[0]['estilo_kiosco_origen_y']">
		</div>
	</div>									
	<div class="text-center boton_guardar pt_4em">
		<i class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="update_k_textos()"></i>
	</div>
</form>