<form class="plr_15 pt_1" ng-controller="FileCtrl" name="form_textos">				
	<div class="inline_block pt_5 plr_15">
		<label for="" class="left w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label1"></ANY>
		</label>
		<div class="relative left">			
			<input class="h_47_LightC w_150 input_for" type="text" value="{{configuraciones[0]['estilo_kiosco_linea1_texto']}}">
			<div class="minicolor_generales mini_kiosko_texto ml_-33">
				<input 
				    minicolors="mini_generales"
				    class="form-control"
				    type="hidden"
				    ng-model="configuraciones[0]['estilo_kiosco_linea1_color']">
			</div>
		</div>
		<i class=" left pl_5 fa pointer"
			ng-class="(configuraciones[0]['estilo_kiosco_linea1_visible'] == 1) ?
			'fa-eye color_gris_oscuro' :
			'fa-eye-slash color_rojo' "
			ng-click="checked('estilo_kiosco_linea1_visible')"
			ng-model="configuraciones[0]['estilo_kiosco_linea1_visible']"></i>
		<div class="left h_47_LightC text-right w_140">			
			<span class="mr_10 color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label6"></ANY>
			</span>
			<input class=" w_45 input_for" type="text" ng-model="configuraciones[0]['estilo_kiosco_origen_x']">
		</div>
	</div>							
	<div class="h_24 plr_15">
		<label for="" class="left w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label2"></ANY>
		</label>
		<div class="relative left">			
			<input class="h_47_LightC w_150 input_for" type="text" value="{{configuraciones[0]['estilo_kiosco_linea2_texto']}}">
			<div class="minicolor_generales mini_kiosko_texto ml_-33">
				<input 
				    minicolors="mini_generales"
				    class="form-control"
				    type="hidden"
				    ng-model="configuraciones[0]['estilo_kiosco_linea2_color']">
			</div>
		</div>
		<i class=" left pl_5 fa pointer"
			ng-class="(configuraciones[0]['estilo_kiosco_linea2_visible'] == 1) ?
			'fa-eye color_gris_oscuro' :
			'fa-eye-slash color_rojo' "
			ng-click="checked('estilo_kiosco_linea2_visible')"
			ng-model="configuraciones[0]['estilo_kiosco_linea2_visible']"></i>
		<div class="left h_47_LightC text-right w_140">			
			<span class="mr_10 color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label7"></ANY>
			</span>
			<input class="w_45 input_for" type="text" ng-model="configuraciones[0]['estilo_kiosco_origen_y']">
		</div>
	</div>								
	<div class="h_24 pt_5 plr_15">
		<label for="" class="left w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label3"></ANY>
		</label>
		<div class="relative left">			
			<input class="h_47_LightC w_150 input_for" type="text" value="{{configuraciones[0]['estilo_kiosco_linea3_texto']}}">
			<div class="minicolor_generales mini_kiosko_texto ml_-33">
				<input 
				    minicolors="mini_generales"
				    class="form-control"
				    type="hidden"
				    ng-model="configuraciones[0]['estilo_kiosco_linea3_color']">
			</div>
		</div>
		<i class=" left pl_5 fa pointer"
			ng-class="(configuraciones[0]['estilo_kiosco_linea3_visible'] == 1) ?
			'fa-eye color_gris_oscuro' :
			'fa-eye-slash color_rojo' "
			ng-click="checked('estilo_kiosco_linea3_visible')"
			ng-model="configuraciones[0]['estilo_kiosco_linea3_visible']"></i>	
		<div class="left h_47_LightC text-right w_140">			
			<span class="pointer color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label8"></ANY> 
				<i class="fa check" 
				ng-class="(configuraciones[0]['estilo_kiosco_mostrar_guion'] == 1) ?
				'fa-check-square-o' :
				'fa-square-o color_rojo' "
				ng-click="checked('estilo_kiosco_mostrar_guion')"
				ng-model="configuraciones[0]['estilo_kiosco_mostrar_guion']"></i>
			</span>
		</div>			
	</div>								
	<div class="h_24 pt_10 plr_15">
		<label for="" class="left w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label4"></ANY>
		</label>
		<div class="relative left">			
			<input class="h_47_LightC w_150 input_for" type="text" value="{{configuraciones[0]['estilo_kiosco_linea4_texto']}}">
			<div class="minicolor_generales mini_kiosko_texto ml_-33">
				<input 
				    minicolors="mini_generales"
				    class="form-control"
				    type="hidden"
				    ng-model="configuraciones[0]['estilo_kiosco_linea4_color']">
			</div>
		</div>
		<i class=" left pl_5 fa pointer"
			ng-class="(configuraciones[0]['estilo_kiosco_linea4_visible'] == 1) ?
			'fa-eye color_gris_oscuro' :
			'fa-eye-slash color_rojo' "
			ng-click="checked('estilo_kiosco_linea4_visible')"
			ng-model="configuraciones[0]['estilo_kiosco_linea4_visible']"></i>
	</div>								
	<div class="left pt_5 plr_15">
		<label for="" class="left w_55 h_47_LightC mb_0 color_687a8b">
			<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label5"></ANY>
		</label>
		<div class="relative left">			
			<input class="h_47_LightC w_150 input_for" type="text" value="{{configuraciones[0]['estilo_kiosco_linea5_texto']}}">
			<div class="minicolor_generales mini_kiosko_texto ml_-33">
				<input 
				    minicolors="mini_generales"
				    class="form-control"
				    type="hidden"
				    ng-model="configuraciones[0]['estilo_kiosco_linea5_color']">
			</div>
		</div>
		<i class=" left pl_5 fa pointer"
			ng-class="(configuraciones[0]['estilo_kiosco_linea5_visible'] == 1) ?
			'fa-eye color_gris_oscuro' :
			'fa-eye-slash color_rojo' "
			ng-click="checked('estilo_kiosco_linea5_visible')"
			ng-model="configuraciones[0]['estilo_kiosco_linea5_visible']"></i>	
		<div class="left h_47_LightC text-right w_140">			
			<span class="pointer color_687a8b">
				<ANY translate="pagina.configuracion.estilos.slide.kioscos.tab.item2.form.label9"></ANY> 
				<i class="fa check" 
				ng-class="(configuraciones[0]['estilo_kiosco_animar'] == 1) ?
				'fa-check-square-o' :
				'fa-square-o color_rojo' "
				ng-click="checked('estilo_kiosco_animar')"
				ng-model="configuraciones[0]['estilo_kiosco_animar']"></i>
			</span>
		</div>	
	</div>		
	<div class="text-center boton_guardar pt_4em">
		<i class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="update_k_textos()"></i>
	</div>
</form>