<div class="row">
	<div class="col-lg-10 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC">¿Cuantos <span class="color_verde h_47_LightC">Clientes</span> fueron <span class="color_verde h_47_LightC">Atendidos</span>?</h1>
		<div class="row">
			<div class="col-lg-10 col-md-10">
				<div class="ffffff border_tabla">
					<div class="text-right pb_2em h_47_LightC color_gris_oscuro mt_10 mr_10">
						Exportar <i class="color_verde fa fa-external-link"></i>
					</div>
					<table width="100%">
						<thead>
							<tr>
								<th width="5%" class="borde_azul">&nbsp;</th>
								<th width="30%" class="borde_azul pl_0">Nombre del local</th>
								<th width="30%">Clientes atendidos</th>
								<th width="35%" class="text-right"><i class="color_celeste fa fa-search"></i> <i class="color_celeste fa fa-angle-double-right"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">
									<i class="color_verde fa fa-circle"></i>
								</td>
								<td>
									<div class="ml_0 text-left">Benavides</div>
								</td>
								<td>
									<div class="ml_0 text-center">2586</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td class="text-center">
									<i class="color_azul fa fa-circle"></i>
								</td>
								<td>
									<div class="ml_0 text-left">Angamos</div>
								</td>
								<td>
									<div class="ml_0 text-center">2341</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td class="text-center">
									<i class="color_morado fa fa-circle"></i>
								</td>
								<td>
									<div class="ml_0 text-left">Javier Prado</div>
								</td>
								<td>
									<div class="ml_0 text-center">2095</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td class="text-center">
									<i class="color_purpura fa fa-circle"></i>
								</td>
								<td>
									<div class="ml_0 text-left">El Polo</div>
								</td>
								<td>
									<div class="ml_0 text-center">1946</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td class="text-center">
									<i class="color_melon2 fa fa-circle"></i>
								</td>
								<td>
									<div class="ml_0 text-left">Caminos del Inca</div>
								</td>
								<td>
									<div class="ml_0 text-center">1875</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td class="text-center">
									<i class="color_melon3 fa fa-circle"></i>
								</td>
								<td>
									<div class="ml_0 text-left">Jockey</div>
								</td>
								<td>
									<div class="ml_0 text-center">1674</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>