<div class="row">
	<div class="col-lg-9 col-lg-offset-1">
		<h1 class="color_gris_oscuro h_37_ThinC f_33">Consulta nuestros <span class="color_verde h_47_LightC">reportes</span> sobre la actividad realizada</h1>
		<div class="row configuracion">								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#"><i class="fa fa-check-circle-o f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<h2 class="color_gris_oscuro h_37_ThinC f_29">Clientes atendidos <i class="fa fa-angle-right color_verde"></i></h2>
						<p>Revisa el número de clientes<br>atendidos por local, puesto,<br>jerarquía, criterio y fecha.</p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#"><i class="fa fa-ban f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<h2 class="color_gris_oscuro h_37_ThinC f_29">Clientes salteados <i class="fa fa-angle-right color_verde"></i></h2>
						<p>Revisa el número de clientes<br>salteados por local, puesto,<br>jerarquía, criterio y fecha.</p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#"><i class="fa fa-qrcode f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<h2 class="color_gris_oscuro h_37_ThinC f_29">Escaneos QR <i class="fa fa-angle-right color_verde"></i></h2>
						<p>Revisa el número de escaneos QR<br>realizados en la App por local,<br> puesto, jerarquía, criterio y fecha.</p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#"><i class="fa fa-clock-o f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<h2 class="color_gris_oscuro h_37_ThinC f_29">Saturación <i class="fa fa-angle-right color_verde"></i></h2>
						<p>Revisa la saturación de<br>atenciones por local, puesto,<br>jerarquía, criterio y fecha.</p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#"><i class="fa fa-download f_52"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 pr_0">
						<h2 class="color_gris_oscuro h_37_ThinC f_29">Descarga de datos <i class="fa fa-angle-right color_verde"></i></h2>
						<p>Descarga los resportes en formato<br>XLS para poder realizar consultas<br>más personalizadas.</p>		
					</div>
				</div>								
			</div>			
		</div>
	</div>
</div>