<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿Qué <span class="color_verde h_47_LightC">Criterios de Atención</span> utilizarás?</h1>
	</div>
	<div class="col-lg-8 col-md-8">
		<div class="ffffff border_tabla ml_17">
			<div class="text-right pb_2em h_47_LightC color_gris_oscuro mt_10 mr_10">
				Agregar categoría de atención <i class="f_23 color_verde fa fa-folder-open"></i>
			</div>
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Categoría de atención</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Solicitudes de pórroga</td>
						<td class="text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Presentación de expedientes</td>
						<td class="text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Actualización de documentos</td>
						<td class="text-right"><i class="color_rojo fa fa-times"></i></td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Solicitudes de ingreso</td>
						<td class="text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Entrega de antecedentes</td>
						<td class="text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Ampliación de plazos</td>
						<td class="text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Actualización de dominio fiscal</td>
						<td class="text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Entrega de expedientes</td>
						<td class="text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Solicitudes de verificación</td>
						<td class="text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>