<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿Qué <span class="color_verde h_47_LightC">Criterios de Atención</span> utilizarás?</h1>
	</div>
	<div class="col-lg-8 col-md-8">
		<div class="ffffff border_tabla ml_17">
			<div class="etiqueta_add pb_5em">
				<i class="color_verde fa fa-plus-circle"></i>
				<span>Agregar categoría de atención</span>
			</div>
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Categoría de atención</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Solicitudes de pórroga</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Presentación de expedientes</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Actualización de documentos</td>
						<td class="bb_0 text-right"><i class="color_rojo fa fa-times"></i></td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Solicitudes de ingreso</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Entrega de antecedentes</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Ampliación de plazos</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Actualización de dominio fiscal</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Entrega de expedientes</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Solicitudes de verificación</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="slide_flotante slide_a_mod2">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_10 mt_0 f_16">Criterios de atención</div>			
			<div class="plr_15 pt_1 pr_3em">	
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Nombre de la categoria</label><br>				
				<input class="h_47_LightC w_100_por input_for" type="text">
			</div>	
			<div class="plr_15 pt_1 pr_3em">	
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Agregar criterios de atención</label><br>				
				<input class="h_47_LightC w_100_por input_for" type="text">
				<i class="fa fa-plus-circle add_criterio pointer"></i>
			</div>		
			<div class="col-lg-12 col-md-12 plr_15 pt_1 pb_1em overflow">
				<div class="list_criterios">					
					<div class="item_criterio">					
						<div for="" class="h_47_LightC mb_0 pr_1em">Actualización documento de indentidad</div><br>				
						<i class="fa fa-minus-circle delete_criterio color_rojo pointer"></i>
					</div>				
					<div class="item_criterio">					
						<div for="" class="h_47_LightC mb_0 pr_1em">Duplicado de documentos</div><br>				
						<i class="fa fa-minus-circle delete_criterio color_rojo pointer"></i>
					</div>			
					<div class="item_criterio">					
						<div for="" class="h_47_LightC mb_0 pr_1em">Recategorización</div><br>				
						<i class="fa fa-minus-circle delete_criterio color_rojo pointer"></i>
					</div>			
					<div class="item_criterio">					
						<div for="" class="h_47_LightC mb_0 pr_1em">Indexación de documentos</div><br>				
						<i class="fa fa-minus-circle delete_criterio color_rojo pointer"></i>
					</div>
				</div>
			</div>				
			<div class="col-lg-12 col-md-12  overflow text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
			</div>
		</div>
	</div>
</div>