<div class="row">
	<div class="col-lg-9 col-lg-offset-1">
		<h1 class="color_gris_oscuro h_37_ThinC"><span class="color_verde h_47_LightC">Atiende</span> a tus clientes con facilidad</h1>
		<div class="row configuracion">								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/atencion/mod_atencion2"><i class="fa fa-hand-o-right f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<h2 class="color_gris_oscuro h_37_ThinC">Modulo de atención <i class="fa fa-angle-right color_verde"></i></h2>
						<p>Utiliza nuestras herramientas para<br>simplificar la atención y reducir el<br>tiempo de espera.</p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/atencion/supervision"><i class="fa fa-check-square-o f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<h2 class="color_gris_oscuro h_37_ThinC">Supervisión <i class="fa fa-angle-right color_verde"></i></h2>
						<p>Monitorea la actividad y<br>desempeño de los usuarios en<br>cada puesto de atención.</p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/atencion/crit_atencion"><i class="fa fa-inbox f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<h2 class="color_gris_oscuro h_37_ThinC">Criterios de atención <i class="fa fa-angle-right color_verde"></i></h2>
						<p>Lista los tipos de trámite o<br>solicitudes requeridas por tus<br>Clientes durante su atención.</p>	
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/atencion/msj_alerta"><i class="fa fa-envelope-o f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<h2 class="color_gris_oscuro h_37_ThinC">Mensaje de alerta <i class="fa fa-angle-right color_verde"></i></h2>
						<p>Crea y publica mensajes para ser<br>leídos por tus clientes en el<br>kiosco y en la aplicación móvil.</p>			
					</div>
				</div>								
			</div>			
		</div>
	</div>
</div>