<div class="row">
	<div class="col-lg-10 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC"><span class="color_verde h_47_LightC">Atención</span> Puesto 5</h1>
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div class="ffffff border_tabla">
					<div class="text-right pb_2em h_47_LightC color_gris_oscuro mt_10 mr_10">
						Ver historia  <i class="f_23 color_rojo fa fa-folder-open"></i>
						<table width="100%">
							<tr>
								<td class="c">Cancelar turno</td>
								<td class="c"><i class="fondo_rojo fa fa-times"></i></td>
								<td class="c"><i class="fondo_celeste fa fa-volume-up"></i></td>
								<td class="c">Llamar a Sergio Ramirez</td>
							</tr>
						</table>
					</div>
					<table width="100%">
						<thead>
							<tr>
								<th width="2%" class="borde_azul text-right">&nbsp;</th>
								<th width="18%" class="borde_azul text-right">Cód.</th>
								<th width="50%" class="text-left ml_0 borde_gris">Nombre de visitante</th>
								<th width="20%" class="text-center">Duración</th>
								<th width="10%">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="text-center"><i class="color_celeste fa fa-clock-o"></i></div>
								</td>
								<td>
									<div class="ml_0 text-center">T56</div>
								</td>
								<td>
									<div class="ml_0 text-left">Sergio Ramirez</div>
								</td>
								<td>
									<div class="ml_0 text-center">0:00 Min</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center">T57</div>
								</td>
								<td>
									<div class="ml_0 text-left">Luis Rivera</div>
								</td>
								<td>
									<div class="ml_0 text-center">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center">T58</div>
								</td>
								<td>
									<div class="ml_0 text-left">Cristina Gálvez</div>
								</td>
								<td>
									<div class="ml_0 text-center">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center">A12</div>
								</td>
								<td>
									<div class="ml_0 text-left">Daniel Barcenas</div>
								</td>
								<td>
									<div class="ml_0 text-center">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center">T59</div>
								</td>
								<td>
									<div class="ml_0 text-left">Esmeralda Cruz</div>
								</td>
								<td>
									<div class="ml_0 text-center">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center">A13</div>
								</td>
								<td>
									<div class="ml_0 text-left">Rodrigo Dominguez</div>
								</td>
								<td>
									<div class="ml_0 text-center">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center">A14</div>
								</td>
								<td>
									<div class="ml_0 text-left">Francisco Martinez</div>
								</td>
								<td>
									<div class="ml_0 text-center">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">M36</div>
								</td>
								<td>
									<div class="ml_0 text-left color_melon">Adrian García</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">C21</div>
								</td>
								<td>
									<div class="ml_0 text-left color_melon">Enrique Fernández</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">I77</div>
								</td>
								<td>
									<div class="ml_0 text-left color_melon">Francisco Villanueva</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">M37</div>
								</td>
								<td>
									<div class="ml_0 text-left color_melon">César Arturo Pérez</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">M38</div>
								</td>
								<td>
									<div class="ml_0 text-left color_melon">Oswaldo Islas</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">&nbsp;</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">C22</div>
								</td>
								<td>
									<div class="ml_0 text-left color_melon">Lourdes Suarez</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">&nbsp;</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>