<div class="row">
	<div class="col-lg-10 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC"><span class="color_verde h_47_LightC">Atención</span> Puesto 5</h1>
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div class="ffffff border_tabla ml_17">
					<div class="text-right pb_2em h_47_LightC color_gris_oscuro mt_10 mr_10">
						Regresar a la lista de atención  <i class="f_23 color_verde fa fa-folder-open"></i>
					</div>
					<table width="100%">
						<thead>
							<tr>
								<th width="20%" class="borde_azul text-right">Cód.</th>
								<th width="50%" class="text-left ml_0 borde_gris">Nombre de visitante</th>
								<th width="20%" class="text-center">Duración</th>
								<th width="10%">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="text-center">T56</div>
								</td>
								<td>
									<div class="ml_0 text-left">Sergio Ramirez</div>
								</td>
								<td>
									<div class="ml_0 text-center">2:36 Min</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">T57</div>
								</td>
								<td>
									<div class="ml_0 text-left">Luis Rivera</div>
								</td>
								<td>
									<div class="ml_0 text-center">1:45 Min</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">T58</div>
								</td>
								<td>
									<div class="ml_0 text-left">Cristina Gálvez</div>
								</td>
								<td>
									<div class="ml_0 text-center">-</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">A12</div>
								</td>
								<td>
									<div class="ml_0 text-left">Daniel Barcenas</div>
								</td>
								<td>
									<div class="ml_0 text-center">-</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">T59</div>
								</td>
								<td>
									<div class="ml_0 text-left">Esmeralda Cruz</div>
								</td>
								<td>
									<div class="ml_0 text-center">3:23 Min</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">A13</div>
								</td>
								<td>
									<div class="ml_0 text-left">Rodrigo Dominguez</div>
								</td>
								<td>
									<div class="ml_0 text-center">-</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center">A14</div>
								</td>
								<td>
									<div class="ml_0 text-left">Francisco Martinez</div>
								</td>
								<td>
									<div class="ml_0 text-center">1:13 Min</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center color_melon">M36</div>
								</td>
								<td>
									<div class="ml_0 text-left color_melon">Adrian García</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">Vencido</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div class="text-center color_melon">C21</div>
								</td>
								<td>
									<div class="ml_0 text-left color_melon">Enrique Fernández</div>
								</td>
								<td>
									<div class="ml_0 text-center color_melon">Vencido</div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>