<div class="row">
	<div class="col-lg-9 col-md-9 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC">¿En qué ubicación realizarás la <span class="color_verde h_47_LightC">Atención</span>?</h1>
		<div class="row">
			<div class="col-lg-11 col-md-11 pl_2em">
				<div class="ffffff border_tabla color_gris_oscuro ">
					<div class="mt_30 ml_25">
						<span class="f_16"><i class="color_gris_oscuro fa fa-check-square-o"></i> Me llamo <span class="color_celeste"> Juan Perez</span></span><br><br>
						<span class="mr_10">Voy a atender la ventanilla o puesto </span>
						<select name="puesto" class="combx">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select></br>
						<div class="text-center mt_30"><i class="dbe4e9 f_5em fa fa-check-circle"></i></div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-lg-4 col-md-4">
	</div>
</div>