<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿En qué ubicación realizarás la <span class="color_verde h_47_LightC">Atención</span>?</h1>
	</div>
	<div class="col-lg-8 col-md-8">
		<div class="ffffff border_tabla color_gris_oscuro ml_17">
			<div class="mt_30 ml_25">
				<span class="f_16">
					<i class="color_gris_oscuro fa fa-check-square-o"></i> Me llamo 
					<span class="color_celeste"> Juan Perez</span>
				</span><br>
				<span class="mr_10">Voy a atender la ventanilla o puesto </span>
				<select name="puesto" class="combx">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select></br>
				<div class="text-center pt_1 pb_1em"><i class="dbe4e9 f_5em fa fa-check-circle"></i></div>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
	</div>
</div>
