<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em"><span class="color_verde h_47_LightC">Atención</span> Puesto 5</h1>
	</div>
	<div class="col-lg-8 col-md-8">
		<div class="ffffff border_tabla ml_17">
			<div class="text-right pb_2em h_37_ThinC color_gris_oscuro mt_10 mr_10">
				Ver historia  <i class="f_23 color_rojo fa fa-folder-open"></i>
				<table width="100%" class="h_Cond">
					<tr>
						<td width="20%" class="text-right color_rojo"> 
							<span>Cancelar</span><br>
							<span>Turno</span>
						</td>
						<td width="15%" class="pr_6"><i class="fondo_rojo fa fa-times"></i></td>
						<td width="15%" class="pr_6"><i class="fondo_celeste fa fa-volume-up"></i></td>
						<td width="25%" class="text-left color_celeste">
							<span>Llamar a</span><br>
							<span>Sergio Ramirez</span>
						</td>
						<th width="25%">&nbsp;</th>
					</tr>
				</table>
			</div>
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Cód.</th>
						<th>Nombre de visitante</th>
						<th class="text-center">Duración</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center"><i class="color_celeste fa fa-clock-o"></i></td>
						<td class="pl_0">T56</td>
						<td>Sergio Ramirez</td>
						<td class="text-center">0:00 Min</td>
						<td class="bb_0">&nbsp;</td>
						<div class="ml_0 text-left">Sergio Ramirez</div>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">T57</td>
						<td>Luis Rivera</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">T58</td>
						<td>Cristina Gálvez</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">A12</td>
						<td>Daniel Barcenas</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">T59</td>
						<td>Esmeralda Cruz</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">A13</td>
						<td>Rodrigo Dominguez</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">A14</td>
						<td>Francisco Martinez</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="fila_naranja">
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">M36</td>
						<td>Adrian García</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="fila_naranja">
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">C21</td>
						<td>Enrique Fernández</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="fila_naranja">
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">I77</td>
						<td>Francisco Villanueva</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="fila_naranja">
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">M37</td>
						<td>César Arturo Pérez</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="fila_naranja">
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">M38</td>
						<td>Oswaldo Islas</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="fila_naranja">
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
						<td class="pl_0">C22</td>
						<td>Lourdes Suarez</td>
						<td class="text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>