<div class="row">
	<div class="col-lg-10 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC">¿Deseas mostrar <span class="color_verde h_47_LightC">Mensajes de Alerta</span>?</h1>
		<div class="row">
			<div class="col-lg-9 col-md-9">
				<div class="ffffff border_tabla ml_17">
					<div class="text-right pb_2em h_47_LightC color_gris_oscuro mt_10 mr_10">
						Agregar mensajes de alerta <i class="f_23 color_verde fa fa-plus-circle"></i>
					</div>
					<table width="100%">
						<thead>
							<tr>
								<th width="50%" class="borde_azul">Mensajes de alerta</th>
								<th width="10%" class="text-left ml_0 borde_gris">Publicar</th>
								<th width="25%" class="text-center borde_gris">Fecha</th>
								<th width="15%">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div>Nuevo local</div>
								</td>
								<td>
									<div class="ml_0 text-left color_rojo"><i class="color_rojo fa fa-square-o"></i> K</div>
								</td>
								<td class="text-center color_rojo">01/04/2015</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Lanzamiento de Producto</div>
								</td>
								<td>
									<div class="ml_0 text-left color_rojo"><i class="color_rojo fa fa-square-o"></i> M</div>
								</td>
								<td class="text-center color_rojo">01/05/2015</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Bienvenida</div>
								</td>
								<td>
									<div class="ml_0 text-left color_rojo"><i class="color_rojo fa fa-square-o"></i> K</div>
								</td>
								<td class="text-center">01/12/2015</td>
								<td class="text-right pr_1em"><i class="color_rojo fa fa-times"></i></td>
							</tr>
							<tr>
								<td>
									<div>Nueva politica de visitas</div>
								</td>
								<td>
									<div class="ml_0 text-left color_rojo"><i class="color_rojo fa fa-square-o"></i> KM</div>
								</td>
								<td class="text-center">01/07/2015</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Seguridad de locales</div>
								</td>
								<td>
									<div class="ml_0 text-left"><i class="color_gris_oscuro fa fa-check-square-o"></i></div>
								</td>
								<td class="text-center">01/09/2015</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Seguridad de tramites</div>
								</td>
								<td>
									<div class="ml_0 text-left"><i class="color_gris_oscuro fa fa-check-square-o"></i> KM</div>
								</td>
								<td class="text-center">01/09/2015</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Consejo de la semana</div>
								</td>
								<td>
									<div class="ml_0 text-left color_rojo"><i class="color_rojo fa fa-square-o"></i> K</div>
								</td>
								<td class="text-center color_rojo">01/03/2015</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Perdida de tickets</div>
								</td>
								<td>
									<div class="ml_0 text-left color_rojo"><i class="color_rojo fa fa-square-o"></i> M</div>
								</td>
								<td class="text-center">01/07/2015</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Nuevos clientes</div>
								</td>
								<td>
									<div class="ml_0 text-left color_rojo"><i class="color_rojo fa fa-square-o"></i> KM</div>
								</td>
								<td class="text-center">01/10/2015</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>				
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>