<div class="row">	
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿Deseas mostrar <span class="color_verde h_47_LightC">Mensajes de Alerta</span>?</h1>
	</div>
	<div class="col-lg-8 col-md-8">		
		<div class="ffffff border_tabla ml_17">
			<div class="text-right pb_2em h_47_LightC color_gris_oscuro mt_10 mr_10">
				Agregar mensajes de alerta <i class="f_23 color_verde fa fa-folder-open"></i>
			</div>
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Mensajes de alerta</th>
						<th>Publicar</th>
						<th class="text-center">Fecha</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Nuevo local</td>
						<td class="color_rojo"><i class="color_rojo fa fa-square-o"></i> K</td>
						<td class="bb_0 text-center color_rojo">01/04/2015</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Lanzamiento de Producto</td>
						<td class="color_rojo"><i class="color_rojo fa fa-square-o"></i> M</td>
						<td class="bb_0 text-center color_rojo">01/05/2015</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Bienvenida</td>
						<td class="color_rojo"><i class="color_rojo fa fa-square-o"></i> M</td>
						<td class="bb_0 text-center">01/12/2015</td>
						<td class="bb_0 text-right"><i class="color_rojo fa fa-times"></i></td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Nueva politica de visitas</td>
						<td class="color_rojo"><i class="color_rojo fa fa-square-o"></i> KM</td>
						<td class="bb_0 text-center">01/07/2015</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Nueva politica de visitas</td>
						<td class="color_rojo"><i class="color_rojo fa fa-square-o"></i> KM</td>
						<td class="bb_0 text-center">01/07/2015</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Seguridad de locales</td>
						<td class="color_rojo"><i class="fa fa-check-square-o"></i></td>
						<td class="bb_0 text-center">01/09/2015</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Seguridad de tramites</td>
						<td><i class="fa fa-check-square-o"></i> KM</td>
						<td class="bb_0 text-center">01/09/2015</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Consejo de la semana</td>
						<td class="color_rojo"><i class="color_rojo fa fa-square-o"></i> K</td>
						<td class="bb_0 text-center color_rojo">01/03/2015</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Perdida de tickets</td>
						<td class="color_rojo"><i class="color_rojo fa fa-square-o"></i> M</td>
						<td class="bb_0 text-center">01/07/2015</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Nuevos clientes</td>
						<td class="color_rojo"><i class="color_rojo fa fa-square-o"></i> KM</td>
						<td class="bb_0 text-center">01/10/2015</td>
						<td class="bb_0 text-right">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>			
				</tbody>
			</table>
		</div>
	</div>
	<div class="slide_flotante slide_a_mod2">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_10 mt_0 f_16">Editar mensaje de alerta</div>			
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Nombre de la alerta</label><br>				
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="Bienvenida">
			</div>	
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Título del mensaje</label><br>				
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="Bienvenido a nuestro nuevo sistema de tickets">
			</div>		
			<div class="plr_15 pt_1">
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Contenido del mensaje</label><br>	
				<textarea name="" id="" cols="30" rows="3" class="h_47_LightC w_100_por input_for"></textarea>
			</div>			
			<div class="overflow plr_15 pt_1">
				<div class="row">					
					<div class="col-lg-6 col-md-6 input_calendar">
						<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Fecha de próxima actualización</label><br>
						<input class="h_47_LightC w_100_por input_for" type="text" placeholder="30/12/2015"><i class="fa fa-calendar"></i>
					</div>

					<div class="col-lg-6 col-md-6 input_calendar">
						<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Fecha de próxima actualización</label><br>
						<input class="h_47_LightC w_100_por input_for" type="text" placeholder="30/12/2015"><i class="fa fa-calendar"></i>
					</div>
				</div>
			</div>		
			<div class="overflow plr_15 pt_1">
				<i class="fa fa-check-square-o"></i> <span class="h_47_LightC">Publicar en kioscos</span><br>
				<i class="color_rojo fa fa-square-o"></i> <span class="h_47_LightC">Publicar en aplicacion móvil</span>
			</div>		
			<div class="overflow text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
			</div>
		</div>
	</div>
</div>