<div class="row">
	<div class="col-lg-9 col-md-9 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC"><span class="color_verde h_47_LightC">Supervisa</span> la actividad y el desempeño</h1>
		<div class="ffffff border_tabla">
			<div class="text-left pl_70 pb_1em h_47_LightC color_gris_oscuro ft_calendar">
				<span>
					Supervisar desde <br>
					<input type="text" placeholder="01/12/2015">
				</span>	
				<span>
					Supervisar hasta <br>
					<input type="text" placeholder="01/12/2015"> 
				</span>	
					 
			</div>
			<table width="100%">
				<thead>
					<tr>
						<th width="10%" class="borde_azul">Puesto</th>
						<th width="30%" class="text-left ml_0 borde_gris">Nombre del usuario</th>
						<th width="20%" class="text-center ml_0 borde_gris">Estado</th>
						<th width="20%" class="text-center ml_0 borde_gris">Actividad</th>
						<th width="20%" class="text-center ml_0 borde_gris">Atenciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="text-center">1</div>
						</td>
						<td>
							<div class="ml_0 text-left">Emilio Nava</div>
						</td>
						<td><div class="ml_0 text-center">Activo</div></td>
						<td><div class="ml_0 text-center">03h:28m</div></td>
						<td><div class="ml_0 text-center">26</div></td>
					</tr>
					<tr>
						<td>
							<div class="text-center">2</div>
						</td>
						<td>
							<div class="ml_0 text-left">Tomás Barrasa</div>
						</td>
						<td><div class="ml_0 text-center">Activo</div></td>
						<td><div class="ml_0 text-center">03h:17m</div></td>
						<td><div class="ml_0 text-center">28</div></td>
					</tr>
					<tr>
						<td>
							<div class="text-center">3</div>
						</td>
						<td>
							<div class="ml_0 text-left">Marina Aparicio</div>
						</td>
						<td><div class="ml_0 text-center">Activo</div></td>
						<td><div class="ml_0 text-center">03h:25m</div></td>
						<td><div class="ml_0 text-center">27</div></td>
					</tr>
					<tr>
						<td>
							<div class="text-center">4</div>
						</td>
						<td>
							<div class="ml_0 text-left">Juan Carlos Tercilla</div>
						</td>
						<td><div class="ml_0 text-center">Activo</div></td>
						<td><div class="ml_0 text-center">03h:12m</div></td>
						<td><div class="ml_0 text-center">25</div></td>
					</tr>
					<tr>
						<td>
							<div class="text-center">5</div>
						</td>
						<td>
							<div class="ml_0 text-left">Carlos Dominguez</div>
						</td>
						<td><div class="ml_0 text-center">Activo</div></td>
						<td><div class="ml_0 text-center">00h:21m</div></td>
						<td><div class="ml_0 text-center">3</div></td>
					</tr>
					<tr>
						<td>
							<div class="text-center color_rojo">5</div>
						</td>
						<td>
							<div class="ml_0 text-left color_rojo">José Antonio Fernández</div>
						</td>
						<td><div class="ml_0 text-center color_rojo">Inactivo</div></td>
						<td><div class="ml_0 text-center color_rojo">03h:17m</div></td>
						<td><div class="ml_0 text-center color_rojo">26</div></td>
					</tr>
					<tr>
						<td>
							<div class="text-center">6</div>
						</td>
						<td>
							<div class="ml_0 text-left">María Jesús López</div>
						</td>
						<td><div class="ml_0 text-center">Activo</div></td>
						<td><div class="ml_0 text-center">03h:15m</div></td>
						<td><div class="ml_0 text-center">27</div></td>
					</tr>
					<tr>
						<td>
							<div class="text-center color_rojo">7</div>
						</td>
						<td>
							<div class="ml_0 text-left color_rojo">Ricardo Maza</div>
						</td>
						<td><div class="ml_0 text-center color_rojo">Inactivo</div></td>
						<td><div class="ml_0 text-center color_rojo">03h:39m</div></td>
						<td><div class="ml_0 text-center color_rojo">24</div></td>
					</tr>
					<tr>
						<td>
							<div class="text-center">A</div>
						</td>
						<td>
							<div class="ml_0 text-left">Francisco Martinez</div>
						</td>
						<td><div class="ml_0 text-center">Activo</div></td>
						<td><div class="ml_0 text-center">00h:18m</div></td>
						<td><div class="ml_0 text-center">2</div></td>
					</tr>
					<tr>
						<td>
							<div class="text-center">B</div>
						</td>
						<td>
							<div class="ml_0 text-left">Esther Sainz</div>
						</td>
						<td><div class="ml_0 text-center">Activo</div></td>
						<td><div class="ml_0 text-center">03h:23m</div></td>
						<td><div class="ml_0 text-center">26</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-3 col-md-3">
	</div>
</div>