<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em"><span class="color_verde h_47_LightC">Supervisa</span> la actividad y el desempeño</h1>
	</div>
	<div class="col-lg-10 col-md-10">
		<div class="ffffff border_tabla ml_17">
			<div class="text-left pl_70 pb_1em pt_2-5em ft_calendar">
				<span>Supervisar desde</span>
				<div class="ft_calendar">
					<input type="text" placeholder="01/12/2015">
					<i class="fa fa-table"></i>
				</div> 
				<span>Supervisar hasta</span>
				<div class="ft_calendar">
					<input type="text" placeholder="31/12/2015">
					<i class="fa fa-table"></i>
				</div>
			</div>
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul text-center">Puesto</th>
						<th class="text-left">Nombre del usuario</th>
						<th class="text-center">Estado</th>
						<th class="text-center">Actividad</th>
						<th class="text-center">Atenciones</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">1</td>
						<td class="text-left">Emilio Nava</td>
						<td class="text-center">Activo</td>
						<td class="text-center">03h:28m</td>
						<td class="text-center">26</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">2</td>
						<td class="text-left">Tomás Barrasa</td>
						<td class="text-center">Activo</td>
						<td class="text-center">03h:17m</td>
						<td class="text-center">28</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="active">
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">3</td>
						<td class="text-left">Marina Aparicio</td>
						<td class="text-center">Activo</td>
						<td class="text-center">03h:25m</td>
						<td class="text-center">27</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">4</td>
						<td class="text-left">Juan Carlos Tercilla</td>
						<td class="text-center">Activo</td>
						<td class="text-center">03h:12m</td>
						<td class="text-center">25</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">5</td>
						<td class="text-left">Carlos Dominguez</td>
						<td class="text-center">Activo</td>
						<td class="text-center">00h:21m</td>
						<td class="text-center">3</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center color_rojo">5</td>
						<td class="text-left color_rojo">José Antonio Fernández</td>
						<td class="text-center color_rojo">Inactivo</td>
						<td class="text-center color_rojo">03h:17m</td>
						<td class="text-center color_rojo">26</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">6</td>
						<td class="text-left">María Jesús López</td>
						<td class="text-center">Activo</td>
						<td class="text-center">03h:15m</td>
						<td class="text-center">27</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center color_rojo">7</td>
						<td class="text-left color_rojo">Ricardo Maza</td>
						<td class="text-center color_rojo">Inactivo</td>
						<td class="text-center color_rojo">03h:39m</td>
						<td class="text-center color_rojo">24</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">A</td>
						<td class="text-left">Francisco Martinez</td>
						<td class="text-center">Activo</td>
						<td class="text-center">00h:18m</td>
						<td class="text-center">2</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="text-center">B</td>
						<td class="text-left">Esther Sainz</td>
						<td class="text-center">Activo</td>
						<td class="text-center">03h:23m</td>
						<td class="text-center">26</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="slide_flotante slide_p_logica">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_azul bb_1 pb_03em mt_0">Marina aparicio</div>
			<div class="overflow plr_15">
				<table class="table tabla_usuarios mt_10 table_slide">
					<thead>
						<tr>
							<th width="200" class="pl_0 pr_0 h_47_LightC" colspan="5">Atenciones asignadas al <span class="color_verde">puesto 3</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="15" class="bb_0 pl_0 pr_0 text-center"><i class="color_amarillo fa fa-circle"></i></td>			
							<td width="30" class="bb_0 text-center">T</td>							
							<td width="105" class="bb_0 pl_0">Trámites</td>							
							<td width="20" class="bb_0 text-center h_47_LightC ">14</td>					
							<td width="20" class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td width="15" class="bb_0 pl_0 pr_0 text-center"><i class="color_amarillo fa fa-circle"></i></td>			
							<td width="30" class="bb_0 text-center">A</td>							
							<td width="105" class="bb_0 pl_0">Atención</td>							
							<td width="20" class="bb_0 text-center h_47_LightC ">14</td>					
							<td width="20" class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="overflow plr_15">
				<table class="table tabla_usuarios mt_10 table_slide">
					<thead>
						<tr>
							<th colspan="5" width="150" class="pl_0 pr_0 h_47_LightC">Otras asignaciones atendidas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="15" class="bb_0 pl_0 pr_0 text-center"><i class="color_amarillo fa fa-circle"></i></td>			
							<td width="30" class="bb_0 text-center">M</td>							
							<td width="105" class="bb_0 pl_0">Mesa de partes</td>							
							<td width="20" class="bb_0 text-center h_47_LightC ">1</td>					
							<td width="20" class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td width="15" class="bb_0 pl_0 pr_0 text-center"><i class="color_amarillo fa fa-circle"></i></td>			
							<td width="30" class="bb_0 text-center">I</td>							
							<td width="105" class="bb_0 pl_0">Información</td>							
							<td width="20" class="bb_0 text-center h_47_LightC ">2</td>					
							<td width="20" class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td width="15" class="bb_0 pl_0 pr_0 text-center"><i class="color_rojo fa fa-circle"></i></td>			
							<td width="30" class="bb_0 text-center">C</td>							
							<td width="105" class="bb_0 pl_0">Cobranzas</td>							
							<td width="20" class="bb_0 text-center h_47_LightC ">1</td>					
							<td width="20" class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="overflow plr_15">
				<div class="text-center left">					
					<label for="" class="h_47_LightC mb_0">Actividad</label><br>
					<input class="text-center h_47_LightC w_70 input_for" type="text" placeholder="03h: 25m">
				</div>			
				<div class="text-center left mlr_10">					
					<label for="" class="h_47_LightC mb_0">Pautas</label><br>
					<input class="text-center h_47_LightC w_70 input_for" type="text" placeholder="01h:: 08m">
				</div>			
				<div class="text-center left">					
					<label for="" class="h_47_LightC mb_0">Atenciones</label><br>
					<input class="text-center h_47_LightC w_70 input_for" type="text" placeholder="28">
				</div>			
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="f_90 fa fa-times-circle pointer color_F7D0D1 mr_15"></i>
				<i class="dbe4e9 f_90 fa fa-play-circle pointer"></i>
			</div>
		</div>
	</div>
</div>