<div class="row">
	<div class="col-lg-7 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC f_33">
			<ANY translate="pagina.reportes.atendidos.titulo.var1"></ANY> 
			<span class="h_47_LightC" 
				style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.reportes.atendidos.titulo.var2"></ANY>
			</span> 
			<ANY translate="pagina.reportes.atendidos.titulo.var3"></ANY> 
			<span class="color_verde h_47_LightC" 
			style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.reportes.atendidos.titulo.var4"></ANY>
			</span>
			<ANY translate="pagina.reportes.atendidos.titulo.var5"></ANY>
		</h1>
		<div class="col-lg-12 col-md-12">
			<div class="ffffff border_tabla">
				<!-- <div class="etiqueta_add pb_2em">
					<i class="fa fa-external-link"
					style="color:{{configuraciones[0]['estilo_consola_secundario_fondo_color']}}"></i>
					<span>Exportar</span>
				</div>
				<div class="text-center">
					<img src="images/cuadro_estadistico.png" alt="">
				</div> -->
				<div google-chart chart="chartObject"></div>
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="w_12_por borde_azul">&nbsp;</th>
							<th class="w_30_por borde_azul">Nombre del local</th>
							<th class="w_30_por text-center">Clientes atendidos</th>
							<th class="w_13_por text-center">&nbsp;</th>
							<th class="w_15_por text-right"><i class="color_celeste f_19 fa fa-search"></i> <i class="color_celeste fa fa-angle-double-right"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="reporte in reportes" class="activar">
							<td class="bb_0 text-right">
								<i style="color:{{reporte.color}}" class="fa fa-circle">
							</td>
							<td class="text-left" ng-bind="reporte.nombre"></td>
							<td class="text-center" ng-bind="reporte.atendidos"></td>
							<td class="bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>