<div class="row">
	<div class="col-lg-7 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC f_33">¿Cuantos <span class="color_verde h_47_LightC">Clientes</span> fueron <span class="color_verde h_47_LightC">Salteados</span>?</h1>
			<div class="col-lg-10 col-md-10">
				<div class="ffffff border_tabla">
					<div class="etiqueta_add pb_2em">
						<i class="color_verde fa fa-external-link"></i>
						<span>Exportar</span>
					</div>
					<div class="text-center">
						<img src="images/cuadro_estadistico.png" alt="">
					</div>
					<table class="table tabla_usuarios">
						<thead>
							<tr>
								<th class="w_12_por borde_azul">&nbsp;</th>
								<th class="w_30_por borde_azul">Nombre del local</th>
								<th class="w_30_por text-center">Clientes atendidos</th>
								<th class="w_13_por text-center">&nbsp;</th>
								<th class="w_15_por text-right"><i class="color_celeste f_19 fa fa-search"></i> <i class="color_celeste fa fa-angle-double-right"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="bb_0 text-right"><i class="color_verde fa fa-circle"></td>
								<td class="text-left">Benavides</td>
								<td class="text-center">2586</td>
								<td class="bb_0">&nbsp;</td>
								<td class="bb_0">&nbsp;</td>
							</tr>
							<tr>
								<td class="bb_0 text-right"><i class="color_azul fa fa-circle"></td>
								<td class="text-left">Angamos</td>
								<td class="text-center">2341</td>
								<td class="bb_0">&nbsp;</td>
								<td class="bb_0">&nbsp;</td>
							</tr>
							<tr>
								<td class="bb_0 text-right"><i class="color_morado fa fa-circle"></td>
								<td class="text-left">Javier Prado</td>
								<td class="text-center">2095</td>
								<td class="bb_0">&nbsp;</td>
								<td class="bb_0">&nbsp;</td>
							</tr>
							<tr>
								<td class="bb_0 text-right"><i class="color_purpura fa fa-circle"></td>
								<td class="text-left">El Polo</td>
								<td class="text-center">1946</td>
								<td class="bb_0">&nbsp;</td>
								<td class="bb_0">&nbsp;</td>
							</tr>
							<tr>
								<td class="bb_0 text-right"><i class="e07877 fa fa-circle"></td>
								<td class="text-left">Caminos del Inca</td>
								<td class="text-center">1875</td>
								<td class="bb_0">&nbsp;</td>
								<td class="bb_0">&nbsp;</td>
							</tr>
							<tr>
								<td class="bb_0 text-right"><i class="e1af6a fa fa-circle"></td>
								<td class="text-left">Jockey</td>
								<td class="text-center">1674</td>
								<td class="bb_0">&nbsp;</td>
								<td class="bb_0">&nbsp;</td>
							</tr>
							<tr>
								<td class="bb_0 text-right"><i class="color_amarillo fa fa-circle"></td>
								<td class="text-left">Camino Real</td>
								<td class="text-center">4540</td>
								<td class="bb_0">&nbsp;</td>
								<td class="bb_0">&nbsp;</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>