<div class="row">
	<div class="col-lg-7 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC f_33">Descarga las estadísticas desde <span class="h_47_LightC" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">AQUI</span></h1>
			<div class="col-lg-10 col-md-10">
				<div class="ffffff border_tabla">
					<div class="circle-search circle_datos">
						<i class="color_blanco fa fa-download"></i>
						<span class="mt_10 color_687a8b h_47_LightC">Archivo<br>Formato<br><span class="color_celeste">XLS</span></span>
					</div>	
				</div>
			</div>

	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>