<div class="row">
	<div class="col-lg-9 col-lg-offset-1">
		<h1 class="color_gris_oscuro h_37_ThinC f_33">
			<ANY translate="pagina.reportes.index.titulo.var1"></ANY> 
			<span class="h_47_LightC" 
				style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.reportes.index.titulo.var2"></ANY>
			</span> 
			<ANY translate="pagina.reportes.index.titulo.var3"></ANY>
		</h1>
		<div class="row configuracion">								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/reportes/clt_atendidos"><i class="fa fa-check-circle-o f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/reportes/clt_atendidos">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.reportes.index.item.atendidos.titulo"></ANY>
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
								</i>
							</h2>
						</a>
						<ANY translate="pagina.reportes.index.item.atendidos.descripcion"></ANY>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/reportes/clt_salteados"><i class="fa fa-ban f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/reportes/clt_salteados">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.reportes.index.item.salteados.titulo"></ANY>
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
								</i>
							</h2>
						</a>
						<ANY translate="pagina.reportes.index.item.salteados.descripcion"></ANY>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/reportes/tkt_impresos"><i class="fa fa-file-text-o f_50"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/reportes/tkt_impresos">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.reportes.index.item.impresos.titulo"></ANY>
								<i class="fa fa-angle-right" 
								style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
								</i>
							</h2>
						</a>
						<ANY translate="pagina.reportes.index.item.impresos.descripcion"></ANY>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/reportes/movil_escaneos"><i class="fa fa-qrcode f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/reportes/movil_escaneos">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.reportes.index.item.escaneos.titulo"></ANY>
								<i class="fa fa-angle-right" 
								style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
								</i>
							</h2>
						</a>
						<ANY translate="pagina.reportes.index.item.escaneos.descripcion"></ANY>
					</div>
				</div>								
			</div>
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/reportes/movil_tickets"><i class="fa fa-mobile f_75"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 pr_0">
						<a href="#/reportes/movil_tickets">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.reportes.index.item.tickets.titulo"></ANY>
								<i class="fa fa-angle-right" 
								style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
								</i>
							</h2>
						</a>
						<ANY translate="pagina.reportes.index.item.tickets.descripcion"></ANY>
					</div>
				</div>
			</div>						
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/reportes/comparativo_tickets"><i class="fa fa-clipboard f_50"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 pr_0">
						<a href="#/reportes/comparativo_tickets">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.reportes.index.item.comparativo.titulo"></ANY>
								<i class="fa fa-angle-right" 
								style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
								</i>
							</h2>
						</a>
						<ANY translate="pagina.reportes.index.item.comparativo.descripcion"></ANY>	
					</div>
				</div>								
			</div>
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/reportes/descarga_datos"><i class="fa fa-download f_52"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/reportes/descarga_datos">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.reportes.index.item.descarga.titulo"></ANY>
								<i class="fa fa-angle-right" 
								style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
								</i>
							</h2>
						</a>
						<ANY translate="pagina.reportes.index.item.descarga.descripcion"></ANY>
					</div>
				</div>								
			</div>					
		</div>
	</div>
</div>