<div class="row">
	<div class="col-lg-8 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC f_33">
			<ANY translate="pagina.reportes.frecuencia.titulo.var1"></ANY> 
			<span class="h_47_LightC" 
			style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.reportes.frecuencia.titulo.var2"></ANY>
			</span> 
			<ANY translate="pagina.reportes.frecuencia.titulo.var3"></ANY> 
			<span class="h_47_LightC" 
			style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.reportes.frecuencia.titulo.var4"></ANY>
			</span>
			<ANY translate="pagina.reportes.frecuencia.titulo.var5"></ANY>
		</h1>
		<div class="col-lg-12 col-md-12">
			<div class="ffffff border_tabla">
				<div class="pl_2-5em pt_20 h_47_LightC">
					<i class="f_23 color_4cbdca fa fa-bar-chart"></i>
					<select name="locales" class="combx w_30_por">
						<option value="1">Todos los locales</option>
					</select>
					<select name="reporte" class="combx w_20_por">
						<option value="1">Reporte anual</option>
					</select>
					<span class="right mr_10 color_687a8b">Exportar 
						<i class="f_19 color_2bb673 fa fa-external-link" aria-hidden="true"></i>
					</span>
				</div>
				<div class="pt_20 pb_10">
					<img class="pl_2-5em pr_1em w_100_por" src="images/reporte4.png" alt="">
				</div>
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="w_3_por borde_azul">&nbsp;</th>
							<th class="w_20_por borde_azul">Nombre del local</th>
							<th class="w_8_por text-center color_5aaf85">(I)</th>
							<th class="w_8_por text-center color_45a9c3">(T)</th>
							<th class="w_8_por text-center color_8e69d3">(C)</th>
							<th class="w_8_por text-center color_c262d0">(M)</th>
							<th class="w_8_por text-center color_e17777">(A)</th>
							<th class="w_8_por text-center color_e1ae6c">(P)</th>
							<th class="w_8_por text-center color_efe464">(R)</th>
							<th class="w_8_por text-center color_97bbcd">(N)</th>
							<th class="w_10_por text-center">Total</th>
							<th class="w_3_por">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr class="activar">
							<td class="bb_0">&nbsp;</td>
							<td class="text-left">Benavides</td>
							<td class="text-center">17,658</td>
							<td class="text-center">9,112</td>
							<td class="text-center">5,568</td>
							<td class="text-center">4,270</td>
							<td class="text-center">5,658</td>
							<td class="text-center">4,250</td>
							<td class="text-center">1,658</td>
							<td class="text-center">4,250</td>
							<td class="text-center">4,567</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr class="">
							<td class="bb_0">&nbsp;</td>
							<td class="text-left">Angamos</td>
							<td class="text-center">17,658</td>
							<td class="text-center">9,112</td>
							<td class="text-center">5,568</td>
							<td class="text-center">4,270</td>
							<td class="text-center">5,658</td>
							<td class="text-center">4,250</td>
							<td class="text-center">2,658</td>
							<td class="text-center">4,250</td>
							<td class="text-center">4,534</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr class="">
							<td class="bb_0">&nbsp;</td>
							<td class="text-left">Javier Prado</td>
							<td class="text-center">17,658</td>
							<td class="text-center">9,112</td>
							<td class="text-center">5,568</td>
							<td class="text-center">4,270</td>
							<td class="text-center">5,658</td>
							<td class="text-center">4,250</td>
							<td class="text-center">2,658</td>
							<td class="text-center">4,250</td>
							<td class="text-center">4,534</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr class="">
							<td class="bb_0">&nbsp;</td>
							<td class="text-left h_Cond">Total</td>
							<td class="text-center h_Cond">17,658</td>
							<td class="text-center h_Cond">9,112</td>
							<td class="text-center h_Cond">5,568</td>
							<td class="text-center h_Cond">4,270</td>
							<td class="text-center h_Cond">5,658</td>
							<td class="text-center h_Cond">4,250</td>
							<td class="text-center h_Cond">2,658</td>
							<td class="text-center h_Cond">4,250</td>
							<td class="text-center h_Cond">4,534</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>

