@font-face {
	font-family: 'HelveticaNeue_37_ThinCondensed';
	src: url('../fonts/HelveticaNeue_37_ThinCondensed.eot');
	src: url('../fonts/HelveticaNeue_37_ThinCondensed.woff') format('woff'), 
	url('../fonts/HelveticaNeue_37_ThinCondensed.ttf') format('truetype'), 
	url('../fonts/HelveticaNeue_37_ThinCondensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue_47_LightCondensed';
	src: url('../fonts/HelveticaNeue_47_LightCondensed.eot');
	src: url('../fonts/HelveticaNeue_47_LightCondensed.woff') format('woff'), 
	url('../fonts/HelveticaNeue_47_LightCondensed.ttf') format('truetype'), 
	url('../fonts/HelveticaNeue_47_LightCondensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue_Thin';
	src: url('../fonts/HelveticaNeue_Thin.eot');
	src: url('../fonts/HelveticaNeue_Thin.woff') format('woff'), 
	url('../fonts/HelveticaNeue_Thin.ttf') format('truetype'), 
	url('../fonts/HelveticaNeue_Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue_57_Condensed';
	src: url('../fonts/HelveticaNeue_57_Condensed.eot');
	src: url('../fonts/HelveticaNeue_57_Condensed.woff') format('woff'), 
	url('../fonts/HelveticaNeue_57_Condensed.ttf') format('truetype'), 
	url('../fonts/HelveticaNeue_57_Condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}