body{
	font-size: 15px;
	background-color: #f3f4f8;
}
i{
	font-size: 1.5em;
	color: #8293a3;
}
h1{
	padding-bottom: 1em;
}
p,
th,
td{
	font-family: 'HelveticaNeue_47_LightCondensed';
	color: #687a8b;
}
a{
	outline: none !important;
}
/* fonts */
.h_37_ThinC{
	font-family: 'HelveticaNeue_37_ThinCondensed';
}
.h_47_LightC{
	font-family: 'HelveticaNeue_47_LightCondensed';
}
.h_Thin{
	font-family: 'HelveticaNeue_Thin';
}
/* fondos y colores */
.ffffff{
	background-color: #fff;	
}
.f3f4f8{
	background-color: #f3f4f8;	
}
.color_rojo{
	color: #ed7d7d;
}
.color_verde{
	color: #8CC63E;
}
.color_gris_oscuro{
	color: #586979;
}
/* padding y margin */
.padding_center{
	padding-top: 55px;
}
.pl_0{
	padding-left: 0 !important;
}
.pl_10{
	padding-left: 10px;
}
.pl_56{
	padding-left: 56px;
}
.pr_0{
	padding-right: 0 !important;
}
.pr_1em{
	padding-right: 1em;
}
.pb_2em{
	padding-bottom: 2em;
}
.pb_3em{
	padding-bottom: 3em;
}
.mr_0{
	margin-right: 0;
}
.mr_10{
	margin-right: 10px;
}
.ml_0{
	margin-left: 0;
}
.mt_10 {
	margin-top: 10px;
}
/* border */
.bb_1{
	border-bottom: 1px solid #e3e6eb;
}
.bt_1{
	border-top:	1px solid #e3e6eb;
}
/* size font */
.f_23{
	font-size: 23px;
}
.f_1em{
	font-size: 1em;
}
.f_4em{
	font-size: 4em;
}
.f_5em{
	font-size: 5em;
}
.f_15em{
	font-size: 1.5em !important;
}
/* circle */
.circle{
	border-radius: 50%;
	background-color: #cce9a4;
	width: 106px;
	height: 106px;
}
.circle_gris{
	background-color: #d8e6e9;
}
.circle a{
	display: block;
	text-align: center;
}
.circle i{
	color: #fff;
	line-height: 106px;
}
/* Iconos superiores y laterales */
.navbar i,
.sidebar i{
	font-size: 1.5em;
}
/* block */
.none{
	display: none;
}
.block{
	display: block ;
}
.block_imp{
	display: block !important;
}
/* Navegacion superior */
.navbar-header{
	height: 53px;
}
.menu_superior{
	position: fixed;
	left: 0;
	right: 0;
	padding-left: 56px;
	z-index: 9;
}
.navbar-default{
	margin: 0;
	border-bottom: 1px 0 solid #e3e6eb;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}
#logo{
	background-color: #8dc63f;
	height: 54px;
}
#logo a{
	padding-top:13px !important;
	padding-bottom:13px !important;
}
#logo_htpgo a{
	padding-left: 0;
}
.title_app{
	color: #596a7a;
	display: block;
  	float: right;
	font-size: 1.5em;
  	padding-left: 10px;
  	padding-top: 3px;
}
.usuario{
	background-color: transparent;
	color: #3fb8c6 !important;
	font-size: 1.5em;
	padding-top: 18px !important;
}
.usuario:hover{
	color: #40B8C8;
}
/* slidebar */
.sidebar{
	background-color: #161d23;
	padding: 0;
}
.sidebar nav{
	border: 0;
}
.sidebar a{
	display: block;
	padding: 12px !important;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li a.active,
.sidebar ul li a.active2{
	background-color: #596A7A;
}
.sidebar ul li a:hover i,
.sidebar ul li a:focus i,
.sidebar ul li a.active i,
.sidebar ul li a.active2 i{
	color: #fff;
}
#sidebar_left{
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	z-index: 1000;
}
#sidebar_hidden{
	position: relative;
	height: 100%;
}
#sidebar_hidden div{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
/* sub_sidebar */
.contenedor_sidebar{
	position: fixed;
	padding-right: 0;
	margin-right: 0;
	height: 100%;
	top: 56px;
  	z-index: 9;
}
.sub_sidebar{
	background: #ffffff;
  	position: fixed;
  	height: 100%;
  	width: 160px;
  	border-right: 1px solid #e3e6eb;
}
.sub_sidebar ul{
	margin-top: -1px;
}
.sub_sidebar a{
	color: #5A6A79;
	font-family: 'HelveticaNeue_47_LightCondensed';
	font-size: 1em;
	padding: 11px 1em !important;
}
.sub_sidebar ul li a:hover,
.sub_sidebar ul li a:focus,
.sub_sidebar ul li a.active{
	background-color: #80D0D9;
}
.sub_sidebar .title{
	border-bottom: 	1px solid #e3e6eb;
}
.sub_sidebar .title a{
	padding-left: 15px !important;
	font-family: 'HelveticaNeue_47_LightCondensed';
	font-size: 1.2em;
}
.exclamacion{
	font-size: 1em !important;
}
/* cuerpo o contenido */
.contenedor{
	background-color: #e5edf0;
	padding-top: 62px;
}
.cuerpo{
	padding-bottom: 8em;
}
/*footer*/
.footer{
	height: 1.5em;
	background: #4c5d6d;
	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: 0.5;
	z-index: 9999;
}
.grabando{
    text-align: center;
    padding-left: 56px;
    position: absolute;
    bottom: 5.2em;
    width: 215px;
    height: 2.5em;
    background-color: #fff;
}
.grabando span{
	font-family: 'HelveticaNeue_47_LightCondensed';
	border-top: 1px solid #e3e6eb;
	color: #5A6A79;
    height: 2.5em;
    line-height: 2.5em;
    display: block;
    margin-left: 1em;
    margin-right: 1em;
}
.subir{
	background: #e5edf0;
	height: 2.5em;
	width: 100%;
	bottom: 1.5em;
	position: fixed;
}
.boton_subir{
  	background-color: #d8e6e9;
  	color: #8293a3;
  	cursor: pointer;
  	width: 1.5em;
  	display: block;
  	text-align: center;
  	margin: 0 auto;
  	font-size: 1.5em;
  	height: 1.5em;
  	line-height: 1.5em;
}
.subir_active{
	margin-left: 215px;
}
/* PAGINA DE CONFIGURACION */
.configuracion h2{
	margin: 5px 0;
}
/*MEDIA QUERIES */
@media (min-width: 768px){
	.pl_lg_0 {	
		padding-left: 0;		
	}
}
/*
@media (max-width: 768px) {
	.pl_65 {	padding: 0;		}
}
*/

/* Tablas */
table thead th.borde_azul{
	border-bottom: 2px solid #7fd0d9;
	color: #7fd0d9; 
	font-size: 16px;
}
table thead th{
	border-bottom: 1px solid #e3e6eb;
}

table thead th{
	padding: 0.5em 1em;
}

table tbody td div{
	margin: 0 0 0 1em ;
	padding: 0.5em 0;
	border-bottom: 1px solid #e3e6eb;
}

.border_tabla{
	border-radius: 4px;
	border: 1px solid #e3e6eb;
	padding-bottom: 3em;
}
