<div class="row">
	<div class="col-lg-8 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33"><span class="h_47_LightC" 
	style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">Atención</span> Puesto 5</h1>
		<div class="col-lg-8 col-md-8">
			<div class="ffffff border_tabla">
				<div class="text-right h_37_ThinC mt_10 mr_10 formato_input">
					<input type="text" placeholder="T53">  
					<i class="f_23 right color_596a7a fa fa-search"></i>					
					<div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 formato_cabecera pr_9em pt_1-5em">
						<span class="right color_celeste"> 
							<i class="left fondo_celeste fa fa-volume-up"></i>
							<span class="left color_celeste">Llamar al<br>siguiente<br>turno</span>
						</span>
					</div>
				</div>
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="bb_0 w_20_por">&nbsp;</th>
							<th class="w_60_por borde_azul text-center">Resultado de búsqueda</th>
							<th class="w_20_por bb_0">&nbsp;</th>
						</tr>
					</thead>
					<tbody class="e5edf0">
						<tr>
							<th class="bb_0">&nbsp;</th>
							<td class="bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="bb_0 f_71 color_rojo text-center lh_30">T53</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="bb_0 text-center h_Cond color_rojo">Turno no encontrado</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--
	<div class="slide_flotante slide_a_mod2">
		<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_10 mt_-10 f_16">T56 - Sergio Ramirez</div>			
			<div class="plr_15 pt_1 pr_3em">	
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Criterios de atención utilizados</label><br>
				<select name="" id="" class="mb_5 h_47_LightC w_100_por input_for">
					<option>Elegir categoría</option>
				</select>
				<select name="" id="" class="h_47_LightC w_100_por input_for">
					<option>Elegir criterio</option>
				</select>
				<i class="fa fa-plus-circle add_criterio pointer"></i>
			</div>		
			<div class="plr_15 pt_1">
				<div class="list_criterios">					
					<div class="item_criterio">					
						<div for="" class="h_47_LightC mb_0 pr_1em">Actualización documento de indenti...</div><br>
						<i class="fa fa-minus-circle delete_criterio color_rojo pointer"></i>
					</div>				
					<div class="item_criterio">					
						<div for="" class="h_47_LightC mb_0 pr_1em">Actualización de domicilio fiscal...</div><br>
						<i class="fa fa-minus-circle delete_criterio color_rojo pointer"></i>
					</div>
				</div>
			</div>				
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Historia</label><br>
				<textarea class="h_47_LightC w_100_por input_for" name="" id="" cols="30" rows="8"></textarea>
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Notas</label><br>
				<textarea class="h_47_LightC w_100_por input_for" name="" id="" cols="30" rows="3"></textarea>
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="f_90 fa fa-times-circle pointer color_F7D0D1 mr_15"></i>
				<i class="dbe4e9 f_90 fa fa-play-circle pointer"></i>
			</div>
		</div>
	</div>
	-->
</div>