<div class="row">
	<div class="col-lg-8 col-md-11 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿En qué ubicación realizarás la <span class=" h_47_LightC" 
	style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">Atención</span>?</h1>
		<div class="col-lg-8 col-md-8">
			<div class="ffffff border_tabla color_gris_oscuro">
				<div class="mt_25 ml_25">
					<span class="f_19 h_47_LightC lh_30">
						<i class="color_gris_oscuro fa fa-check-square-o"></i> Me llamo 
						<span class="color_celeste"> Juan Perez</span>
					</span><br>
					<span class="mr_10 h_47_LightC">Voy a atender la ventanilla o puesto </span>
					<select name="puesto" class="combx w_10_por">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select></br>
					<div class="text-center pt_1-5em pb_1-5em"><i class="dbe4e9 f_5em fa fa-check-circle"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>