<div class="row">
	<div class="col-lg-9 col-lg-offset-1">
		<h1 class="color_gris_oscuro h_37_ThinC f_33">
			<ANY translate="pagina.video.index.titulo.var1"></ANY>
			<span class="h_47_LightC" 
				style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.video.index.titulo.var2"></ANY>
			</span> 
			<ANY translate="pagina.video.index.titulo.var3"></ANY>
		</h1>
		<div class="row configuracion">								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/video/playlist"><i class="fa fa-youtube-play f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/video/playlist">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.video.index.item.playlist.titulo"></ANY> 
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<ANY translate="pagina.video.index.item.playlist.descripcion"></ANY>
					</div>
				</div>								
			</div>		
		</div>
	</div>
</div>