<div class="row">
	<div class="col-lg-8 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿Qué <span class="h_47_LightC" 
	style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">Playlist</span> deseas reproducir desde Youtube?</h1>
		<div class="col-lg-7 col-md-7">
			<div class="ffffff border_tabla">
				<div class="col-lg-12 col-md-12 text-right mt_10 pb_2em">
					<a class="right" href="#">
						<span class="h_47_LightC color_gris_oscuro left pr_5 pt_4">Agregar playlist </span>
						<i class="f_23 color_verde fa fa-plus-circle left"></i>
					</a>
				</div>
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="w_5_por borde_azul">&nbsp;</th>
							<th class="w_35_por borde_azul pl_0">Nombre del Playlist</th>
							<th class="w_20_por text-center">Activar</th>
							<th class="w_30_por">&nbsp;</th>
							<th class="w_10_por">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Playlist v01</td>
							<td class="text-center"><i class="color_rojo  fa fa-circle-o"></i></td>
							<td class="bb_0 text-center">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Playlist v02</td>
							<td class="text-center"><i class="color_rojo  fa fa-circle-o"></i></td>
							<td class="bb_0 text-center">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr class="active">
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Playlist v03</td>
							<td class="text-center"><i class="fa fa-dot-circle-o"></i></td>
							<td class="bb_0">&nbsp;</td>
							<td class="bb_0 text-left"><i class="color_rojo fa fa-times"></i></td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Playlist v04</td>
							<td class="text-center"><i class="color_rojo  fa fa-circle-o"></i></td>
							<td class="bb_0 text-center">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Playlist v05</td>
							<td class="text-center"><i class="color_rojo  fa fa-circle-o"></i></td>
							<td class="bb_0 text-center">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Playlist v06</td>
							<td class="text-center"><i class="color_rojo  fa fa-circle-o"></i></td>
							<td class="bb_0 text-center">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Playlist v07</td>
							<td class="text-center"><i class="color_rojo  fa fa-circle-o"></i></td>
							<td class="bb_0 text-center">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Playlist v08</td>
							<td class="text-center"><i class="color_rojo  fa fa-circle-o"></i></td>
							<td class="bb_0 text-center">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Playlist v09</td>
							<td class="text-center"><i class="color_rojo  fa fa-circle-o"></i></td>
							<td class="bb_0 text-center">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="slide_flotante slide_usuarios">
		<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_10 mt_-10 f_16">Editar playlist</div>
			<div class="plr_15 pt_1">
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Nombre del playlist</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="Playlist v03">
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Código generado para el embebido</label><br>
				<textarea class="h_47_LightC w_100_por input_for" name="" id="" cols="30" rows="10" placeholder='<iframe width="560" height="315" src="https://www.youtube.com/embed/ME2Hufquz0k" frameborder="0" allowfullscreen></iframe>'></textarea>
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-play-circle pointer"></i>
			</div>
		</div>
	</div>
</div>