<div class="row">
	<div class="col-lg-9 col-lg-offset-1">
		<h1 class="color_gris_oscuro h_37_ThinC f_33">
			<span 
				style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}" 
				class="h_47_LightC">
				<ANY translate="pagina.configuracion.index.titulo.var1"></ANY>
			</span> 
			<ANY translate="pagina.configuracion.index.titulo.var2"></ANY>
		</h1>
		<div class="row configuracion">								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/roles"><i class="fa fa-sitemap f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/roles">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.configuracion.index.item.roles.titulo"></ANY> 
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<p translate="pagina.configuracion.index.item.roles.descripcion"></p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/usuarios"><i class="fa fa-users f_40"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/usuarios">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
							 	<ANY translate="pagina.configuracion.index.item.usuarios.titulo"></ANY> 
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<p translate="pagina.configuracion.index.item.usuarios.descripcion"></p>
					</div>
				</div>								
			</div>
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/logicakioscos"><i class="fa fa-plug f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/logicakioscos">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
							 	<ANY translate="pagina.configuracion.index.item.logica.titulo"></ANY> 
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<p translate="pagina.configuracion.index.item.logica.descripcion"></p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/estilos"><i class="fa fa-picture-o f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/estilos">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
							 	<ANY translate="pagina.configuracion.index.item.estilos.titulo"></ANY> 
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<p translate="pagina.configuracion.index.item.estilos.descripcion"></p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/seguridad"><i class="fa fa-shield f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/seguridad">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
							 	<ANY translate="pagina.configuracion.index.item.seguridad.titulo"></ANY> 
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<p translate="pagina.configuracion.index.item.seguridad.descripcion"></p>			
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/peticiones"><i class="fa fa-key f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 pr_0">
						<a href="#/configurar/peticiones">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
							 	<ANY translate="pagina.configuracion.index.item.peticiones.titulo"></ANY> 
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<p translate="pagina.configuracion.index.item.peticiones.descripcion"></p>	
					</div>
				</div>								
			</div>			
		</div>	
	</div>
</div>