<div class="row">
	<div class="col-lg-9 col-lg-offset-1">
		<h1 class="color_gris_oscuro h_37_ThinC f_33"><span class="color_verde h_47_LightC">Configura</span> los aspectos generales del sistema</h1>
		<div class="row configuracion">								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/roles"><i class="fa fa-sitemap f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/roles"><h2 class="color_gris_oscuro h_37_ThinC f_29">Roles <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Administra los roles que requiera<br>tu organización para atender la<br>administración de colas.</p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/usuarios"><i class="fa fa-users f_40"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/usuarios"><h2 class="color_gris_oscuro h_37_ThinC f_29">Usuarios <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Agrega, elimina  o edita a los<br>usuarios que serán responsables<br>de administrar el sistema.</p>
					</div>
				</div>								
			</div>
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/usuarios"><i class="fa fa-plug f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/usuarios"><h2 class="color_gris_oscuro h_37_ThinC f_29">Lógica de kioscos <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Establece qué mecanismos de<br>lectura utilizarán los visitantes al<br>identificarse en tus kioscos.</p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/estilos"><i class="fa fa-picture-o f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/estilos"><h2 class="color_gris_oscuro h_37_ThinC f_29">Estilos <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Modifica algunas características<br>para personalizar las aplicaciones<br>htpGO al estilo de tu empresa.</p>	
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/seguridad"><i class="fa fa-shield f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/configurar/seguridad"><h2 class="color_gris_oscuro h_37_ThinC f_29">Seguridad <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Configura la frecuencia de envío<br>de códigos de autenticación y<br>otros aspectos de seguridad.</p>			
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/configurar/peticiones"><i class="fa fa-key f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 pr_0">
						<a href="#/configurar/peticiones"><h2 class="color_gris_oscuro h_37_ThinC f_29">Peticiones de acceso <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Lista de códigos de autenticidad y<br>contraseñas solicitadas desde<br>direcciones desconocidas.</p>		
					</div>
				</div>								
			</div>			
		</div>	
	</div>
</div>