<div class="row">
	<div class="col-lg-9 col-md-11 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">
			<ANY translate="pagina.configuracion.seguridad.titulo.var1"></ANY>
			<span class="h_47_LightC" 
				style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.configuracion.seguridad.titulo.var2"></ANY>
			</span> 
			<ANY translate="pagina.configuracion.seguridad.titulo.var3"></ANY>
		</h1>
		<div class="col-lg-7 col-md-9">		
			<div class="ffffff border_tabla pt_4em">
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="w_5_por borde_azul">&nbsp;</th>
							<th class="w_60_por borde_azul pl_0">
								<ANY translate="pagina.configuracion.seguridad.tabla.titulo.columna1"></ANY>
							</th>
							<th class="w_30_por">
								<ANY translate="pagina.configuracion.seguridad.tabla.titulo.columna2"></ANY>
							</th>
							<th class="w_5_por">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr class="activar" ng-click="activar_autenticacion()">
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">
								<ANY translate="pagina.configuracion.seguridad.tabla.cuerpo.fila1.columna1"></ANY>
							</td>
							<td>{{ valor_autenticacion }}</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr class="activar" ng-click="activar_codigo()">
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">
								<ANY translate="pagina.configuracion.seguridad.tabla.cuerpo.fila2.columna1"></ANY>
							</td>
							<td>{{ valor_codigo }}</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="slide_flotante slide_seguridad" ng-show="estado_au">
		<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer color_8293a3"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 f_16 bb_1 pb_10 mt_-10">
				<ANY translate="pagina.configuracion.seguridad.slide.titulo1"></ANY>
			</div>
			<div class="plr_15 pt_1 lh_30 color_687a8b">
				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_autenticacion_tipo'] == 1) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_autenticacion_tipo']"
					ng-click="radio_autenticacion(1)"></i>
				<span class="h_47_LightC">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item1"></ANY>
				</span><br>

				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_autenticacion_tipo'] == 2) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_autenticacion_tipo']"
					ng-click="radio_autenticacion(2)"></i>
				<span class="h_47_LightC">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item2"></ANY>
				</span><br>

				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_autenticacion_tipo'] == 3) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_autenticacion_tipo']"
					ng-click="radio_autenticacion(3)"></i> 
				<span class="h_47_LightC">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item3"></ANY>
				</span><br>

				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_autenticacion_tipo'] == 4) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_autenticacion_tipo']"
					ng-click="radio_autenticacion(4)"></i>
				<span class="h_47_LightC">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item4"></ANY>
				</span><br>

				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_autenticacion_tipo'] == 5) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_autenticacion_tipo']"
					ng-click="radio_autenticacion(5)"></i>
				<span class="h_47_LightC">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item5"></ANY>
					<input type="text" class="input_for w_37" 
						ng-model="configuraciones[0]['seguridad_codigo_autenticacion_dias']"> 
						<ANY translate="pagina.configuracion.seguridad.slide.check.item5_1"></ANY>
				</span>
			</div>
			<div class="plr_15 pt_1 input_calendar ml_20">
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item6"></ANY>
				</label><br>
				<input class="h_47_LightC w_100_por input_for datepicker" 
				type="text" data-date-format="dd/mm/yyyy" 
				ng-model="configuraciones[0]['seguridad_codigo_autenticacion_fecha']">
				<i class="fa fa-table"></i>
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-check-circle" ng-click="update_autenticacion()"></i>
			</div>
		</div>
	</div>

	<div class="slide_flotante slide_seguridad" ng-show="estado_co">
		<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 f_16 bb_1 pb_10 mt_-10">
				<ANY translate="pagina.configuracion.seguridad.slide.titulo2"></ANY>
			</div>
			<div class="plr_15 pt_1 lh_30 color_687a8b">
				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_kiosco_tipo'] == 1) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_kiosco_tipo']"
					ng-click="radio_codigo(1)"></i>
				<span class="h_47_LightC">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item1"></ANY>
				</span><br>

				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_kiosco_tipo'] == 2) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_kiosco_tipo']"
					ng-click="radio_codigo(2)"></i>
				<span class="h_47_LightC"> 
					<ANY translate="pagina.configuracion.seguridad.slide.check.item2"></ANY>
				</span><br>

				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_kiosco_tipo'] == 3) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_kiosco_tipo']"
					ng-click="radio_codigo(3)"></i> 
				<span class="h_47_LightC">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item3"></ANY>
				</span><br>

				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_kiosco_tipo'] == 4) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_kiosco_tipo']"
					ng-click="radio_codigo(4)"></i>
				<span class="h_47_LightC">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item4"></ANY>
				</span><br>

				<i class="fa" 
					ng-class="(configuraciones[0]['seguridad_codigo_kiosco_tipo'] == 5) ?
					'fa-dot-circle-o' : 
					'color_rojo fa-circle-o' "
					ng-model="configuraciones[0]['seguridad_codigo_kiosco_tipo']"
					ng-click="radio_codigo(5)"></i>
				<span class="h_47_LightC">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item5"></ANY>
					<input type="text" class="input_for w_37" 
						ng-model="configuraciones[0]['seguridad_codigo_kiosco_dias']"> 
						<ANY translate="pagina.configuracion.seguridad.slide.check.item5_1"></ANY>
				</span>
			</div>
			<div class="plr_15 pt_1 input_calendar ml_20">
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">
					<ANY translate="pagina.configuracion.seguridad.slide.check.item6"></ANY>
				</label><br>
				<input class="h_47_LightC w_100_por input_for datepicker_codigo" 
				type="text" data-date-format="dd/mm/yyyy" 
				ng-model="configuraciones[0]['seguridad_codigo_kiosco_fecha']">
				<i class="fa fa-table"></i>
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-check-circle" ng-click="update_codigo()"></i>
			</div>
		</div>
	</div>
</div>