<div class="row">
	<div class="col-lg-9 col-md-11 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿Qué configuración de <span class="h_47_LightC" 
	style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">Seguridad</span> utilizarás?</h1>
		<div class="col-lg-7 col-md-8">		
			<div class="ffffff border_tabla pt_4em">
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="w_5_por borde_azul">&nbsp;</th>
							<th class="w_60_por borde_azul pl_0">Opciones de seguridad</th>
							<th class="w_30_por">Frecuencia</th>
							<th class="w_5_por">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr class="active">
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Actualización de código de autenticación</td>
							<td>Una vez al mes</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Actualización de código en kioscos</td>
							<td>Nunca actualizar</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="slide_flotante slide_seguridad">
		<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 f_16 bb_1 pb_10 mt_-10">Código de autenticación</div>
			<div class="plr_15 pt_1 lh_30 color_687a8b">
				<i class="color_rojo fa fa-circle-o"></i> <span class="h_47_LightC">Nunca actualizar</span><br>
				<i class="fa fa-dot-circle-o"></i><span class="h_47_LightC"> Actualizar una vez al mes</span><br>
				<i class="color_rojo fa fa-circle-o"></i> <span class="h_47_LightC">Actualizar una vez a la semana</span><br>
				<i class="color_rojo fa fa-circle-o"></i> <span class="h_47_LightC">Actualizar una vez al día</span><br>
				<i class="color_rojo fa fa-circle-o"></i> <span class="h_47_LightC">Actualizar cada <input type="text" class="input_for w_37"> días</span>
			</div>
			<div class="plr_15 pt_1 input_calendar ml_20">
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Fecha de próxima actualización</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text"><i class="fa fa-calendar"></i>
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-check-circle"></i>
			</div>
		</div>
	</div>
</div>