<div class="row">
	<div class="col-lg-10 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC">¿Qué <span class="color_verde h_47_LightC">Playlist</span> deseas reproducir desde Youtube?</h1>
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div class="ffffff border_tabla ml_17">
					<div class="etiqueta_add">
						<i class="color_verde fa fa-plus-circle"></i>
						<span>Agregar playlist</span>
					</div>
					<table width="100%">
						<thead>
							<tr>
								<th width="40%" class="borde_azul">Nombre del Playlist</th>
								<th width="20%">Activar</th>
								<th width="40%">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div>Playlist v01</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo  fa fa-circle-o"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Playlist v02</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo  fa fa-circle-o"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr class="e5edf0">
								<td>
									<div class="color_celeste">Playlist v03</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_celeste fa fa-dot-circle-o"></i></div>
								</td>
								<td class="text-right pr_1em"><i class="color_rojo fa fa-times"></i></td>
							</tr>
							<tr>
								<td>
									<div>Playlist v04</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo  fa fa-circle-o"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Playlist v05</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo  fa fa-circle-o"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Playlist v06</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo  fa fa-circle-o"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Playlist v07</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo  fa fa-circle-o"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Playlist v08</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo  fa fa-circle-o"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Playlist v09</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo  fa fa-circle-o"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>