<div class="row">
	<div class="col-lg-8 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿Qué <span class="color_verde h_47_LightC">Grupos de Atención</span> ofrecerás?</h1>
		<div class="col-lg-7 col-md-7">
			<div class="ffffff border_tabla">
				<div class="col-lg-12 col-md-12 text-right mt_10 pb_2em">
					<a class="right" href="#">
						<span class="h_47_LightC color_gris_oscuro left pr_5 pt_4">Agregar grupo de atención </span>
						<i class="f_23 color_verde fa fa-plus-circle left"></i>
					</a>
				</div>
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="w_5_por borde_azul">&nbsp;</th>
							<th class="w_35_por borde_azul pl_0">Grupos de atención</th>
							<th class="w_15_por text-center">Inicial</th>
							<th class="w_15_por text-center">Color</th>
							<th class="w_25_por">&nbsp;</th>
							<th class="w_5_por bb_0">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Información</td>
							<td class="text-center">I</td>
							<td class="text-center"><i class="color_amarillo fa fa-circle"></i></td>
							<td class="text-right bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>						
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Trámites</td>
							<td class="text-center">T</td>
							<td class="text-center"><i class="color_amarillo fa fa-circle"></i></td>
							<td class="text-right bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr class="active">
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Cobranzas</td>
							<td class="text-center">T</td>
							<td class="text-center"><i class="color_rojo fa fa-circle"></i></td>
							<td class="text-right bb_0"><i class="color_rojo fa fa-times"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Mesa de partes</td>
							<td class="text-center">M</td>
							<td class="text-center"><i class="color_amarillo fa fa-circle"></i></td>
							<td class="text-right bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Atención</td>
							<td class="text-center">A</td>
							<td class="text-center"><i class="color_amarillo fa fa-circle"></i></td>
							<td class="text-right bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Plataforma preferente</td>
							<td class="text-center">P</td>
							<td class="text-center"><i class="color_azul fa fa-circle"></i></td>
							<td class="text-right bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Plataforma regular</td>
							<td class="text-center">R</td>
							<td class="text-center"><i class="color_azul fa fa-circle"></i></td>
							<td class="text-right bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Plataforma no cliente</td>
							<td class="text-center">M</td>
							<td class="text-center"><i class="color_azul fa fa-circle"></i></td>
							<td class="text-right bb_0">&nbsp;</td>
							<td class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
	<div class="slide_flotante slide_p_atencion">
		<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_azul bb_1 pb_10 mt_-10 color_7fd0d9 f_16">Editar grupo de atención</div>
			<div class="plr_15 pt_1">
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Grupo de atención</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="Cobranza">
			</div>
			<div class="plr_15 pt_1 overflow">
				<div class="left pr_1em">
					<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Inicial</label><br>
					<input class="h_47_LightC w_75 input_for" type="text" placeholder="C">
				</div>
				<div class="left">					
					<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Color (#000000)</label><br>
					<input class="h_47_LightC w_150_por input_for" type="text" >				
					<div class="cuadro_color"></div>
				</div>				
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0 color_687a8b f_weight100">Paleta Recomendada</label><br>
				<img src="images/colores.jpg" alt="">
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
			</div>
		</div>
	</div>
</div>