<div class="row">
	<div class="col-lg-8 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">
			<ANY translate="pagina.planificacion.atencion.titulo.var1"></ANY> 
			<span class="h_47_LightC" 
				style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.planificacion.atencion.titulo.var2"></ANY>
			</span> 
			<ANY translate="pagina.planificacion.atencion.titulo.var3"></ANY>
		</h1>
		<div class="col-lg-7 col-md-7">
			<div class="ffffff border_tabla">
				<div class="col-lg-12 col-md-12 text-right mt_10 pb_2em">
					<a class="right pointer" ng-click="show_crear()">
						<span class="h_47_LightC color_gris_oscuro left pr_5 pt_4">
							<ANY translate="pagina.planificacion.atencion.boton"></ANY> 
						</span>
						<i class="f_23 fa fa-plus-circle left"
						style="color:{{configuraciones[0]['estilo_consola_secundario_texto_color']}}"></i>
					</a>
				</div>
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="w_5_por borde_azul">&nbsp;</th>
							<th class="w_55_por borde_azul pl_0">
								<ANY translate="pagina.planificacion.atencion.tabla.titulo.columna1"></ANY>
							</th>
							<th class="w_15_por text-center">
								<ANY translate="pagina.planificacion.atencion.tabla.titulo.columna2"></ANY>
							</th>
							<th class="w_15_por text-center">
								<ANY translate="pagina.planificacion.atencion.tabla.titulo.columna3"></ANY>
							</th>
							<th class="w_25_por">&nbsp;</th>
							<th class="w_5_por bb_0">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="grupoatencion in grupoatenciones" 
						ng-class="(grupoatencion.id > 0 ) ? 'activar' : 'desactivar'">
							<td class="bb_0 w_5_por">&nbsp;</td>
							<td class="pl_0 w_55_por" ng-click="show_editar(grupoatencion.id)" ng-bind="grupoatencion.nombre" ></td>
							<td class="text-center w_15_por" ng-bind="grupoatencion.inicial"></td>
							<td class="text-center w_15_por">
								<i class="fa fa-circle mapa" 
								style="color: {{ grupoatencion.color }}"></i>
								</td>
							<td class="text-right bb_0 w_25_por" ng-if="grupoatencion.id > 0">
								<i 	class="eliminar color_rojo fa fa-times" 
									ng-click="eliminar(grupoatencion.id)"></i>
							</td>
							<td class="bb_0 w_5_por">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
	<div class="slide_flotante slide_p_atencion" ng-show="estado">
		<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer color_8293a3" ng-click="close()"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_10 mt_-10 f_16" ng-bind="title_slide"></div>
			<div class="plr_15 pt_1">
				<label for="" class="h_47_LightC mb_0 color_687a8b">
					<ANY translate="pagina.planificacion.atencion.slide.form.label1"></ANY>
				</label><br>
				<input ng-model="grupoatencion.nombre" class="h_47_LightC w_100_por input_for" type="text">
			</div>
			<div class="plr_15 pt_1">
				<div class="left pr_1em">
					<label for="" class="h_47_LightC mb_0 color_687a8b">
						<ANY translate="pagina.planificacion.atencion.slide.form.label2"></ANY>
					</label><br>
					<input ng-model="grupoatencion.inicial" class="h_47_LightC w_75 input_for" type="text">
				</div>
				<div class="left">					
					<label for="" class="h_47_LightC mb_0 color_687a8b">
						<ANY translate="pagina.planificacion.atencion.slide.form.label3"></ANY>
					</label><br>
					<div class="minicolor_generales mini_kiosko_texto_ga">
						<input
						    minicolors="mini_generales"
						    id="color-input"
						    class="h_47_LightC w_150 input_for"
						    type="text"
						    ng-model="grupoatencion.color">
					</div>
				</div>				
			</div>
			<div class="text-center boton_guardar pt_1">
				<i ng-show="act_btn_crear" class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="crear()"></i>
				<i ng-show="act_btn_up" class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="actualizar()"></i>
			</div>
		</div>
	</div>
</div>