<div class="row">
	<div class="col-lg-9 col-lg-offset-1">
		<h1 class="color_gris_oscuro h_37_ThinC f_33"><span class="h_47_LightC" 
	style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">Planifica</span> los criterios y la lógica involucrada en la atención</h1>
		<div class="row configuracion">								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/planificacion/locales"><i class="fa fa-map-marker f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/planificacion/locales"><h2 class="color_gris_oscuro h_37_ThinC f_29">Locales / Kioscos <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Ingresa los locales que componen<br>tu negocio incluyendo sus<br>ubicaciones y códigos de kiosco.</p>
					</div>
				</div>								
			</div>
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/planificacion/jerarquia"><i class="fa fa-heart f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/planificacion/jerarquia"><h2 class="color_gris_oscuro h_37_ThinC f_29">Clientes y jerarquías <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Actualiza la base de datos de<br>clientes y ordena los tipos de<br>cliente por jerarquía.</p>
					</div>
				</div>								
			</div>								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/planificacion/gatencion"><i class="fa fa-crosshairs f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/planificacion/gatencion"><h2 class="color_gris_oscuro h_37_ThinC f_29">Grupos de atención <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Define cuáles serán las jerarquías<br>o categorías de atención que<br>mostrarán tus tickets.</p>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/planificacion/logica"><i class="fa fa-flask f_52"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/planificacion/logica"><h2 class="color_gris_oscuro h_37_ThinC f_29">Lógica <i class="fa fa-angle-right color_verde"></i></h2></a>
						<p>Configura cómo afecta cada<br>criterio el funcionamiento de la<br>aplicación de colas.</p>	
					</div>
				</div>								
			</div>			
		</div>
	</div>
</div>