<div class="row">
	<div class="col-lg-9 col-lg-offset-1">
		<h1 class="color_gris_oscuro h_37_ThinC f_33">
			<span class="h_47_LightC" 
				style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.planificacion.index.titulo.var1"></ANY>
			</span> 
			<ANY translate="pagina.planificacion.index.titulo.var2"></ANY>
		</h1>
		<div class="row configuracion">								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/planificacion/locales"><i class="fa fa-map-marker f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/planificacion/locales">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.planificacion.index.item.locales.titulo"></ANY>
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<ANY translate="pagina.planificacion.index.item.locales.descripcion"></ANY>
					</div>
				</div>								
			</div>
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/planificacion/jerarquia"><i class="fa fa-heart f_47"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/planificacion/jerarquia">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.planificacion.index.item.jerarquia.titulo"></ANY>
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<ANY translate="pagina.planificacion.index.item.jerarquia.descripcion"></ANY>
					</div>
				</div>								
			</div>								
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/planificacion/gatencion"><i class="fa fa-crosshairs f_55"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/planificacion/gatencion">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.planificacion.index.item.atencion.titulo"></ANY> 
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<ANY translate="pagina.planificacion.index.item.atencion.descripcion"></ANY>
					</div>
				</div>								
			</div>							
			<div class="col-lg-6 col-md-6 pb_3em">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="circle circle_gris">									
							<a href="#/planificacion/logica"><i class="fa fa-flask f_52"></i></a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<a href="#/planificacion/logica">
							<h2 class="color_gris_oscuro h_37_ThinC f_29">
								<ANY translate="pagina.planificacion.index.item.logica.titulo"></ANY> 
								<i class="fa fa-angle-right" style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}"></i>
							</h2>
						</a>
						<ANY translate="pagina.planificacion.index.item.logica.descripcion"></ANY>	
					</div>
				</div>								
			</div>			
		</div>
	</div>
</div>