<div class="row">
	<div class="col-lg-8 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">
			<ANY translate="pagina.planificacion.locales.titulo.var1"></ANY>
			<span class="h_47_LightC" 
				style="color:{{configuraciones[0]['estilo_consola_principal_texto_color']}}">
				<ANY translate="pagina.planificacion.locales.titulo.var2"></ANY>
			</span> 
			<ANY translate="pagina.planificacion.locales.titulo.var3"></ANY>
		</h1>
		<div class="col-lg-8 col-md-8">
			<div class="ffffff border_tabla">
				<div class="col-lg-12 col-md-12 text-right mt_10 pb_2em">
					<a class="right pointer" ng-click="show_crear()">
						<span class="h_47_LightC color_gris_oscuro left pr_5 pt_4">
							<ANY translate="pagina.planificacion.locales.boton"></ANY>
						</span>
						<i class="f_23 fa fa-plus-circle left"
						style="color:{{configuraciones[0]['estilo_consola_secundario_texto_color']}}"></i>
					</a>
				</div>
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="w_5_por borde_azul">&nbsp;</th>
							<th class="w_25_por borde_azul pl_0">
								<ANY translate="pagina.planificacion.locales.tabla.titulo.columna1"></ANY>
							</th>
							<th class="w_35_por text-center">
								<ANY translate="pagina.planificacion.locales.tabla.titulo.columna2"></ANY>
							</th>
							<th class="w_20_por text-center">
								<ANY translate="pagina.planificacion.locales.tabla.titulo.columna3"></ANY>
							</th>
							<th class="w_15_por">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="local in locales" ng-class="(local.id > 0 ) ? 'activar' : 'desactivar'">
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0" ng-bind="local.nombre" ng-click="show_editar(local.id)"></td>
							<td class="text-center" ng-bind="local.kiosco_codigo"></td>
							<td class="text-center">
								<i class="fa fa-map-marker mapa"
								ng-class="(local.ubicacion != '') ? '' : 'color_rojo' "></i>
							</td>
							<td class="bb_0 text-center" ng-if="local.id > 0">
								<i 	class="eliminar color_rojo fa fa-times" 
									ng-click="eliminar(local.id)"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="slide_flotante slide_usuarios" ng-show="estado">
		<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer color_8293a3" ng-click="close()"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_10 mt_-10 f_16" ng-bind="title_slide"></div>
			<div class="plr_15 pt_1 pr_2em">
				<label for="" class="h_47_LightC mb_0 color_687a8b">
					<ANY translate="pagina.planificacion.locales.slide.form.label1"></ANY>
				</label><br>
				<input ng-model="local.nombre" class="h_47_LightC w_100_por input_for" type="text">
			</div>
			<div class="plr_15 pt_1 pr_2em">	
				<label for="" class="h_47_LightC mb_0 color_687a8b">
					<ANY translate="pagina.planificacion.locales.slide.form.label2"></ANY>
				</label><br>
				<input ng-model="local.ventanillas" class="h_47_LightC w_100_por input_for" type="text">
			</div>
			<div class="plr_15 pt_1 pr_2em">	
				<label for="" class="h_47_LightC mb_0 color_687a8b">
					<ANY translate="pagina.planificacion.locales.slide.form.label3"></ANY>
				</label><br>
				<input ng-model="local.kiosco_codigo" class="h_47_LightC w_100_por input_for" type="text">
			</div>
			<div class="plr_15 pt_1 pr_2em">	
				<label for="" class="h_47_LightC mb_0 color_687a8b">
					<ANY translate="pagina.planificacion.locales.slide.form.label4"></ANY>
				</label><br>
				<input ng-model="local.ubicacion" class="h_47_LightC w_100_por input_for" 
				type="text" ng-disabled="true">
				<!--<i class="fa fa-expand zoom_mapa pointer"></i>-->
			</div>

			<div class="col-lg-12-col-md-12 col-sm-12 col-xs-12 pt_1">
           		<!--<ui-gmap-google-map 
           		center='map.center' 
           		zoom='map.zoom'>
           		</ui-gmap-google-map>-->
           		<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
			        <ui-gmap-marker 
			        coords="marker.coords" 
			        options="marker.options" 
			        events="marker.events" 
			        idkey="marker.id">
			        </ui-gmap-marker>
			    </ui-gmap-google-map>
			</div>

			<div class="text-center boton_guardar pt_1">
				<i ng-show="act_btn_crear" class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="crear()"></i>
				<i ng-show="act_btn_up" class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="actualizar()"></i>
			</div>
		</div>
	</div>
</div>