<div class="row">
	<div class="col-lg-8 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿Qué <span class="color_verde h_47_LightC">Lógica</span> utilizarás para la atención?</h1>
		<div class="col-lg-7 col-md-7">
			<div class="ffffff border_tabla pt_4em">
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th class="w_5_por borde_azul">&nbsp;</th>
							<th class="w_30_por borde_azul pl_0">Nombre del local</th>
							<th class="w_15_por text-center">Publicar</th>
							<th class="w_50_por text-center">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="logica in logicas">
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0" ng-bind="logica.nombre" ng-click="show_editar(logica.id)"></td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<!--<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Angamos</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Javier Prado</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">El Polo</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Caminos del Inca</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Jockey</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Camino Real</td>
							<td class="text-center"><i class=" color_rojo fa fa-square-o"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">Salaverry</td>
							<td class="text-center"><i class="color_rojo fa fa-square-o"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0">28 de Julio</td>
							<td class="text-center"><i class="color_rojo fa fa-square-o"></i></td>
							<td class="bb_0">&nbsp;</td>
						</tr>-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="slide_flotante slide_p_logica" ng-show="estado">
		<div class="ffffff border_tabla ml_17 pt_10 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer" ng-click="close()"></i>
			</div>
			<div class="plr_15 h_Cond color_7fd0d9 bb_1 pb_10 mt_-10 f_16" ng-bind="title_slide">
				<span class="color_687a8b" ng-model="logica.nombre"></span>
			</div>
			<div class="overflow plr_15">
				<table class="table tabla_usuarios mt_10 color_7fd0d9">
					<thead>
						<tr>
							<th width="150" class="pl_0 pr_0 h_47_LightC" colspan="4">Grupos de atención</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">1</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">2</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">3</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">4</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">5</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">6</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">7</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">A</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">B</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="15" class="pl_0 pr_0 text-center"><i class="color_amarillo fa fa-circle"></i></td>
							<td width="30" class="text-center color_azul">I</td>							
							<td width="105" class="pl_0" colspan="2">Información</td>							
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td width="15" class="pl_0 pr_0 text-center"><i class="color_amarillo fa fa-circle"></i></td>
							<td width="30" class="text-center color_azul">T</td>							
							<td width="105" class="pl_0" colspan="2">Trámites</td>							
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td width="15" class="pl_0 pr_0 text-center"><i class="color_rojo fa fa-circle"></i></td>			
							<td width="30" class="text-center color_azul">C</td>							
							<td width="105" class="pl_0" colspan="2">Cobranzas</td>							
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>						
						<tr>
							<td width="15" class="pl_0 pr_0 text-center"><i class="color_amarillo fa fa-circle"></i></td>
							<td width="30" class="text-center color_azul">M</td>							
							<td width="105" class="pl_0" colspan="2">Mesa de partes</td>							
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td width="15" class="pl_0 pr_0 text-center"><i class="color_amarillo fa fa-circle"></i></td>
							<td width="30" class="text-center color_azul">A</td>							
							<td width="105" class="pl_0" colspan="2">Atención</td>							
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td width="15" class="pl_0 pr_0 text-center"><i class="color_azul fa fa-circle"></i></td>			
							<td width="30" class="text-center color_azul">P</td>							
							<td width="105" class="pl_0" colspan="2">Plataforma</td>							
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="overflow plr_15">
				<table class="table tabla_usuarios mt_10">
					<thead>
						<tr>
							<th colspan="4" width="150" class="pl_0 pr_0 h_47_LightC">Jerarquías</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">1</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">2</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">3</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">4</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">5</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">6</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">7</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">A</th>
							<th width="20" class="text-center h_47_LightC color_gris_oscuro">B</th>
						</tr>
					</thead>
					<tbody>
						<tr>					
							<td colspan="4"  width="150" class="pl_0">Clientes preferentes</td>							
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
						</tr>
						<tr>					
							<td colspan="4"  width="150" class="pl_0">Clientes regulares</td>							
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
						</tr>
						<tr>						
							<td colspan="4"  width="150" class="pl_0">No clientes</td>							
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class=" color_rojo fa fa-square-o"></i></td>
							<td width="20" class="text-center h_47_LightC "><i class="fa fa-check-square-o"></i></td>
						</tr>	
					</tbody>
				</table>
			</div>
			<div class="text-center boton_guardar pt_1">
				<i ng-show="act_btn_up" class="dbe4e9 f_90 fa fa-check-circle pointer" ng-click="actualizar()"></i>
			</div>
		</div>
	</div>
</div>