<h1 class="color_gris_oscuro h_37_ThinC"><span class="color_verde h_47_LightC">Bienvenido</span> a htpGO Queuing Console</h1>
<div class="row configuracion">								
	<div class="col-lg-6 col-md-6 pb_3em">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="circle">									
					<a href="#"><i class="fa fa-gear f_55"></i></a>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">				
				<h2 class="color_gris_oscuro h_37_ThinC">Configuración <i class="fa fa-angle-right color_verde"></i></h2>
				<p>Administra los roles, usuarios,<br>estilos y la configuración de<br>seguridad de las aplicaciones.</p>				
			</div>
		</div>								
	</div>							
	<div class="col-lg-6 col-md-6 pb_3em">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="circle">									
					<a href="#"><i class="fa fa-flask f_48"></i></a>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">				
				<h2 class="color_gris_oscuro h_37_ThinC">Planificación <i class="fa fa-angle-right color_verde"></i></h2>
				<p>Define los locales, puntos de<br>atención, jerarquías, criterios y<br>lógica a utilizar en la atención.</p>				
			</div>
		</div>								
	</div>							
	<div class="col-lg-6 col-md-6 pb_3em">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="circle">									
					<a href="#"><i class="fa fa-film f_47"></i></a>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">				
				<h2 class="color_gris_oscuro h_37_ThinC">Video <i class="fa fa-angle-right color_verde"></i></h2>
				<p>Organiza los videos que deseas<br>mostrar a tus clientes en las<br>pantallas de los locales.</p>			
			</div>
		</div>								
	</div>							
	<div class="col-lg-6 col-md-6 pb_3em">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="circle">									
					<a href="#"><i class="fa fa-hand-o-right f_55"></i></a>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">				
				<h2 class="color_gris_oscuro h_37_ThinC">Atención <i class="fa fa-angle-right color_verde"></i></h2>
				<p>Utiliza nuestras herramientas para<br>simplificar la atención y reducir el<br>tiempo de espera.</p>
			</div>
		</div>								
	</div>							
	<div class="col-lg-6 col-md-6 pb_3em">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="circle">									
					<a href="#"><i class="fa fa-bar-chart f_47"></i></a>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">				
				<h2 class="color_gris_oscuro h_37_ThinC">Reportes <i class="fa fa-angle-right color_verde"></i></h2>
				<p>Utiliza poderosos filtros<br>estádisticos para monitorear la<br>actividad de tus clientes.</p>				
			</div>
		</div>								
	</div>			
</div>