<div class="row">
	<div class="col-lg-8 col-md-8 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿Qué <span class="color_verde h_47_LightC">Estilos</span> usas en tus aplicaciones?</h1>
		<div class="ffffff border_tabla pt_4em ml_17">
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Estilos para aplicaciones htpGO</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Estilos para la consola</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Estilos para el kiosko</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="active">
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Estilos para la presentación de videos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Estilos para la aplicación móvil</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
	</div>
</div>