<div class="row">
	<div class="col-lg-8 col-md-8 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿Qué <span class="color_verde h_47_LightC">Estilos</span> usas en tus aplicaciones?</h1>
		<div class="col-lg-10 col-md-10">		
			<div class="ffffff border_tabla pt_4em ml_17">
				<table class="table tabla_usuarios">
					<thead>
						<tr>
							<th width="2" class="borde_azul">&nbsp;</th>
							<th width="35" class="borde_azul pl_0">Estilos para aplicaciones htpGO</th>
							<th width="63" >&nbsp;</th>
						</tr>
					</thead>
					<tbody class="color_687a8b">
						<tr class="active">
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0"><a href="#/configurar/estilos/consola">Estilos para la consola</a></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0"><a href="#/configurar/estilos/kioscos_generales">Estilos para los kioscos</a></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0"><a href="#/configurar/estilos/videos_generales">Estilos para la presentación de videos</a></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
						<tr>
							<td class="bb_0">&nbsp;</td>
							<td class="pl_0"><a href="#/configurar/estilos/moviles">Estilos para la aplicación móvil</a></td>
							<td class="bb_0">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
	</div>
	<div class="slide_flotante slide_p_atencion">
		<div ng-include="estilo"></div>
	</div>
</div>