<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿Cómo funcionarán tus <span class="color_verde h_47_LightC">Kioscos</span>?</h1>
	</div>
	<div class="col-lg-12 col-md-12">
		<div class="ffffff border_tabla color_gris_oscuro ml_17">
			<div class="col-lg-5 col-md-5 ">
				<div class="mt_30 formato_logicak ml_10">
					<span class="h_Cond color_celeste">Mecanismos de lectura:</span><br>
						<i class="f_32 fa fa-credit-card"></i>
						<span class="formato_l_h"><i class="color_rojo fa fa-square-o"></i>Código de barras</span>
						<span class="formato_l_h"><i class="fa fa-check-square-o"></i>Código de banda magnetica</span>
						<span class="formato_l_h ml_44 pb_1em"><i class="color_rojo fa fa-square-o"></i>Digitación de código con teclado</span>

					<span class="h_Cond color_celeste f_14">Mecanismos de identificación alterna:</span><br>
						<span><i class="f_32 fa fa-user"></i></span>
						<span class="formato_l_h"><i class="fa fa-dot-circle-o"></i>Tienes que identificarte</span>
						<span class="formato_l_h pb_1em"><i class="color_rojo fa fa-circle-o"></i>No necesitas identificarte</span>
						
					<span class="h_Cond color_celeste f_14">Tiempo de espera para reiniciar el kiosco:</span><br>
						<i class="f_32 fa fa-undo"></i>
						<span><input type="text" class="input_for" placeholder="60">Segundos</span>
				</div>
			</div>
			<div class="col-lg-7 col-md-7">
				<img class="mr_15 mt_30 w_100_por" src="./static/img/kiosco.png" alt="">
			</div>
			<div class="pb_1-5em col-lg-12 col-md-12 text-center"><i class="pt_20 dbe4e9 f_90 fa fa-check-circle"></i></div>
			
		</div>

	</div>
	<div class="col-lg-4 col-md-4">
	</div>
</div>