<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿Cómo funcionarán tus <span class="color_verde h_47_LightC">Kioscos</span>?</h1>
	</div>
	<div class="col-lg-11 col-md-11">
		<div class="ffffff border_tabla color_gris_oscuro ml_17">
			<div class="row">
				<div class="col-lg-5 col-md-5">
					<div class="mt_30 ml_17">
						<span class="h_Cond color_celeste f_14">Mecanismos de lectura:</span><br>
						
						
					</div>
					<div class="mt_30 ml_17">
						<span class="h_Cond color_celeste f_14">Mecanismos de identificación alterna:</span><br>
						
						
					</div>
					<div class="mt_30 ml_17">
						<span class="h_Cond color_celeste f_14">Tiempo de espera para reiniciar el kiosco:</span><br>
						
						
					</div>
				</div>
				<div class="col-lg-7 col-md-7 text-right">
					<img class="mr_15 mt_30 w_90_por" src="./static/img/KioskDNI.jpg" alt="">
				</div>
				
			</div>
			<div class="text-center pt_1 pb_1em"><i class="dbe4e9 f_5em fa fa-check-circle"></i></div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
	</div>
</div>