<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em f_33">¿Qué <span class="color_verde h_47_LightC">Peticiones de Acceso</span> has recibido?</h1>
	</div>
	<div class="col-lg-10 col-md-11">		
		<div class="ffffff border_tabla pt_4em ml_17">
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Nombre del usuario</th>
						<th>Rol asignado</th>
						<th>Locales</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Juan Perez</td>
						<td>Planificador</td>
						<td>Todos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="active">
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Enrique Casas</td>
						<td>Supervisor</td>
						<td>Javier Prado, Angamos, Benavides</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Inés Rodríguez</td>
						<td>Atención</td>
						<td>Javier Prado</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Juan Pablo Montero</td>
						<td>Dirección</td>
						<td>Todos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Alicia Cardenas</td>
						<td>Supervisor de saturación</td>
						<td>Todos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="slide_flotante slide_peticiones">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond bb_1 pb_03em mt_0 color_7fd0d9 f_16">Responder petición</div>
			<div class="plr_15 pt_1">
				<p class="h_47_LightC">
					Esta solicitud de acceso fue generada por<br>
					<span class="color_7fd0d9">Enrique Casas</span> al intentar ingresar desde<br>
					una ubicación desconocida
				</p>
			</div>
			<div class="plr_15">	
				<label for="" class="h_47_LightC mb_0 color_687a8b">Seleccionar acción</label><br>
				<select name="" id="" class="h_47_LightC w_100_por input_for">
					<option>Aceptar petición</option>
				</select>
			</div>
			<div class="plr_15 pt_1 color_7fd0d9">	
				<i class="fa fa-envelope-o"></i> <span class="h_47_LightC">Enviar correo</span>
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
			</div>
		</div>
	</div>
</div>