<div class="row">
	<div class="col-lg-10 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC">¿Qué <span class="color_verde h_47_LightC">Peticiones de Acceso</span> has recibido?</h1>
		<div class="ffffff border_tabla pt_4em">
			<table width="100%">
				<thead>
					<tr>
						<th width="30%" class="borde_azul">Nombre del usuario</th>
						<th width="30%" class="text-left ml_0 borde_gris">Rol asignado</th>
						<th width="40%" class="text-left ml_0 borde_gris" colspan="2">Locales</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div>Juan Perez</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Planificador</div></td>
						<td><div class="ml_0 pr_1em text-left">Todos</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Enrique Casas</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Supervisor</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Javier Prado, Angamos, Benavides</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Inés Rodriguez</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Atención</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Javier Prado</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Juan Pablo Montero</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Dirección</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Todos</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Alicia Cardenas</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Supervisor de saturación</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Todos</div></td>
						<td class="">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>