<div class="row">
	<div class="col-lg-7 col-md-7">
		<h1 class="color_gris_oscuro h_37_ThinC">¿Qué <span class="color_verde h_47_LightC">Roles</span> tiene tu organización?</h1>
		<div class="ffffff border_tabla">
			<div class="text-right pb_2em h_47_LightC color_gris_oscuro mt_10 mr_10">
				Agregar rol <i class="f_23 color_verde fa fa-plus-circle"></i>
			</div>
			<table width="100%">
				<thead>
					<tr>
						<th width="40%" class="borde_azul">Nombre del rol</th>
						<th width="50%">&nbsp;</th>
						<th width="10%">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div>Administrador General</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-right">htpGO</div>
						</td>
						<td class="text-center">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Planificador</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-right">htpGO</div>
						</td>
						<td class="text-center">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Supervisor</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-right">htpGO</div>
						</td>
						<td class="text-center"><i class="fa fa-lock"></i></td>
					</tr>
					<tr>
						<td>
							<div>Atención</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-right">htpGO</div>
						</td>
						<td class="text-center">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Dirección</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-right">htpGO</div>
						</td>
						<td class="text-center">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Supervisor de saturación</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-right">&nbsp;</div>
						</td>
						<td class="text-center">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Planificador Lógico</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-right">&nbsp;</div>
						</td>
						<td class="text-center">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Seguridad</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-right">&nbsp;</div>
						</td>
						<td class="text-center">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-5 col-md-5">
		<div class="border_tabla ffffff">
			
			<form action="" method="post" autocomplete="off">
				<div>Editar Rol</div>
				<label for="">Nombre de rol</label>
				<input type="text" placeholder="Supervisor">
				<table width="100%">
					<thead>
						<tr >
							<th width="50%" colspan="2" class="text-left">Permisos</th>
							<th width="50%" colspan="2" class="text-right">Restablecer </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="80%" colspan="3" class="text-left">Configuracion - Roles</td>
							<td width="20%" class="text-right"><input type="checkbox"></td>
						</tr>
					</tbody>
				</table>
			</form>

		</div>
	</div>
</div>