<div class="row">
	<div class="col-lg-8 col-md-7 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿Qué <span class="color_verde h_47_LightC">Roles</span> tiene tu organización?</h1>
		<div class="ffffff border_tabla ml_17">
			<div class="col-lg-12 col-md-12 text-right mt_10 pb_1em">
				<a class="right" href="#">
					<span class="h_47_LightC color_gris_oscuro left pr_5 pt_4">Agregar rol </span>
					<i class="f_23 color_verde fa fa-plus-circle left"></i>
				</a>
			</div>
			<table class="table tabla_roles">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Nombre del rol</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Administrador general</td>
						<td class="text-right f_13 a4afb9">htpGO</td>
						<td class="text-center bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Planificador</td>
						<td class="text-right f_13 a4afb9">htpGO</td>
						<td class="text-center bb_0">&nbsp;</td>
					</tr>
					<tr class="active">
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Supervisor</td>
						<td class="text-right f_13 a4afb9">htpGO</td>
						<td class="text-center bb_0"><i class="fa fa-lock c596B79"></i></td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Atención</td>
						<td class="text-right f_13 a4afb9">htpGO</td>
						<td class="text-center bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Dirección</td>
						<td class="text-right f_13 a4afb9">htpGO</td>
						<td class="text-center bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Supervisor de saturación</td>
						<td class="text-right f_13 a4afb9">htpGO</td>
						<td class="text-center bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Planificador Lógico</td>
						<td class="text-right f_13 a4afb9">htpGO</td>
						<td class="text-center bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Seguridad</td>
						<td class="text-right f_13 a4afb9">htpGO</td>
						<td class="text-center bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
	<div class="slide_flotante">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_azul bb_1 pb_03em mt_0">Editar Rol</div>
			<div class="plr_15 pt_1">
				<label for="" class="h_47_LightC mb_0">Nombre del rol</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="Supervisor">
			</div>
			<div class="col-lg-12 col-md-12">
				<table class="table tabla_usuarios table_slide mt_10">
					<thead>
						<tr>
							<th class="pl_0 h_47_LightC">Permisos</th>
							<th class="text-right h_47_LightC pr_0 color_gris_oscuro pointer">Restablecer</th>
							<th clas="text-center"><i class="fa fa-undo pointer"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="pl_0" colspan="2">Configuración - Roles</td>
							<td class="text-center"><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Configuración - Usuarios</td>
							<td class="text-center"><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Configuración - Estilos</td>
							<td class="text-center"><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Configuración - Enlace a móviles</td>
							<td class="text-center"><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Planificación - Locales</td>
							<td class="text-center"><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Planificación - Grupo de atención</td>
							<td class="text-center"><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Planificación - Jerarquías</td>
							<td class="text-center"><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Planificación - Lógica</td>
							<td class="text-center"><i class=" color_rojo fa fa-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Atención - Atención de clientes</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Atención - Criterios de atención</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Atención - Mensajes de alerta</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Reportes - Clientes atendidos</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Reportes - Clientes salteados</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Reportes - Escaneos QR</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Reportes - Saturación</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
						</tr>
						<tr>
							<td class="pl_0" colspan="2">Reportes - Descarga de datos</td>
							<td class="text-center"><i class="fa fa-check-square-o"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text-center boton_guardar">
				<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
			</div>
		</div>
	</div>
</div>