<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿Qué configuracion de <span class="color_verde h_47_LightC">Seguridad</span> utilizaras?</h1> 
	</div>
	<div class="col-lg-7 col-md-8">		
		<div class="ffffff border_tabla pt_4em ml_17">
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Opciones de seguridad</th>
						<th>Frecuencia</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr class="active">
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Actualización de código de autenticación</td>
						<td>Una vez al mes</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Actualización de código en kioscos</td>
						<td>Nunca actualizar</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-3 col-md-3">
	</div>
</div>