<div class="row">
	<div class="col-lg-9 col-md-9 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC">¿Qué configuracion de <span class="color_verde h_47_LightC">Seguridad</span> utilizaras?</h1> 
		<div class="row">
			<div class="col-lg-9 col-md-9">
				<div class="ffffff border_tabla pt_4em ml_17">
					<table width="100%">
						<thead>
							<tr>
								<th width="70%" class="borde_azul">Opciones de seguridad</th>
								<th width="30%" class="text-left ml_0 borde_gris">Frecuencia</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td >
									<div class="">Actualización de código de autenticación</div>
								</td>
								<td><div class="ml_0">Una vez al mes</div></td>
							</tr>
							<tr>
								<td >
									<div class="">Actualización de código en kioscos</div>
								</td>
								<td><div class="ml_0">Nunca Actualizar</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3">
	</div>
</div>