<div class="row">
	<div class="col-lg-10 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC">¿Qué <span class="color_verde h_47_LightC">Usuarios</span> necesita tu organización?</h1>
		<div class="ffffff border_tabla ml_17">
			<div class="text-right h_47_LightC color_gris_oscuro mt_10 mr_10">
				Agregar usuario <i class="f_23 color_verde fa fa-plus-circle"></i><br>
			</div>
			<div class="text-left pl_87 pb_2em h_47_LightC color_gris_oscuro">
				<span class="mr_5">Local asignado</span>
				<select name="local" class="combx">
				  <option value="todos">Todos</option>
				  <option value="angamos">Angamos</option>
				  <option value="benavides">Benavides</option>
				  <option value="javier-prado">Javier Prado</option>
				</select> 
			</div>
			<table width="100%">
				<thead>
					<tr>
						<th width="30%" class="borde_azul">Nombre del usuario</th>
						<th width="30%" class="text-left ml_0 borde_gris">Rol asignado</th>
						<th width="40%" class="text-left ml_0 borde_gris" colspan="2">Locales</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div>Administrador <span class="f_14 color_gris_claro ml_10">htpGO</span></div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Administrador general</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Todos</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Juan Perez</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">htpGO</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Planificador</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Enrique Casas</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Supervisor</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Javier Prado, Angamos, Benavides</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Inés Rodriguez</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Atención</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Javier Prado</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Juan Pablo Montero</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Dirección</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Todos</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Alicia Cardenas</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Supervisor de saturación</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Todos</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Camilo Tovar</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Planificador Lógico</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Todos</div></td>
						<td class="">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<div>Miguel Angel Navarro</div>
						</td>
						<td>
							<div class="ml_0 pr_1em text-left">Seguridad</div>
						</td>
						<td><div class="ml_0 pr_1em text-left">Todos</div></td>
						<td class="">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>