<div class="row">
	<div class="col-lg-10 col-md-11 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿Qué <span class="color_verde h_47_LightC">Usuarios</span> necesita tu organización?</h1>
		<div class="ffffff border_tabla ml_17">
			<div class="col-lg-12 col-md-12 text-right mt_10 pb_1em">
				<a class="right" href="#">
					<span class="h_47_LightC color_gris_oscuro left pr_5 pt_4">Agregar usuario </span>
					<i class="f_23 color_verde fa fa-plus-circle left"></i>
				</a>
			</div>			
			<div class="h_47_LightC col-lg-11 col-md-11 col-lg-offset-1 col-md-offset-1 pb_1em">
				<span class="color_gris_oscuro left pr_1em pt_2">Local asignado </span>
				<select name="local" class="combx left">
				  	<option value="todos">Todos</option>
				  	<option value="angamos">Angamos</option>
				  	<option value="benavides">Benavides</option>
				  	<option value="javier-prado">Javier Prado</option>
				</select> 
			</div>
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Nombre del usuario</th>
						<th>Rol asignado</th>
						<th>Locales</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Administrador <span class="f_13 a4afb9">htpGO</span></td>
						<td>Administrador general</td>
						<td class="text-left">Todos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Juan Perez</td>
						<td>Planificador</td>
						<td class="text-left">Todos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="active">
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Enrique Casas</td>
						<td>Supervisor</td>
						<td class="text-left">Javier Prado, Angamos, Benavides</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Inés Rodriguez</td>
						<td>Atención</td>
						<td class="text-left">Javier Prado</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Juan Pablo Montero</td>
						<td>Dirección</td>
						<td class="text-left">Todos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Alicia Cardenas</td>
						<td>Supervisor de saturación</td>
						<td class="text-left">Todos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Camilo Tovar</td>
						<td>Planificador Lógico</td>
						<td class="text-left">Todos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Miguel Angel Navarro</td>
						<td>Seguridad</td>
						<td class="text-left">Todos</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="slide_flotante slide_usuarios">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_azul bb_1 pb_03em mt_0">Editar usuario</div>
			<div class="plr_15 pt_1">
				<label for="" class="h_47_LightC mb_0">Nombre del usuario</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="Enrique Casas">
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0">Correo electrónico del usuario</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="enrique.casas@email.com">
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0">Rol asignado</label><br>
				<select name="" id="" class="h_47_LightC w_100_por input_for">
					<option>Superior</option>
				</select>
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0">Locales <span>Limita los accesos a locales señalados</span></label><br>
				<select name="" id="" class="h_47_LightC w_100_por input_for">
					<option>3 Seleccionados</option>
				</select>
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
			</div>
		</div>
	</div>
</div>