<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
	<div class="plr_15 text-right">
		<i class="fa fa-times pointer"></i>
	</div>
	<div class="plr_15 h_Cond color_azul bb_1 pb_03em mt_0">Editar estilos para las aplicaciones moviles</div>
	<div class="overflow pt_1 plr_15">				
		<div class="text-right">
			<a class="pointer h_47_LightC color_gris_oscuro">Restablecer <i class="fa fa-undo pointer"></i></a>
		</div>
		<div class="e5edf0 marco_flotante overflow">
			<img src="./static/img/img_movil.png" alt="">				
			<div class="tabs overflow tabs_sin_a">
				<ul class="p_0 m_0">
					<li class="ffffff pointer color_azul h_47_LightC">Generales</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="plr_15 pt_1">
		<div class="pt_5 plr_15 h_47_LightC overflow pb_1em">
			<img class="left ico_movil" src="./static/img/img_movil_ico.png" alt="">
			<div class="left pl_10 pt_1">
				<span>Logo <span class="color_gris_claro">*.PNG 220x220</span></span><br>
				<input class="w_160 input_for h_47_LightC" type="text">
				<i class="fa fa-search color_gris_oscuro"></i>
			</div>
		</div>
		<div class="pt_5 plr_15 h_47_LightC overflow">		
			<label class="left w_180">Color institucional (Fondo)</label>
			<div class="relative left">			
				<input class="w_32 input_for" type="text"> 
				<div class="cuadro_color cuadro_color_r_3"></div>
			</div>
		</div>
		<div class="pt_1 plr_15">			
			<div class="pt_5 h_47_LightC overflow">		
				<label class=" w_180">Nombre empresa (Línea 1)</label>
				<input class="W_160 input_for" type="text" placeholder="CENTRO MEDICO"> 
			</div>
			<div class="pt_5 h_47_LightC overflow">		
				<label class="w_180">Nombre empresa (Línea 2)</label>
				<input class="W_160 input_for" type="text" placeholder="ROGER SULLIVAN"> 
			</div>
		</div>
		<div class="text-center boton_guardar pt_2">
			<i class="dbe4e9 f_90 fa fa-check-circle pointer"></i>
		</div>
	</div>				
</div>

