<div class="row">
	<div class="col-lg-10 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC">¿Qué <span class="color_verde h_47_LightC">Grupos de Atención</span> ofrecerás?</h1>
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div class="ffffff border_tabla ml_17">
					<div class="text-right pb_2em h_47_LightC color_gris_oscuro mt_10 mr_10">
						Agregar grupo de atención <i class="f_23 color_verde fa fa-plus-circle"></i>
					</div>
					<table width="100%">
						<thead>
							<tr>
								<th width="45%" class="borde_azul">Grupos de atención</th>
								<th width="15%">Inicial</th>
								<th width="15%">Color</th>
								<th width="25%">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div>Información</div>
								</td>
								<td>
									<div class="ml_0 text-center">I</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_amarillo fa fa-circle"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Tramites</div>
								</td>
								<td>
									<div class="ml_0 text-center">T</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_amarillo fa fa-circle"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Cobranzas</div>
								</td>
								<td>
									<div class="ml_0 text-center">C</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo fa fa-circle"></i></div>
								</td>
								<td class="text-right pr_1em"><i class="color_rojo fa fa-times"></i></td>
							</tr>
							<tr>
								<td>
									<div>Mesa de partes</div>
								</td>
								<td>
									<div class="ml_0 text-center">M</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_amarillo fa fa-circle"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Atencion</div>
								</td>
								<td>
									<div class="ml_0 text-center">A</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_amarillo fa fa-circle"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Plataforma preferente</div>
								</td>
								<td>
									<div class="ml_0 text-center">P</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_azul fa fa-circle"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Plataforma regular</div>
								</td>
								<td>
									<div class="ml_0 text-center">R</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_azul fa fa-circle"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Plataforma no cliente</div>
								</td>
								<td>
									<div class="ml_0 text-center">N</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_azul fa fa-circle"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>