<h1 class="color_gris_oscuro h_37_ThinC"><span class="color_verde h_47_LightC">Planifica</span> los criterios y la lógica involucrada en la atención</h1>
<div class="row configuracion">								
	<div class="col-lg-6 col-md-6 pb_3em">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="circle circle_gris">									
					<a href="#/planificacion/locales"><i class="fa fa-home f_4em"></i></a>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">
				<h2 class="color_gris_oscuro h_37_ThinC">Locales <i class="fa fa-angle-right color_verde"></i></h2>
				<p>Ingresa la relación de locales que<br>componen tu negocio incluyendo<br>sus ubicaciones.</p>
			</div>
		</div>								
	</div>							
	<div class="col-lg-6 col-md-6 pb_3em">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="circle circle_gris">									
					<a href="#/planificacion/gatencion"><i class="fa fa-crosshairs f_4em"></i></a>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">
				<h2 class="color_gris_oscuro h_37_ThinC">Grupos de atención <i class="fa fa-angle-right color_verde"></i></h2>
				<p>Define cuáles serán las jerarquías<br>o categorías de atención que<br>mostrarán tus tickets.</p>
			</div>
		</div>								
	</div>							
	<div class="col-lg-6 col-md-6 pb_3em">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="circle circle_gris">									
					<a href="#/planificacion/logica"><i class="fa fa-flask f_4em"></i></a>
				</div>
			</div>
			<div class="col-lg-8 col-md-8">
				<h2 class="color_gris_oscuro h_37_ThinC">Lógica <i class="fa fa-angle-right color_verde"></i></h2>
				<p>Configura cómo afecta cada<br>criterio el funcionamiento de la<br>aplicación de colas.</p>	
			</div>
		</div>								
	</div>			
</div>