<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿Cuáles son tus <span class="color_verde h_47_LightC">Clientes y Jerarquías</span>?</h1>
	</div>
	<div class="col-lg-7 col-md-7">
		<div class="contenedor_pestana border_tabla ml_17">
			<div class="tabs" id="pestanas">
				<ul class="m_0 p_0" id="lista">
					<li id="pestana1"><a href='#/planificacion/jerarquia/clientes'>Clientes</a></li>
					<li id="pestana2"><a href='#/planificacion/jerarquia/jerarquias'>Jerarquías</a></li>
					<li id="pestana3"><a href='#/planificacion/jerarquia/importar'>Importar datos</a></li>
				</ul>
			</div>
			<div id="contenidopestanas">
				<div ng-include="planificacion_jerarquia"></div>
			</div>
		</div>
	</div>
	<!-- 
	SLIDE TAB 1

	<div class="slide_flotante slide_usuarios">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_azul bb_1 pb_03em mt_0">Editar cliente / contacto</div>
			<div class="plr_15 pt_1">
				<label for="" class="h_47_LightC mb_0">Nombre de contacto</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="Guillermo Valdés">
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0">Jerarquía</label><br>
				<select name="" id="" class="h_47_LightC w_100_por input_for">
					<option>3 Seleccionados</option>
				</select>
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0">Identificación</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="09547623">
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-arrow-circle-right pointer"></i>
			</div>
		</div>
	</div>

	SLIDE TAB 2
	
	<div class="slide_flotante slide_usuarios">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_azul bb_1 pb_03em mt_0">Editar jerarquía</div>
			<div class="plr_15 col-lg-12-col-md-12 pt_1">
				<label for="" class="h_47_LightC mb_0">Nombre de la jerarquía</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="No Clientes">
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-arrow-circle-right pointer"></i>
			</div>
		</div>
	</div>
-->
</div>