<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿Cuáles son tus <span class="color_verde h_47_LightC">Clientes y Jerarquías</span>?</h1>
	</div>
	<div class="col-lg-7 col-md-7">
		<div class="contenedor_pestana border_tabla ml_17">
				<div id="pestanas">
					<ul class="m_0 p_0" id="lista">
						<li id="pestana1"><a href='javascript:cambiarPestanna(pestanas,pestana1);'>Clientes</a></li>
						<li id="pestana2"><a href='javascript:cambiarPestanna(pestanas,pestana2);'>Jerarquías</a></li>
						<li id="pestana3"><a href='javascript:cambiarPestanna(pestanas,pestana3);'>Importar datos</a></li>
					</ul>
				</div>
				<div id="contenidopestanas">
					<div id="cpestana1">
						<div class="col-lg-12 colmd-12 pt_1">
							<a class="cont_pestana_l" href="#">
								<span class="h_47_LightC left pr_5 pt_2">Agregar cliente</span>
								<i class="f_23 color_verde fa fa-plus-circle left"></i>
							</a>
							<span class="h_47_LightC pr_5 pt_2 pl_2em">Jerarquía</span>
							<select name="jerarquia" class="combx">
								<option value="todos">Todos</option>
							</select> 
							<a class="cont_pestana_r mr_10" href="#">
								<i class="f_23 color_verde fa fa-file-excel-o"></i>
							</a>
						</div>
						<table class="table tabla_usuarios f_15">
							<thead>
								<tr>
									<th class="borde_azul h_Cond">&nbsp;</th>
									<th class="borde_azul pl_0">Cliente / Contacto</th>
									<th class="text-center">Jerarquía</th>
									<th class="text-center">Identificación</th>
									<th>&nbsp;</th>
									<th class="bb_0">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Alejandro Castillo</td>
									<td class="text-center">Preferente</td>
									<td class="text-center">05467812</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>						
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Oswaldo Melendes</td>
									<td class="text-center">Preferente</td>
									<td class="text-center">06844267</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr class="active">
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Guillermo Valdez</td>
									<td class="text-center">Regular</td>
									<td class="text-center">09547623</td>
									<td class="text-right bb_0"><i class="color_rojo fa fa-times"></i></td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Veronica Rivas</td>
									<td class="text-center">No cliente</td>
									<td class="text-center">12587436</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Milagros Aguilera</td>
									<td class="text-center">Regular</td>
									<td class="text-center">15894675</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Edgar Granado</td>
									<td class="text-center">Regular</td>
									<td class="text-center">09587632</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Maria Elena Madrid</td>
									<td class="text-center">No cliente</td>
									<td class="text-center">08745423</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Paola Sosa</td>
									<td class="text-center">No cliente</td>
									<td class="text-center">16587426</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Jose Quijada</td>
									<td class="text-center">Preferente</td>
									<td class="text-center">07594687</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Francisco Arbelaez</td>
									<td class="text-center">Preferente</td>
									<td class="text-center">12847591</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Andreina Sanchez</td>
									<td class="text-center">Regular</td>
									<td class="text-center">13847524</td>
									<td class="text-right bb_0">&nbsp;</td>
									<td class="bb_0">&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="cpestana2">
						<a class="cont_pestana_r mr_10" href="#">
							<span class="h_47_LightC left pr_5 pt_2 ">Agregar jerarquía</span>
							<i class="f_23 color_verde fa fa-plus-circle left"></i>
						</a>
						<table class="table tabla_usuarios">
							<thead>
								<tr>
									<th class="borde_azul">&nbsp;</th>
									<th class="borde_azul pl_0">Jerarquías</th>
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th class="bb_0">&nbsp;</th>
								</tr>
							</thead>
							<tbody class="f_15">
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Clientes Preferentes</td>
									<td class="f_13 bb_0 a4afb9 color_celeste cursiva">maxima prioridad</td>
									<td class="text-center bb_0"></td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr>
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">Clientes Regulares</td>
									<td class="text-center bb_0"></td>
									<td class="text-center bb_0"></td>
									<td class="bb_0">&nbsp;</td>
								</tr>
								<tr class="active">
									<td class="bb_0">&nbsp;</td>
									<td class="pl_0">No Clientes</td>
									<td class="text-center bb_0"></td>
									<td class="text-center bb_0">
										<i class="f_23 color_celeste fa fa-angle-up"></i>
										<i class="f_23 color_celeste fa fa-angle-down"></i>
									</td>
									<td class="text-center bb_0"><i class="fa fa-lock c596B79"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="cpestana3" class="pestana_datos ">
						AQUI3
						<div class="pestana_datos">
							<span class"">PASO 1 <span class"f_23 color_celeste">Buscar</span></span>
							<div class="circle-search">
								<i class="color_blanco fa fa-search"></i>
								<span>Archivo<br>Formato<br></span>
								<span class="color_celeste">XLS</span>
							</div>
							<!--
							<div class="circle-search text-center">
								<a href="#"><i class="text-left color_blanco fa fa-search"></i></a>
								<span class="text-right">Archivo Formato XLS <br></span>
							</div>-->
							<span>Nombre del archivo de datos</span>
							<input type="text" placeholder="Clientes20151014.xls">
							<div class="boton-blue text-center">CONTINUAR</div>
							<span class="h_Cond">Detalles de la importacion <br></span>
								12548 Contactos cargados con exito <br>
								Archivo cagado: Clientes20151014.xls <br>
								Fecha de carga: 2015/10/14	
						</div>
					</div>
				</div>
			</div>
	</div>
	<!-- 
	SLIDE TAB 1

	<div class="slide_flotante slide_usuarios">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_azul bb_1 pb_03em mt_0">Editar cliente / contacto</div>
			<div class="plr_15 pt_1">
				<label for="" class="h_47_LightC mb_0">Nombre de contacto</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="Guillermo Valdés">
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0">Jerarquía</label><br>
				<select name="" id="" class="h_47_LightC w_100_por input_for">
					<option>3 Seleccionados</option>
				</select>
			</div>
			<div class="plr_15 pt_1">	
				<label for="" class="h_47_LightC mb_0">Identificación</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="09547623">
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-arrow-circle-right pointer"></i>
			</div>
		</div>
	</div>

	SLIDE TAB 2
	
	<div class="slide_flotante slide_usuarios">
		<div class="ffffff border_tabla ml_17 pt_5 pb_1em">
			<div class="plr_15 text-right">
				<i class="fa fa-times pointer"></i>
			</div>
			<div class="plr_15 h_Cond color_azul bb_1 pb_03em mt_0">Editar jerarquía</div>
			<div class="plr_15 col-lg-12-col-md-12 pt_1">
				<label for="" class="h_47_LightC mb_0">Nombre de la jerarquía</label><br>
				<input class="h_47_LightC w_100_por input_for" type="text" placeholder="No Clientes">
			</div>
			<div class="text-center boton_guardar pt_1">
				<i class="dbe4e9 f_90 fa fa-arrow-circle-right pointer"></i>
			</div>
		</div>
	</div>
	-->
</div>