<div class="row">
	<div class="col-lg-12 col-md-12 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC pb_03em">¿Qué <span class="color_verde h_47_LightC">Locales</span> contarán con htpGO?</h1>
	</div>
	<div class="col-lg-10 col-md-11">
		<div class="ffffff border_tabla pt_4em ml_17">
			<div class="col-lg-12 col-md-12 text-right mt_10 pb_1em">
				<a class="right" href="#">
					<span class="h_47_LightC color_gris_oscuro left pr_5 pt_4">Agregar local </span>
					<i class="f_23 color_verde fa fa-plus-circle left"></i>
				</a>
			</div>
			<table class="table tabla_usuarios">
				<thead>
					<tr>
						<th class="borde_azul">&nbsp;</th>
						<th class="borde_azul pl_0">Nombre del local</th>
						<th class="text-center">Ubicación</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Benavides</td>
						<td class="text-center"><i class="color_rojo fa fa-map-marker"></i></td>
						<td class="bb_0 text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr class="active">
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Angamos</td>
						<td class="text-center"><i class="fa fa-map-marker"></i></td>
						<td class="bb_0 text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Javier Prado</td>
						<td class="text-center"><i class="fa fa-map-marker"></i></td>
						<td class="bb_0 text-center"><i class="color_rojo fa fa-times"></i></td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">El Polo</td>
						<td class="text-center"><i class="fa fa-map-marker"></i></td>
						<td class="bb_0 text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Caminos del Inca</td>
						<td class="text-center"><i class="fa fa-map-marker"></i></td>
						<td class="bb_0 text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Jockey</td>
						<td class="text-center"><i class="color_rojo fa fa-map-marker"></i></td>
						<td class="bb_0 text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">Salaverry</td>
						<td class="text-center"><i class="fa fa-map-marker"></i></td>
						<td class="bb_0 text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
					<tr>
						<td class="bb_0">&nbsp;</td>
						<td class="pl_0">28 de Julio</td>
						<td class="text-center"><i class="fa fa-map-marker"></i></td>
						<td class="bb_0 text-center">&nbsp;</td>
						<td class="bb_0">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>