<div class="row">
	<div class="col-lg-10 col-md-10 pt_1-5em">
		<h1 class="color_gris_oscuro h_37_ThinC">¿Qué <span class="color_verde h_47_LightC">Locales</span> contarán con htpGO?</h1>
		<div class="row">
			<div class="col-lg-8 col-md-8">
				<div class="ffffff border_tabla ml_17">
					<div class="text-right pb_2em h_47_LightC color_gris_oscuro mt_10 mr_10">
						Agregar local <i class="f_23 color_verde fa fa-plus-circle"></i>
					</div>
					<table width="100%">
						<thead>
							<tr>
								<th width="40%" class="borde_azul">Nombre del local</th>
								<th width="20%">Ubicación</th>
								<th width="40%">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div>Benavides</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo fa fa-map-marker"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Angamos</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="fa fa-map-marker"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Javier Prado</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="fa fa-map-marker"></i></div>
								</td>
								<td class="text-right pr_1em"><i class="color_rojo fa fa-times"></i></td>
							</tr>
							<tr>
								<td>
									<div>El Polo</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="fa fa-map-marker"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Caminos del Inca</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="fa fa-map-marker"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Jockey</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="color_rojo fa fa-map-marker"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Camino Inca</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="fa fa-map-marker"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>Salaverry</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="fa fa-map-marker"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<div>28 de Julio</div>
								</td>
								<td>
									<div class="ml_0 text-center"><i class="fa fa-map-marker"></i></div>
								</td>
								<td class="text-right pr_1em">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
	</div>
</div>