<div id="cpestana1">
	<div class="col-lg-12 colmd-12 pt_1">
		<a class="cont_pestana_l" href="#">
			<span class="h_47_LightC left pr_5">Agregar cliente</span>
			<i class="f_23 color_verde fa fa-plus-circle left"></i>
		</a>
		<span class="h_47_LightC pr_5 pt_2 pl_2em">Jerarquía</span>
		<select name="jerarquia" class="combx">
			<option value="todos">Todos</option>
		</select> 
		<a class="cont_pestana_r mr_10" href="#">
			<i class="f_23 color_verde fa fa-file-excel-o"></i>
		</a>
	</div>
	<table class="table tabla_usuarios f_15">
		<thead>
			<tr>
				<th class="borde_azul h_Cond">&nbsp;</th>
				<th class="borde_azul pl_0">Cliente / Contacto</th>
				<th class="text-center">Jerarquía</th>
				<th class="text-center">Identificación</th>
				<th>&nbsp;</th>
				<th class="bb_0">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Alejandro Castillo</td>
				<td class="text-center">Preferente</td>
				<td class="text-center">05467812</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>						
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Oswaldo Melendes</td>
				<td class="text-center">Preferente</td>
				<td class="text-center">06844267</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr class="active">
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Guillermo Valdez</td>
				<td class="text-center">Regular</td>
				<td class="text-center">09547623</td>
				<td class="text-right bb_0"><i class="color_rojo fa fa-times"></i></td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Veronica Rivas</td>
				<td class="text-center">No cliente</td>
				<td class="text-center">12587436</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Milagros Aguilera</td>
				<td class="text-center">Regular</td>
				<td class="text-center">15894675</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Edgar Granado</td>
				<td class="text-center">Regular</td>
				<td class="text-center">09587632</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Maria Elena Madrid</td>
				<td class="text-center">No cliente</td>
				<td class="text-center">08745423</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Paola Sosa</td>
				<td class="text-center">No cliente</td>
				<td class="text-center">16587426</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Jose Quijada</td>
				<td class="text-center">Preferente</td>
				<td class="text-center">07594687</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Francisco Arbelaez</td>
				<td class="text-center">Preferente</td>
				<td class="text-center">12847591</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Andreina Sanchez</td>
				<td class="text-center">Regular</td>
				<td class="text-center">13847524</td>
				<td class="text-right bb_0">&nbsp;</td>
				<td class="bb_0">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>