<div id="cpestana3" class="pestana_datos ">
	AQUI3
	<div class="pestana_datos">
		<span class"">PASO 1 <span class"f_23 color_celeste">Buscar</span></span>
		<div class="circle-search">
			<i class="color_blanco fa fa-search"></i>
			<span>Archivo<br>Formato<br></span>
			<span class="color_celeste">XLS</span>
		</div>
		<span>Nombre del archivo de datos</span>
		<input type="text" placeholder="Clientes20151014.xls">
		<div class="boton-blue text-center">CONTINUAR</div>
		<span class="h_Cond">Detalles de la importacion <br></span>
		12548 Contactos cargados con exito <br>
		Archivo cagado: Clientes20151014.xls <br>
		Fecha de carga: 2015/10/14	
	</div>
</div>