<div id="cpestana2">
	<a class="cont_pestana_r mr_10" href="#">
		<span class="h_47_LightC left pr_5 pt_2 ">Agregar jerarquía</span>
		<i class="f_23 color_verde fa fa-plus-circle left"></i>
	</a>
	<table class="table tabla_usuarios">
		<thead>
			<tr>
				<th class="borde_azul">&nbsp;</th>
				<th class="borde_azul pl_0">Jerarquías</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th class="bb_0">&nbsp;</th>
			</tr>
		</thead>
		<tbody class="f_15">
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Clientes Preferentes</td>
				<td class="f_13 bb_0 a4afb9 color_celeste cursiva">maxima prioridad</td>
				<td class="text-center bb_0"></td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr>
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">Clientes Regulares</td>
				<td class="text-center bb_0"></td>
				<td class="text-center bb_0"></td>
				<td class="bb_0">&nbsp;</td>
			</tr>
			<tr class="active">
				<td class="bb_0">&nbsp;</td>
				<td class="pl_0">No Clientes</td>
				<td class="text-center bb_0"></td>
				<td class="text-center bb_0">
					<i class="f_23 color_celeste fa fa-angle-up"></i>
					<i class="f_23 color_celeste fa fa-angle-down"></i>
				</td>
				<td class="text-center bb_0"><i class="fa fa-lock c596B79"></i></td>
			</tr>
		</tbody>
	</table>
</div>